[2016-09-19 19:32] adurbin2 opened #1 "PilotBatch_RNASeq_20160919"
Three renamed Treehouse samples (TH01_0051, TH01_0052, and TH01_0053) to be run through RNASeq. These are from CHOC2 and have not been processed previously. They were manually renamed in advance of the programmatic process.

Note that TH01_0051 has two pairs of fastq for input: may need to be tarred.

Please park the output files here: /pod/pstore/groups/treehouse/backed_up/archive/output
and bam

[2016-09-19 20:55] rcurrie commented on #1
All samples have been uploaded to pipeline0, ready for processing

[2016-09-19 23:00] adurbin2 opened #2 "Routine_RNASeq_2ndBatch_20160920"
Three more Treehouse samples (TH01_0054, TH01_0055, and TH01_0057) to be run through RNASeq, probably starting on Tuesday Sep 20. These are from CHOC2 and have not been processed previously. They were manually renamed in advance of the programmatic process.

Note that TH01_0057 has three pairs of fastq for input: may need to be tarred.

Please park the output files here: /pod/pstore/groups/treehou

[2016-09-19 23:01] adurbin2 commented on #2
Assigning @vojp to observe --

[2016-09-20 19:12] cygao commented on #1
Currently running TH01_0052 and TH01_0053 on pipeline0, ETA 8-10 hours. The 3 sample run occurred some errors, need to do some looking in to. ETA 8-10 hours.

[2016-09-21 17:58] adurbin2 commented on #2
Closing issue, need to re-work the queue based on data quality.

[2016-09-21 21:09] adurbin2 opened #3 "Routine_RNASeq_THprocess_21Sep2016"
Creating a queue of the remaining eight CHOC2 samples, in rank order by priority/QC status.  These are not prospective samples; however, they need to be run with all due speed so that data can be included in the next Compendium.
[InputQueue_TH_RNASeq_21Sep2016.txt](https://github.com/UCSC-Treehouse/operations/files/486049/InputQueue_TH_RNASeq_21Sep2016.txt)

[2016-09-21 21:59] adurbin2 commented on #3
Updated version of the queue with ten samples included... @cygao please use these filenames for input.
InputQueue_TH_RNASeq_21Sep2016rev

[2016-09-22 21:44] adurbin2 commented on #3
Closing issue; the process is under revision.

[2016-09-22 21:44] #3 closed

[2016-09-22 22:10] adurbin2 commented on #1
@rcurrie @cygao Can we update this issue to clarify which samples have been processed to date? I need to know where to begin the manifest for the next batch of files.

[2016-09-22 23:09] cygao commented on #1
TH01_0052 and TH01_0053 have been processed and the rsem counts uploaded to medbook

[2016-09-22 23:24] adurbin2 commented on #1
OK thanks - just need the provenance for this batch & then I can close the issue --

[2016-09-23 17:20] adurbin2 opened #4 "Provenance_pastsamples_R6_and_R2"
These samples were run in early September, to pioneer the small batch Treehouse RNASeq process.  @rcurrie I think you used the dockerized version of RNASeq 2.0.8, but we'll need the full provenance for that batch of two - especially since they were run on a prospective basis.

You may want to include the check that Ellen did to verify that your outputs and the outputs we eventually got from the Co

[2016-09-23 17:39] adurbin2 opened #5 "Routine_RNASeq_THbatch02_20160923"
This is the next set of six CHOC2 samples that need RNASeq processing. They are intended to enrich the next version of the data Compendium. Please update the issue as data become available.

[InputQueue_Routine_RNASeq_THbatch02_20160923.txt](https://github.com/UCSC-Treehouse/operations/files/490313/InputQueue_Routine_RNASeq_THbatch02_20160923.txt)

[2016-09-23 17:42] adurbin2 opened #6 "Routine_RNASeq_THbatch03_20160926"
This is the last four of the CHOC2 samples to be RNASeq-processed (after THbatch02 is completed). Not prospective samples, but there is some urgency since they are intended to enrich the next version of the data Compendium. Please update ticket as data become available.

[InputQueue_Routine_RNASeq_THbatch03_20160926.txt](https://github.com/UCSC-Treehouse/operations/files/490320/InputQueue_Routine_

[2016-09-27 06:10] cygao commented on #5
52-55 are ready for exporting. I cannot run 51 as there is no more storage space on pipeline/mnt and cannot ssh into the other pipelines.

[2016-09-27 15:36] adurbin2 commented on #5
@rcurrie I'm trying to run the scp command to copy the output tar.gz files over to Pod, but it doesn't seem to be working. There's a bam file for 0055 in the output folder (it belongs in a different place) and the command doesn't bring in the 0051 file I wanted.
Here's a copy of the window contents:
[adurbin@podk ~]$ cd /pod/pstore/groups/treehouse/backed_up/archive/output/
[adurbin@podk /pod/psto

[2016-09-27 16:11] rcurrie commented on #5
You're missing the destination for scp:

scp <source> <destination>

For example:

scp ubuntu@pipeline0.medbook.io:/outputs/TH01_0052_S01.tar.gz /foo/bar

will place TH01_0052_S01.tar.gz in the directory /foo/bar

[2016-09-27 17:17] rcurrie commented on #5
@cygao I fixed the ssh keys so you can now get between pipeline 0, 1, and 2. Ann is going to get everything she needs out of pipeline0 and then once this is closed suggest you wipe intake/outputs on 0 and start a new batch fresh.

[2016-09-27 18:09] adurbin2 commented on #5
OK I believe I have the tar.gz files (that's quick) and am doing the bams (fairly slow). I will post here to update when I have the files I need.

Rob, you provided a helpful command for listing the output file contents. I have a question about the file sizes I am getting - the bam file size varies from 2GB to 25 GB. Do we have a way to test whether the process resulted in sound data in /pod (befo

[2016-09-27 18:14] rcurrie commented on #5
At this point the only way is to look at the qc in the tar.gz. Once rnaseq 3.0 arrives we'll have a 'pass/fail' file in there to make it clearer.

[2016-09-27 18:16] adurbin2 commented on #5
Just realizing I am in the Wrong Issue for the samples we are discussing (52, 53, 54, 55). We will have to do a better job keeping these issues straight -

[2016-09-27 18:28] adurbin2 commented on #1
OK just to clarify: instead of the original three samples (51, 52, 53), this pilot batch ended up working with five samples (51, 52, 53, 54, 55), one of which (51) has since rolled into the second batch for processing. I'm now reporting that tar.gz and .bam files have been downloaded to destination folders for the final four samples:
**TH01_0052, TH01_0053, TH01_0054, and TH01_0055.**
I'm assuming

[2016-09-27 21:23] adurbin2 commented on #5
@rcurrie @cygao Fastqs for six samples TH01_0051, 0057, 0061, 0062, 0063, and 0064 have been loaded to the intake folder. The manifest (included in the top comment) has their full filenames. Are we good to start running this second batch today?

[2016-09-28 15:10] adurbin2 commented on #5
Here's a revised input list, with the corrected filenames - this will not trigger the issues with RNASeq2.0.8. The files themselves were already renamed.
[InputQueue_Routine_RNASeq_THbatch02_20160928.txt](https://github.com/UCSC-Treehouse/operations/files/498605/InputQueue_Routine_RNASeq_THbatch02_20160928.txt)

[2016-09-28 16:04] adurbin2 commented on #6
Here is an updated input file list, with the _p1of1 corrections to match filenames. Please comment in this issue when this set of files (TH01_0060, 0065, 0069, and 0072) is started.

[InputQueue_Routine_RNASeq_THbatch03_20160928.txt](https://github.com/UCSC-Treehouse/operations/files/498704/InputQueue_Routine_RNASeq_THbatch03_20160928.txt)

[2016-09-28 19:26] cygao commented on #5
All 3 machines were spooled up. 51, 57, 61 have been completed and placed on pipeline0:outputs. The others failed, I am investigating cause.

[2016-09-28 19:59] cygao commented on #5
3 remaining samples have been restarted. Errors seem to be resolved

[2016-09-28 21:55] adurbin2 commented on #5
Thanks Cameron! To date I've copied bams and output folders to /pod/pstore/groups/treehouse/backed_up/archive/input/bam or /pod/pstore/groups/treehouse/backed_up//archive/output
for these samples: 0051, 0052, 0053, 0054, 0055, 0057, and 0061.
That leaves samples 0062, 0063, and 0064 still to run for this issue. Please be sure to use the input filenames and keep the samples within their issue.

[2016-09-28 21:59] adurbin2 commented on #5
Oops, seems to be an issue with TH01_0061? zero bytes.

[2016-09-28 21:59] cygao commented on #5
The p2 files have been reallocated to p0, should be ready by tomorrow morning

[2016-09-29 23:04] cygao commented on #5
All batch samples have been processed. @adurbin2 please verify and copy to pod.

[2016-09-29 23:28] adurbin2 commented on #5
Four samples (0057, 0062, 0063, 0064) are finished up and I have removed the output tar.gz files to pod. Two generated zero-byte bams and need to go back into the process: 0051 and 0061.

@rcurrie @cygao  I can't do the command to bring the bams to pod: Permission denied. Here's the location spec:

scp ubuntu@pipeline0.medbook.io:/outputs/TH01_0057_RNASeq.sorted.bam /pod/pstore/groups/treehouse/ba

[2016-09-29 23:37] cygao commented on #5
0051 and 0061 (with empty bams) are currently being reprocessed.

[2016-09-29 23:45] rcurrie commented on #5
@adurbin2 all the files transferred to pod (good ones plus the two that are zero). I tried deleting 51 and then copying it again and it worked. Running scp again fails with the error you see which is because the files are write protected so its scp complaining that a file already exists. Not the most helpful error message but that's what's going.

[2016-09-29 23:45] rcurrie commented on #5
Here's what that folder on pod looks like:

$ ls -alh /pod/pstore/groups/treehouse/backed_up/archive/input/bam
total 87G
drwxrwxr-x 2 hbeale  pawg 2.0K Sep 29 16:38 .
drwxrwxr-x 4 hbeale  pawg 2.0K Sep 23 13:40 ..
-r--r--r-- 1 rcurrie pawg    0 Sep 29 16:38 TH01_0051_S01_RNASeq.sorted.bam
-r--r--r-- 1 adurbin pawg 8.7G Sep 27 10:40 TH01_0052_S01_RNASeq.sorted.bam
-r--r--r-- 1 adurbin pawg  24G Sep

[2016-09-30 00:14] adurbin2 opened #7 "Prospective_threeRNASeq_20160929"
Three samples have been provided by a UCSF contact for RNASeq analysis. Samples to be renamed as per Viviana's email (see below). These samples are to be run as high priority and can bump other RNASeq processes if need be.

These pair of files:
DAS18_S7_L002_R1_001.fastq.gz
DAS18_S7_L002_R2_001.fastq.gz

Will be renamed as such:
TH05_0109_S01_RNASeq_R1.fastq.gz
TH05_0109_S01_RNASeq_R2.fastq.gz

Th

[2016-09-30 01:22] rcurrie commented on #7
@hbeale is copying the files off the disk drive onto the pod right now. Once done I'll copy to pipeline0-2 and get the runs going and report back here.

[2016-09-30 02:11] rcurrie commented on #7
Files uploaded to pod, transferring over to pipline0-2

[2016-09-30 02:43] rcurrie commented on #7
RNASeq 2.0.8 pipeline started on 3 machines, one per sample

[2016-09-30 02:46] adurbin2 commented on #7
Great stuff -

[2016-09-30 05:30] rcurrie commented on #7
09 and 10 finished, 11 still running. Copying 09 and 10 outputs to pod for @hbeale to view qc and will upload rsem to medbook and report back.

[2016-09-30 05:50] rcurrie commented on #7
11 finished. 09 uploading to medbook.

[2016-09-30 06:32] rcurrie commented on #7
All three samples processed, outputs copied back to pod and expression levels loaded into medbook.
@hbeale & @adurbin2 I didn't have permission to write into the folder above the one the sources came from so I copied the tar.gz and bams into: /pod/pstore/groups/treehouse/newCollabOutputs

[2016-09-30 06:39] rcurrie commented on #5
@cygao Restarted 0051 on pipeline0 and 0061 on pipeline1

[2016-09-30 21:52] cygao commented on #5
@adurbin2  0061 has finished processing and the bam has been placed on /outputs

0051 is still running

[2016-10-03 19:52] cygao commented on #5
All files have been processed. 0051 and 0061 are ready to be copied to pod, bams appear to be normal.

@rcurrie With @adurbin2 out, who will be responsible for copying files?

[2016-10-03 19:52] cygao commented on #6
batch02 is complete, now working on this issue

[2016-10-04 22:51] cygao commented on #6
@rcurrie All files in batch are complete and ready to be copied to pod.

 Requesting creation of next batch + ticket.

[2016-10-05 03:12] rcurrie commented on #6
Copying

[2016-10-05 03:12] rcurrie commented on #6
Copying

[2016-10-05 18:47] rcurrie commented on #6
All files have been copied to pod and removed from pipeline0.

[2016-10-05 18:47] #6 closed

[2016-10-05 18:48] rcurrie commented on #5
All outputs have been copied to the pod, closing issue

[2016-10-05 18:48] #5 closed

[2016-10-05 18:49] rcurrie commented on #7
All samples process and moved to pod

[2016-10-05 18:50] rcurrie commented on #1
All samples have been processed and moved back to pod

[2016-10-05 18:50] #1 closed

[2016-10-05 18:51] rcurrie commented on #4
Closing in favor of a new issue focused squarely on provenance

[2016-10-05 18:51] #4 closed

[2016-10-05 21:35] rcurrie opened #8 "Upload files to MedBook"
@cameron please upload to medbook the expression levels from the following samples (located on pipeline0/outputs) if they have not already been uploaded:

-rwxrwx--- 1 adurbin pawg 116302405 Oct  5 08:46 TH01_0051_S01_RNASeq.tar.gz
-rwxrwx--- 1 adurbin pawg  87638106 Sep 27 10:20 TH01_0052_S01_RNASeq.tar.gz
-rwxrwx--- 1 adurbin pawg 113762791 Sep 27 10:20 TH01_0053_S01_RNASeq.tar.gz
-rwxrwx--- 1 a

[2016-10-06 16:50] cygao commented on #8
All files have been successfully uploaded and written to medbook

[2016-10-06 18:38] cameron commented on #8
YMMV asking @cameron for anything ;)

On Thu, Oct 6, 2016 at 9:50 AM, cygao <notifications@github.com> wrote:

[2016-10-06 19:37] rcurrie commented on #8
@cameron doh! Thanks!

[2016-10-06 20:10] rcurrie opened #9 "Process batch #84 manually"
repository-datasets-rnaseq-20161004
[manifest84.txt](https://github.com/UCSC-Treehouse/operations/files/514707/manifest84.txt)

[2016-10-06 21:15] rcurrie commented on #9
@hbeale is it ok to rename all to EGZxxxxxx_R1.fastq.gz, for example:

_EGAZ00001000235_81MK3ABXX_6_withJunctionsOnGenome_dupsFlagged.R1.fastq.gz
-> EGAZ00001000235_RNASeq_R1.fastq.gz

_EGAR00001077871_RNA-Seq_tumor_4116738_RNA.sorted.ubu2.fastq_pairs_R1.fq.gz
-> EGAR00001077871_R1.fastq.gz

Or are all the various comments post EGAxxxx important? Seems like they should really be in the meta.

[2016-10-06 21:19] hbeale commented on #9
agreed -- the various comments post EGAxxxx should be meta. I don't think
they need to be in the file name. If you make a note of the renames here, I
think that will be sufficient insurance.
tnx

On Thu, Oct 6, 2016 at 2:15 PM, Rob Currie <notifications@github.com> wrote:

[2016-10-07 16:15] rcurrie commented on #9
@cygao go ahead and start processing as currently named

[2016-10-07 19:27] cygao commented on #9
I have begun processing with file names intact

[2016-10-07 21:19] rcurrie commented on #9
Sorry, pause, Holly wants to change the names. She's going to do so and then I'll copy back to pipeline0 and we can start again, sorry.

[2016-10-07 21:19] rcurrie commented on #9
I deleted them all from pipeline0/intake. If you moved any to the other machines delete and we'll start again once the newly named files are ready.

[2016-10-07 23:16] cygao commented on #9
Got it, I am awaiting newly renamed files

[2016-10-08 01:17] rcurrie commented on #9
Files renamed by Holly on pod, copied to pipeline0/intake for processing as below. @cygao go ahead and start processing. If you have some done and want them moved back to pod before they are all done just pass this to me and I'll empty /outputs.

/pod/pstore/groups/treehouse/published-data/ICGC_Sep2016/EGAD00001000158/fastq/EGAZ00001000235.R1.fastq.gz
/pod/pstore/groups/treehouse/published-data/IC

[2016-10-08 02:52] cygao commented on #9
@hbeale Some files are named *.R1 and others _R1 (like past samples). Which naming convention should be used in the future?

[2016-10-08 02:55] cygao commented on #9
EGAD 55 -72 (6 total) are currently running across all pipelines.

[2016-10-08 04:56] cygao commented on #9
Multiple pipelines are giving errors such as

@rcurrie please advise

[2016-10-08 05:04] rcurrie commented on #9
Save the logs of the errors noting which file threw it, kill the job, and move on to another. File the name of the file and the error log here and put an @hbeale for Holly to take a look at the input file.

[2016-10-08 06:28] cygao commented on #9
pipeline0 and 1 have failed. I will investigate and restart

[2016-10-08 13:50] hbeale commented on #9
I've never  seen that error before. Troubleshooting ahead.

On Friday, October 7, 2016, cygao <notifications@github.com> wrote:

[2016-10-10 04:04] cygao commented on #9
I am hypothesizing that any files need to be renamed _R* instead of .R*. I will rename and rerun the samples and see what happens.

[2016-10-10 04:51] rcurrie commented on #9
Try _R* and make sure there are no periods before the _R*

(The fix to all that is in the 2.0.10 or greater I believe but the docker hasn't been vetted yet)

[2016-10-10 21:03] cygao commented on #9
I have replaced the periods with underscores, but the same error is returned

[2016-10-10 22:24] hbeale commented on #9
EGAR00001076555 is a lost cause for compendium freeze version 2. The same read ID has multiple entries in the fastq input. We need to revisit conversion from bam to fastq. We will try to do this before the processing freeze for version 3. Please let me know about any other samples you have with similar errors and I will examine them.

[2016-10-10 22:31] cygao commented on #9
@hbeale Could you please check the following files?

[2016-10-10 23:13] hbeale commented on #9
Sadly, I found problems with EGAR00001076556, EGAR00001076557, EGAR00001076558 as well as the previously reported EGAR00001076555. I did not see obvious problems in the first 40 lines of EGAZ00001000235; if it fails, please record the error and send it to me. An example of an informative error is "Read HWI-ST751:96:D07KCACXX:5:1101:12154:2775 is both unalignable and alignable".

[2016-10-11 01:42] cygao commented on #9
All samples (except the 4 with errors) are currently being run.

[2016-10-11 21:26] e-t-k commented on #8
Hi @cygao ,

I can't find the following samples in the "California Kids Cancer Comparison" data set. Did you upload them to a different data set ? Did they have an error?

-rwxrwx--- 1 adurbin pawg 116302405 Oct 5 08:46 TH01_0051_S01_RNASeq.tar.gz
-rwxrwx--- 1 adurbin pawg 111569757 Oct 5 08:46 TH01_0062_RNASeq.tar.gz
-rwxrwx--- 1 adurbin pawg 119073849 Oct 5 08:46 TH01_0063_RNASeq.tar.gz
-rw-r--r

[2016-10-11 21:33] e-t-k commented on #8
Since this is time sensitive so I'm going to do the following. Let me know any info you have on these samples - but please don't re-upload them yourself while I'm working with them.

- In the Study, remove TH01_0062_S01_RNASeq and replace with TH01_0062_RNASeq
- same for 0063

In the data set, upload 51, 62, 63, and 69 with the sample IDs found in archive/output.

[2016-10-11 21:41] hbeale commented on #9
Hi folks. Can I get an update before 8am tomorrow? Thanks.

[2016-10-11 22:47] cygao commented on #9
All good files have been completed and seem to be quality. I will copy over to pipeline0 once I get off class (5pm)

[2016-10-11 22:49] cygao commented on #8
I will adderess this issue once I get off class (5pm)

[2016-10-11 23:59] e-t-k commented on #8
Renamed the two sample IDs mentioned above , and uploaded the 4 samples mentioned above.

[2016-10-12 01:21] cygao commented on #9
Samples are writing to medbook

@rcurrie Please close issue once outputs are copied off.

[2016-10-12 01:33] rcurrie commented on #9
Copying outputs back to pod into published-data/ICGC_Sep2016/Batch84

@hbeale I'll then move into the respective study locations unless you'd prefer to look at them in one place first

[2016-10-12 04:05] rcurrie commented on #9
Copied to pod, ok to remove from pipeline

@cygao note there is a few stray bams in outputs:
-r--r--r--  1 rcurrie treehouse  9615183805 Oct 11 18:33 EGAR00001076555.sorted.bam
-r--r--r--  1 rcurrie treehouse  8834644739 Oct 11 18:42 EGAR00001076556.sorted.bam
-r--r--r--  1 rcurrie treehouse 11087230311 Oct 11 18:52 EGAR00001076557.sorted.bam
-r--r--r--  1 rcurrie treehouse 10084406272 Oct 11 19:0

[2016-10-12 04:05] rcurrie commented on #9
in /pod/pstore/groups/treehouse/published-data/ICGC_Sep2016/Batch84

-r--r--r--  1 rcurrie treehouse 12735889274 Oct 11 19:14 EGAR00001077871.sorted.bam
-rw-r--r--  1 rcurrie treehouse   105417282 Oct 11 20:30 EGAR00001077871.tar.gz
-r--r--r--  1 rcurrie treehouse  8274608990 Oct 11 19:22 EGAR00001077872.sorted.bam
-rw-r--r--  1 rcurrie treehouse    94085665 Oct 11 20:30 EGAR00001077872.tar.gz
-r-

[2016-10-12 18:56] e-t-k commented on #9
I am removing the following samples have been removed from the ckcc Data Set/ Study.
When done, please re-upload using the icgc study and EGAD-named data sets as listed in manifest84.txt in the first comment.

[X] ckcc/EGAR00001077872
[ ] ckcc/EGAR00001077871
[ ]ckcc/EGAR00001077876
[ ] ckcc/EGAR00001077873
[ ] ckcc/EGAR00001077874
[ ]ckcc/EGAZ00001000235
[ ]ckcc/EGAR00001077875

[2016-10-12 18:57] rcurrie commented on #9
I've moved the bam and tar.gz into the appropriate study folder on pod:
EGAR00001077871, EGAR00001077872, EGAR00001077873, EGAR00001077874, EGAR00001077875, EGAR00001077876 -> EGAD00001000281/bam & fastq

EGAZ00001000235 -> EGAD00001000158/bam & fastq

[2016-10-12 20:27] cygao commented on #9
Samples have been uploaded to correct ICGC location, currently writing. I will close issue once all are successfully written.

[2016-10-17 23:17] e-t-k commented on #8
@cygao What's the status of this?

I have now checked all the files listed in the issue (instead of just the 4 that were time-sensitive) and I notice that the following 3 samples are also not uploaded to the CKCC data set in medbook:

TH01_0057_RNASeq
TH01_0064_RNASeq
TH01_0072_S01_RNASeq

it turns out that these should, in fact, be excluded from the CKCC data set, so it's convenient that they are

[2016-10-18 05:32] rcurrie opened #10 "Run QC manually on bams"
Run docker hbeale/treehouse_bam_qc:1.0 on

EGAD00001001620_ICGC_MB12.sorted.bam
EGAD00001001944_ICGC_GBM5_RNA-seq.sorted.bam
EGAD00001001620_ICGC_MB90.sorted.bam

from:

/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/bams/

[2016-10-18 05:51] rcurrie commented on #10
@cygao Started processing all three, one per pipeline0-2

@hbeale any guess as to how many we could do on the same machine? Looks like it isn't really that much and we could run several on a single pipeline class machine?

[2016-10-18 05:56] rcurrie commented on #10
@hbeale Errors: I tried running launching into /bin/sh to verify the file in /data was there and it was. Will try again tomorrow morning:

ubuntu@pipeline0:/mnt/qc$ docker run -it --rm -v `pwd`/EGAD00001001620_ICGC_MB12:/data hbeale/treehouse_bam_qc:1.0
runQC.sh

sambamba-sort: Error reading BGZF block starting from offset 3024881618: stream error: not enough data in stream
samblaster: Version 0.1

[2016-10-18 16:21] rcurrie commented on #10
Looks like first one has problematic data, moving on to second:

File: EGAD00001001620_ICGC_MB12.sorted.bam

root@51b90b9239b0:/# sambamba sort --tmpdir /data -t 4 --sort-by-name --out  /data/rnaAligned.sortedByName.bam /data/rnaAligned.sortedBy
sambamba-sort: Cannot open or create file '/data/rnaAligned.sortedBy' : No such file or directory
root@51b90b9239b0:/# Coord.out.bam^C
root@51b90b9239b0:/

[2016-10-18 16:27] rcurrie commented on #10
I'm thinking the script, or data has a bug, second file has same issue (I'm running docker but into /bin/bash and then running the first line of the shell script to debug. Looks like the data is there find):

root@0adee531158f:/# sambamba sort --tmpdir /data -t 4 --sort-by-name --out  /data/rnaAligned.sortedByName.bam /data/rnaAligned.sortedByCoord.out.bam
sambamba-sort: Error reading BGZF block s

[2016-10-18 17:18] hbeale commented on #10
Luckily (?) the approach of analyzing the smallest files first targeted the
ones that had format problems. I've screened all bams for the issue and I'm
making a request to Jeltje to see if she can fix it (she's been able to
before).

Details:

for i in *.bam ; do echo -n $i; samtools view -h $i | head -1 ; done 2>&1 |
grep '\['
EGAD00001001620_ICGC_MB110.sorted.bam[bam_header_read] EOF marker is
a

[2016-10-19 22:35] cygao commented on #8
@e-t-k On my end, it seems that I have (at least attempted to) upload these samples to Medbook in the past. Perhaps they were deleted after upload?

[2016-10-19 22:38] e-t-k commented on #8
@cygao Can you look through your wrangler history, find the submission that lists these samples, &  send me the URL? Thanks.

[2016-10-19 22:47] cygao commented on #8
57:

Error due to uploaded file named differently (no s01) than CKCC study's defined name

64

Same differences in file names as above

72

Seems to have uploaded fine

[2016-10-19 23:36] e-t-k commented on #8
@cygao Thank you Cameron. I've tracked these down. Closing the ticket as all submissions are now accounted for (these 3 tracked down; I didn't track down the 4 I reuploaded since it is not worth the effort now that they are definitely present.)

Based on what we've learned, there's two things you need to do differently.

1. When you import a sample using any name that is different from the exact n

[2016-10-19 23:36] #8 closed

[2016-10-24 16:00] adurbin2 opened #11 "Prospective_RNASeq_TH-Stanford_20161024"

[2016-10-24 16:02] adurbin2 commented on #11
New data from Stanford, includes prospective data, with very high urgency to report at Nov 3 tumor board.

[2016-10-24 16:25] adurbin2 commented on #11
@jeltje please check yr email for a request on this new data -

[2016-10-24 16:33] adurbin2 commented on #11
#Data from Stanford dropped into /cgl-inbox-ckcc-stanford
#Encrypted; Jeltje will need to decrypt & move to pod
#Files will need to be renamed prior to running RNASeq, according to this table:
#Current	Rename
S1.tar	TH03_0012_S01_RNASeq
S2.tar	TH03_0113_S01_RNASeq
S3.tar	TH03_0013_S02_RNASeq
S4.tar	TH03_0010_S02_RNASeq
S5.tar	TH03_0025_S02_RNASeq
S6.tar	TH03_0114_S01_RNASeq
S7.tar	TH03_0115_S01_RN

[2016-10-24 16:37] adurbin2 commented on #11
#Data from Stanford dropped into /cgl-inbox-ckcc-stanford
#Encrypted; Jeltje will need to decrypt & move to pod
#Will need to be renamed prior to running RNASeq
#Note samples S4 and S5 are second samples from prior TH individuals
#Note samples S1-S12 and S2-S3 are multiples of new individuals
#Rename per the following table:
#Current	Rename
S1.tar	TH03_0112_S01_RNASeq
S2.tar	TH03_0113_S01_RNASeq
S

[2016-10-24 17:17] adurbin2 commented on #11
Hi Rob @rcurrie,
Data are here:  /pod/pstore/groups/treehouse/backed_up/Stanford/RNA-Seq/fastq/Downloads

Priority ranking per Avanthi is:
S10
S7
S6
S1
S12
S4
S2
S3
- and then S5, S8, S9.

[2016-10-24 17:22] adurbin2 commented on #11
@rcurrie let me get them renamed/moved before you start the machines...

[2016-10-24 18:20] adurbin2 commented on #11
The tar files, renamed, are located here (run in this order please):

/pod/pstore/groups/treehouse/backed_up/archive/input/TH03_0118_S01_RNASeq.tar
/pod/pstore/groups/treehouse/backed_up/archive/input/TH03_0115_S01_RNASeq.tar
/pod/pstore/groups/treehouse/backed_up/archive/input/TH03_0114_S01_RNASeq.tar
/pod/pstore/groups/treehouse/backed_up/archive/input/TH03_0112_S01_RNASeq.tar
/pod/pstore/groups

[2016-10-24 19:10] adurbin2 commented on #11
@rcurrie @cygao
I am loading the first three sample to the pipeline0 machine now...

[2016-10-24 19:43] cygao commented on #11
Currently running high-priority samples, one per pipeline

[2016-10-24 22:17] adurbin2 commented on #11
@cygao OK - Alex's removed/replaced S2 files have now been obtained and added to pipeline0 as
TH03_0113_S02_RNASeq_R1.fastq.gz, TH03_0113_S02_RNASeq_R2.fastq.gz

You can drop them in along with the other TH03_0113 files, or at the end of the queue (they were not the highest priority).

[2016-10-24 22:29] cygao commented on #11
@adurbin2 I have received the TH03_0113_S02 samples. The queue is currently flexible, I will follow the original priority designations.

[2016-10-25 05:01] cygao commented on #11
@rcurrie @adurbin2 The first batch has completed. Running next batch with defined priority.
TH03_0112_S01
TH03_0010_S02
TH03_0113_S01

[2016-10-25 05:51] rcurrie commented on #11
Excellent! Great work Cameron. When I get there first thing in the am I'll check on them with Ellen.

[2016-10-25 13:10] rcurrie commented on #11
Second batch completed:

@e-t-k  I've copied all the tar.gz and bams to pipeline0.medbook.io:/outputs for direct uploading to MedBook this morning:

TH03_0010_S02_RNASeq.sorted.bam
TH03_0113_S01_RNASeq.sorted.bam
TH03_0115_S01_RNASeq.sorted.bam
TH03_0010_S02_RNASeq.tar.gz
TH03_0113_S01_RNASeq.tar.gz
TH03_0115_S01_RNASeq.tar.gz
TH03_0112_S01_RNASeq.sorted.bam
TH03_0114_S01_RNASeq.sorted.bam
TH03_01

[2016-10-25 13:41] rcurrie commented on #11
Started next batch on pipeline0-2:

TH03_0112_S02_RNASeq
(**NOTE** this was earlier in the lineup but skipped over probably as it is an S02)
TH03_0117_S01_RNASeq
TH03_0116_S01_RNASeq

[2016-10-25 16:09] e-t-k commented on #11
for reference, TH03_0112_S02_RNASeq was pushed down in the lineup because the files were replaced at the last minute, so the updated versions weren't available yet when the first batch of files began processing.

[2016-10-25 16:52] e-t-k commented on #11
The first 6 samples (2 batches) are now available in MedBook data set "Treehouse Prospectives 2016.10.14".

TH03_0112_S01_RNASeq
TH03_0114_S01_RNASeq
TH03_0118_S01_RNASeq
TH03_0010_S02_RNASeq
TH03_0113_S01_RNASeq
TH03_0115_S01_RNASeq

[2016-10-25 23:24] e-t-k commented on #11
Also, please don't delete any of these off of pipeline0 until we've confirmed that all the outputs (tgz + bam) are copied over to pod; I know that the bams have NOT yet been copied, for example.

[2016-10-25 23:34] cygao commented on #11
@rcurrie @adurbin2  Final 2 samples are running

[2016-10-26 07:48] cygao commented on #11
@rcurrie @adurbin2 All 11 samples have been processed, bams ready to be copied from pipeline0's:/outputs into pod
TH03_0010_S02_RNASeq.sorted.bam
TH03_0025_S01_RNASeq.sorted.bam
TH03_0112_S01_RNASeq.sorted.bam
TH03_0112_S02_RNASeq.sorted.bam
TH03_0113_S01_RNASeq.sorted.bam
TH03_0113_S02_RNASeq.sorted.bam
TH03_0114_S01_RNASeq.sorted.bam
TH03_0115_S01_RNASeq.sorted.bam
TH03_0116_S01_RNASeq.sorted.ba

[2016-10-26 16:52] e-t-k commented on #11
The remaining 5 samples have been imported to MedBook "Treehouse Prospectives 2016.10.14" & medbook is now complete for this batch.

IMPORTANT NOTE:

The output of TH03_0025_**S02**_RNASeq was somehow renamed to TH03_0025_**S01**_RNASeq (It is S01 in the pipeline0/outputs folder). It appears to have been transformed pre-RNASeq pipeline as this new name appears in, eg the RSEM file headers.

It has

[2016-10-26 19:09] adurbin2 commented on #11
I believe the sample went into pipeline0 as TH03_0025_S02, but then was erroneously tarred into a file named TH03_0025_S01. Here's what I see:

/intake/TH03_0025_S02_RNASeq_R2.fastq.gz
/intake/TH03_0025_S02_RNASeq_R1.fastq.gz
/intake/TH03_0025_S01_RNASeq.tar

Ellen has renamed the output folder elements, and I've renamed the bam file.

[2016-10-26 19:15] adurbin2 commented on #11
Output folders have been copied to /pod/pstore/groups/treehouse/backed_up/archive/output
and bam files to
/pod/pstore/groups/treehouse/backed_up/archive/output/output_bams
for eleven samples:
TH03_0010_S02_RNASeq
TH03_0025_S02_RNASeq
TH03_0112_S01_RNASeq
TH03_0112_S02_RNASeq
TH03_0113_S01_RNASeq
TH03_0113_S02_RNASeq
TH03_0114_S01_RNASeq
TH03_0115_S01_RNASeq
TH03_0116_S01_RNASeq
TH03_0117_S01_RNASe

[2016-10-26 19:31] cygao commented on #11
@rcurrie okay to close issue?

[2016-10-27 15:41] adurbin2 commented on #11
I believe it went into pipeline0 as TH03_0025_S02, but then was tarred into
a file named TH03_0025_S01. Here's what I see:

/intake/TH03_0025_S02_RNASeq_R2.fastq.gz
/intake/TH03_0025_S02_RNASeq_R1.fastq.gz
/intake/TH03_0025_S01_RNASeq.tar

Ellen has renamed the output folder elements, and I've renamed the bam
file.

On Wed, Oct 26, 2016 at 9:52 AM, e-t-k <notifications@github.com> wrote:

--
*Ann

[2016-10-27 15:45] rcurrie commented on #11
Very likely my fault early in the process. Sorry, as penance I'll work for Ellen to build a system that doesn't rely on file names :-)

[2016-11-14 23:23] adurbin2 opened #12 "Repository_Monje_RNASeq_phs000900.v1.p1_20161116"

[2016-11-14 23:30] adurbin2 commented on #12
@klearned

[2016-11-15 01:18] rcurrie commented on #10
@hbeale does this still need to happen or is it old news?

[2016-11-17 07:28] klearned commented on #12
@adurbin2
Attached is the manifest file. Only the RNA-seq samples are now listed. I edited the commented-out lines at the beginning to update them and removed lines that were notes to only me. Is that right, or do you usually remove the commented lines altogether and place that info here in the ticket instead? Once I hear back from you, I'll assign to Cameron (what is his username?). Thanks!!
[phs

[2016-11-17 16:09] adurbin2 commented on #12
@klearned It looks good to me. @cygao (Cameron) please note that Katrina has used the new format for this manifest - sample name [tab] foo_1.fastq.gz,foo_2.fastq.gz  and that in the manifest, different output folders are specified for output tar.gz files, and for bams.

[2016-11-17 18:09] klearned commented on #12
Great! Thanks @adurbin2. Can you please assign to @cygao, I'm on my phone and can't see how! Thanks!

[2016-11-17 18:14] adurbin2 commented on #12
Ready for you Cameron! @cygao It's labeled Prospective, because the results are urgently wanted (no treatment decisions are waiting on it, but still urgent).

[2016-11-17 20:51] cygao commented on #12
I get out of class at 3, will run pipelines at that time. If urgent, Rob can run

[2016-11-17 20:52] adurbin2 commented on #12
@cygao I think 3 is all right -

[2016-11-17 20:53] cygao commented on #12
@adurbin2 I don't see any new samples on pipeline0 /intake. Have they been moved?

[2016-11-17 20:54] adurbin2 commented on #12
No - I had understood that you could load them now? Let's talk after your
class -- I can upload to pipeline0 if needed

On Thu, Nov 17, 2016 at 12:53 PM, cygao <notifications@github.com> wrote:

--
*Ann Durbin*
Treehouse Data Coordinator
Genomics Institute, UCSC

[2016-11-18 00:16] cygao commented on #12
scp /pod/pstore/groups/treehouse/published-data/dbGap/phs000900.v1.p1/data/fastq/SRR1988322_*.fastq.gz ubuntu@pipeline0.medbook.io:/intake ;
scp /pod/pstore/groups/treehouse/published-data/dbGap/phs000900.v1.p1/data/fastq/SRR1988323_*.fastq.gz ubuntu@pipeline0.medbook.io:/intake ;
scp /pod/pstore/groups/treehouse/published-data/dbGap/phs000900.v1.p1/data/fastq/SRR1988324_*.fastq.gz ubuntu@pipeline

[2016-11-18 00:19] adurbin2 commented on #12
Thank you @cygao for this script - loaded and running. @klearned this will upload all the files in your manifest to pipeline0, from which Cameron will manage them through RNASeq.

[2016-11-18 00:25] adurbin2 commented on #12
whups, passing it through GitHub stripped the asterisks... Cameron sent again via email. I may need to re-load it by chunks of nine files (pipeline0 capacity)

[2016-11-18 22:20] cygao commented on #12
@klearned Samples have been loaded into pipelines and are currently being processed. ETA Monday/Tuesday assuming no errors.

[2016-11-21 04:28] cygao commented on #12
@klearned New ETA End of Wednesday

[2016-11-23 20:36] cygao commented on #12
@klearned @adurbin2  Currently copying completed outputs over to pod. Might take a while...

[2016-11-23 21:03] klearned commented on #12
Great! Thanks for the update @cygao!

On Wed, Nov 23, 2016 at 12:36 PM, cygao <notifications@github.com> wrote:

[2016-11-24 03:56] cygao commented on #12
First attempt to copy failed, currently retrying

[2016-11-24 04:04] cygao commented on #12
@rcurrie @adurbin2 @klearned At current pod transfer speeds, all outputs will be copied in ~7 hours

[2016-11-24 04:33] klearned commented on #12
@cygao Oh wow. Every step of this process is so long!

[2016-11-24 04:34] klearned commented on #12
@cygao (not blaming you or anyone! just surprised at how long everything is taking)

[2016-11-24 05:25] cygao commented on #12
@klearned My computer is having trouble establishing a stable connection to pod. The session keeps having no response. Roughly a third of samples have been already transferred.

@rcurrie Please advise

[2016-11-24 05:31] klearned commented on #12
@cygao From a time point of view, since no one will do anything with them tonight or tomorrow  (or until Monday I'd assume). It is an issue though going forward how to get big datasets to pod successfully! It is an issue if you feel like you have to sit there and babysit them, though! Sorry, I am not helpful. Where are you copying them from?

[2016-11-24 05:33] rcurrie commented on #12
I talked with Jorge today about what might be going on but they haven't found a smoking gun yet. I'm connected to pod now as well but seem to be doing ok. As an alternative you can try logging into baazar.pod (ie klearned@baazar.pod). Its an ubuntu machine but same home directory and has pod access as well. Maybe see if that machine works better and if so we can narrow it down to something going o

[2016-11-24 05:39] cygao commented on #12
I was able to reestablish pod connectivity long enough to pass another scp command. Connection is still spotty, hopefully it can still copy from pipeline machines without issue.

@klearned I am copying from pipelines[0-2]

[2016-11-24 06:12] klearned commented on #12
@cygao got it

@rcurrie I was going to start converting .sra files I've downloaded to .fastq files now. My plan was to do three in parallel from /scratch. Will that slow @cygao down even more? If so, I'll hold off.

[2016-11-24 15:06] rcurrie commented on #12
It shouldn't as long as you're just accessing scratch which should be independant of pstore and have significantly more bandwidth.

[2016-11-24 15:13] klearned commented on #12
@rcurrie, OK, thanks. That was what I thought, but wanted to make sure!

[2016-11-24 17:02] cygao commented on #12
@klearned  I have verified that all files have been copied over

/pod/pstore/groups/treehouse/pipeline/Repository_Monje_RNASeq_phs00900.v1.p1_20161116

[2016-11-24 17:03] klearned commented on #12
@cygao wonderful! Thanks!

[2016-11-28 17:08] adurbin2 commented on #12
Good morning Katrina! @klearned
I was going to relocate the bams from Cameron's folder (thanks @cygao) to
/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/bams/phs000900.v1.p1MonjeDIPGbams

and the outputs to
/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/phs000900.v1.p1MonjeDIPG

- but I run into "permission denied". The folders exist and are empty. Wou

[2016-11-28 17:59] klearned commented on #12
@adurbin2 Good morning!
I just changed the permission on both folders. I went ahead and just tried to move the .bam files and got permission denied also. I see @cygao 's folder has a "sticky bit" which, from what I just read doing a google search, restricts what can be done with the files in the folder. Perhaps @cygao needs to change the permission of the folder or move the files himself? @cygao ,

[2016-11-28 20:27] cygao commented on #12
@adurbin2 I've done the chmod thing to the folder, you can try again.

[2016-11-28 23:34] cygao commented on #12
@adurbin2 What is the current status on the copy?

[2016-11-28 23:41] adurbin2 commented on #12
Quick look at /pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/bams/phs000900.v1.p1MonjeDIPGbams

shows 38 bam files... they appear to be intact after the copy. Haven't moved the output folders yet.

[2016-11-29 00:14] adurbin2 commented on #12
Looks like the outputs have been copied over too, to /pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/phs000900.v1.p1MonjeDIPG.
Thank you @cygao  - you are cleared to empty these data from pipeline!

[2016-11-29 01:54] cygao commented on #12
Great! Will move pipelines on to QC.

[2016-11-29 17:17] adurbin2 commented on #12
Reopening issue, checking for sample SRR1988361... I don't see it in the outputs folder - or in pipeline - am I missing it somehow? Or if not, @cygao can it be run please? I'd like to send the Monje data to Ellen/Medbook in one chunk if possible.

Here it is from the manifest:
SRR1988361	/pod/pstore/groups/treehouse/published-data/dbGap/phs000900.v1.p1/data/fastq/SRR1988361_1.fastq.gz,/pod/pstore/

[2016-11-29 18:10] cygao commented on #12
@adurbin2 I don't see SRR1988361 in /intake. Could you copy it over?

[2016-11-29 18:19] adurbin2 commented on #12
OK _1 and _2 should be there now --

[2016-11-29 18:28] cygao commented on #12
Running missing SRR1988361

[2016-11-29 20:53] cygao commented on #12
@adurbin2 SRR1988361  Sample processed and currently copying back to pod, should be done by the time you read this.

[2016-11-29 21:24] adurbin2 commented on #12
OK thank you! please send the bam to
/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/bams/phs000900.v1.p1MonjeDIPGbams

and the output folder to
/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/phs000900.v1.p1MonjeDIPG

[2016-11-29 21:50] adurbin2 opened #13 "Repository-OSGenomics-phs000699.v1.p1-20161129-KL"
Setting up the first of four RNASeq batches for @cygao to RNASeq. This one is for Katrina's dataset (Osteosarcoma Genomics), n=35 samples. (Please process each batch separately to avoid confusion.)

Manifest will be uploaded soon.

Please put the output folders here:
/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/phs000699.v1.p1_OSGenomics

[2016-11-29 21:56] adurbin2 opened #14 "Repository-HyperdiploidALL-phs000522.v1.p1-20161129-KL"
Second batch, this time for Katrina's dataset Hyperdiploid ALL (5 samples). Manifest to be uploaded soon.

Output folders to
/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/phs000522.v1.p1_HyperdiploidALL

[2016-11-29 22:02] adurbin2 opened #15 "Repository-EGAD00001000356-B-Lymphoma-20161129-AD"
Third batch for RNASeq, this time with 17 samples.
Manifest is here:
[EGAD00001000356_manifest.txt](https://github.com/UCSC-Treehouse/operations/files/620558/EGAD00001000356_manifest.txt)

Please put output here:
/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/bams/EGAD00001000356

[2016-11-29 22:07] adurbin2 opened #16 "Repository-EGAD00001000648-bLymphoma-20161129-AD"
Last of the four batches, this one for EGAD00001000648 (n=28 samples). Manifest to be uploaded soon.

Output goes here:
/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/bams/EGAD00001000648

[2016-11-29 23:18] adurbin2 commented on #16
[EGAD00001000648_manifest.txt](https://github.com/UCSC-Treehouse/operations/files/620511/EGAD00001000648_manifest.txt)

[2016-11-29 23:22] cygao commented on #12
Files are copied

[2016-11-29 23:22] rcurrie commented on #16
@adurbin2 @klearned  thought we were going to do the one with 5 first, or is this one to go first?

[2016-11-29 23:26] adurbin2 commented on #16
The 5 is also coming your way. All four of these are needed, so whatever
works --

On Tue, Nov 29, 2016 at 3:22 PM, Rob Currie <notifications@github.com>
wrote:

--
*Ann Durbin*
Treehouse Data Coordinator
Genomics Institute, UCSC

[2016-11-29 23:30] klearned commented on #14
Here is the manifest!

SRR641283       /pod/pstore/groups/treehouse/published-data/dbGap/phs000522.v1.p1/data/fastq/SRR641283_1.fastq.gz,/pod/pstore/groups/treehouse/published-data/dbGap/phs000522.v1.p1/data/fastq/SRR641283_2.fastq.gz
SRR641284       /pod/pstore/groups/treehouse/published-data/dbGap/phs000522.v1.p1/data/fastq/SRR641284_1.fastq.gz,/pod/pstore/groups/treehouse/published-data/dbGap/p

[2016-11-29 23:52] adurbin2 commented on #12
Sending to Ellen for Medbook. Twelve of the samples (as noted in manifest) are human tumor tissue, to be added to V3 compendium; the rest are either normal tissue or cell line, and won't be included.

[MonjeOutputs_to_MedBook.txt](https://github.com/UCSC-Treehouse/operations/files/620570/MonjeOutputs_to_MedBook.txt)

[2016-11-30 00:20] e-t-k commented on #12
Thank you, Ann for confirming that none of the 12 human tumor samples are prospectives.

@adurbin2 I'm seeing sample SRR1988353 missing from the MonjeOutputs_to_MedBook.txt list (for a total of 39 samples remaining); is this deliberate? This is different from the SRR1988361 sample addressed above in the thread, which I do see as present.

[2016-11-30 00:30] adurbin2 commented on #12
Well spotted Ellen.  Cameron @cygao , can you please run SRR1988353 through RNASeq at the next opportunity? I have scp'd the two fastqs to pipeline0. Thank you!

[2016-11-30 00:38] cygao commented on #12
@e-t-k @adurbin2 I didn't receive SRR1988353 earlier, I assumed that this file was deliberately dropped. Now processing.

[2016-11-30 01:16] rcurrie commented on #14
Processing started on 4 pipeline machines in parallel

[2016-11-30 12:44] rcurrie commented on #14
Processing complete. All 5 samples failed QC.
@hbeale can you take a look at the outputs both to make sure this new process is producing the results you expect before we kick off the next run? The output is 100G for these 5 and most of that is the qc folder so we probably need to decide whether to retain all the bam/bai for easy triage post processing and then prune, or prune before back hauling t

[2016-11-30 16:13] klearned commented on #14
Oh no, I'm really bummed that they all failed. I wonder if there is anything about the way i converted them to fastqs that caused the to fail? I'll look too to see if i can understand why they failed.

[2016-11-30 18:51] klearned commented on #14
@hbeale I looked at QC readme and see it failed, but I don't know how to see why it failed and what I might, if anything, do about it. If you could take a look, that'd be great! Thanks!!

[2016-11-30 19:33] hbeale commented on #14
Hi Katrina

The fastq input files are small -- it's not surprising that there is not
enough data in the file to pass our QC threshold (10 million uniquely
mapped, non-duplicate exonic reads). If the SRA file is about the size of
the sum of the converted fastq.gz files, then you probably got all the data
out and there wasn't enough data to start with.

Best,
Holly

Details:

11:29 [stacker:phs00052

[2016-11-30 21:24] cygao commented on #12
@adurbin2 sRR1988353 outputs have been placed on pod

[2016-11-30 22:53] adurbin2 commented on #12
Thanks Cameron! @cygao These have now been placed in Medbook by @e-t-k

[2016-11-30 22:56] e-t-k commented on #12
@adurbin2 what? No I haven't yet... Will update when this is complete.

The 12 samples for compendium 3 will be placed in the dataset "Monje phs00900.v1.p1 20161116 - Human Tumor"

The remaining 28 samples will be placed in the dataset "Monje phs00900.v1.p1 20161116 - Normal/Cell Line"

[2016-11-30 23:15] adurbin2 opened #17 "Repository-RNASeq-MAGIC-204"
This one file from the MAGIC dataset gave trouble when it was first sent through RNASeq in CGL batch 82. Linh has redone the bam-to-fastq process, and we'd now like to run the result through RNASeq.

The output folder, to be named EGAZ00001000204_81JP2ABXX_7.redo, can go here:
/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/batch82

Here is the fastq pair (csv):
/pod/pstore/g

[2016-11-30 23:42] adurbin2 commented on #9
Hi guys, Ellen and I have been searching for these, and cannot locate. Can you provide the full path to the output folders in particular?
EGAR00001077871, EGAR00001077872, EGAR00001077873, EGAR00001077874, EGAR00001077875, EGAR00001077876 from the 281 study

and EGAZ00001000235 from the 000158 study

[2016-11-30 23:46] e-t-k commented on #9
@rcurrie in particular, I can't find any of the .tar.gz output. I found one sample but that's it.

`/pod/pstore/groups/treehouse/published-data/ICGC_Sep2016/EGAD00001000158/fastq/EGAZ00001000235.tar.gz`

[2016-12-01 00:13] e-t-k commented on #12
I'm currently importing the 12 Human Tumor samples  and @cygao is importing the 28 Normal/ Cell Line samples. Will update and close ticket when done.

[2016-12-01 00:46] klearned commented on #13
Here is the manifest.
[phs000699RnaSeqManifest.txt](https://github.com/UCSC-Treehouse/operations/files/623406/phs000699RnaSeqManifest.txt)

[2016-12-01 04:38] #10 closed

[2016-12-01 04:48] klearned commented on #14
@hbeale
The original .sra files sizes are as follows, which match what the dbGap states they should be:
[code]
the resulting fastqs were appropriately sized, the sum of the two just slightly bigger than their original fastq:
[code]

Trying to find a reason for the smaller file sizes. Here are some things I've found:

**A)** RNA-Seq was done on ribosomal RNA-depleated total RNA, see this excerpt fr

[2016-12-01 05:24] hbeale commented on #14
Hi Katrina--

Thanks for tracking this back. Neither ribosomal RNA-depleted total RNA
nor Genome Analyzer IIX sequencing are necessarily markers of insufficient
data (we have good data with both of those characteristics). File size (SRA
or combined fq.gz) is affected by a bunch of contributing factors, but the
biggest are read count and sequence length. Anything under 4GB total I'm
really worried

[2016-12-01 06:36] klearned commented on #12
In another ticket #14, @hbeale was explaining how small of fastq files (<4GB) is worrisome (and possibly not usable). For reference, I looked at this Monje data to see how big these fastq files are. They are also realtively small:

[code]

[2016-12-01 06:38] klearned commented on #14
@hbeale Thanks for this explanation. I don't see anything about spot count on SRA table provided or in the log of the validations step I did. I did capture the fastq-dump output in a file for this dataset and it does say how many spots were written for each :

[code]
Do these spot counts look good or bad?

For comparison of fastq file size, I went and checked the fastq file sizes for the Monje dat

[2016-12-01 06:51] hbeale commented on #12
Thanks Katrina.

For reference, SRR1988328_1.fastq.gz has 37 million raw reads. Together
with its pair, the combined file size is 5.7GB. Hopefully it will
exceed our threshold of having at least 10 million non-duplicate reads that
uniquely map to exons.

Alternately, SRR1988356_1.fastq.gz contains 13 million raw reads. Together
with its pair, the combined file size is 2 GB. I'm not optimistic that

[2016-12-01 17:37] e-t-k commented on #12
All 40 samples are now present in medbook in the data sets "Monje phs000900.v1.p1 2016/11/16 - Human Tumor" and "Monje phs000900.v1.p1 2016/11/16 - Normal/Cell Line"

[2016-12-01 20:09] hbeale commented on #14
@klearned I don't think there is anything you can do to improve this. Since the SRA files are not much bigger than the combined fastq gz files (and are in fact smaller), I conclude that there is not a lot of data sitting in the SRA file that you somehow failed to extract.

If we want to use spot counts in the future to identify samples that don't even have 10 million raw reads total in the samples

[2016-12-01 22:11] klearned commented on #14
@hbeale Thank you again for your insights! I really appreciate your clear and thorough info!

Yes, best thing is for me to try to see if the papers report the reads per sample when I find the datasets. I'll be on the lookout for that. That way we can try to weed out the lower quality data before all the time spent applying for permission, downloading, and converting the data. That said, I'm not th

[2016-12-01 22:11] klearned commented on #14
oops, sorry, didn't mean to close this!

[2016-12-02 04:01] rcurrie opened #18 "Run QC on select bams from v2"
Beginning to run bams listed in

https://docs.google.com/a/ucsc.edu/spreadsheets/d/15rbvQDmGAePpF8F4xeXmzeNi2KElTOxKHuwcuIiUBSI/edit?usp=sharing

through qc via treeshop. Results will show up under:

/pod/pstore/groups/treehouse/treeshop/TM_v2_weirdSamples/

[2016-12-02 04:06] rcurrie commented on #18
@adurbin2 Please work with sofie to triage this list down into say 10 and 10 to start with. ~200 bams means about 2TB to process both directions - this is going to take forever using treeshop and would cost a lot of $ with the core.

[2016-12-02 05:14] rcurrie commented on #18
As per sofie divided up by size and running some from each batch by each size. First batch in sheet 'batch0' of 16 samples on 3 machines (1 azure D14, 1 openstack z1.medium, 1 openstack z1.small). Lets see how they perform...

[2016-12-02 14:02] rcurrie commented on #18
@hbeale First 3 completed and they all passed (yay!)
./_EGAR00001124546_RNA-seq_PAIRED_ICGC_PA65_s_111201_6b/qc/readDist.txt_PASS_qc.txt
./_EGAR00001124541_RNA-seq_PAIRED_ICGC_PA58_s_111201_4a/qc/readDist.txt_PASS_qc.txt                                ./_EGAR00001124532_RNA-seq_PAIRED_ICGC_PA34_s_110809_4/qc/readDist.txt_PASS_qc.txt

Order of magnitude size difference in that last one vs. first tw

[2016-12-02 20:00] rcurrie commented on #18
Bazaar blew up this morning, possibly from the nant transfer. In the process of starting it all backup. So only 3 samples at this point...

[2016-12-02 22:35] rcurrie commented on #18
Processing restarted...next 3 for triaged 16 running

[2016-12-03 15:35] rcurrie commented on #18
8 complete and all passed, one rcurrie-treeshop machine stuck for some reason, adding anothern and restarting first.

[2016-12-03 16:13] klearned commented on #18
That's great that they are passing!

Katrina

On Dec 3, 2016 7:35 AM, "Rob Currie" <notifications@github.com> wrote:

[2016-12-04 21:15] hbeale commented on #18
@rcurrie not worried about difference. there's a pretty continuous range in the UMEND read count, as in the bam files.

bamile	UMEND_reads	threshold
TH05_0110_S01_RNASeq	 3,639,366.90 	FAIL
TH05_0109_S01_RNASeq	 5,767,447.95 	FAIL
_EGAR00001124567_RNA-seq_PAIRED_ICGC_PA94_s_120626_4a	 14,640,763.05 	PASS
_EGAR00001124570_RNA-seq_PAIRED_ICGC_PA96_s_120626_5c	 15,774,435.45 	PASS
_EGAR00001124508_RN

[2016-12-04 22:13] rcurrie commented on #18
14 have run, 12 passed, 2 failed

rcurrie at stacker in /pod/pstore/groups/treehouse/treeshop/TM_v2_weirdSamples
$ find . -name "*PASS*"
./_EGAR00001124546_RNA-seq_PAIRED_ICGC_PA65_s_111201_6b/qc/readDist.txt_PASS_qc.txt
./_EGAR00001124541_RNA-seq_PAIRED_ICGC_PA58_s_111201_4a/qc/readDist.txt_PASS_qc.txt
./_EGAR00001124532_RNA-seq_PAIRED_ICGC_PA34_s_110809_4/qc/readDist.txt_PASS_qc.txt
./_EGAR00001

[2016-12-05 14:58] rcurrie commented on #18
As of Monday morning:
22 bams processed
19 passed
2 failed (TH05_0110_S01_RNASeq & TH05_0109_S01_RNASeq)
2 failed due to treeshop operator error (ie me messing up a tsv :-)

[2016-12-05 15:04] rcurrie commented on #18
One other note is qc is taking about 4-7 hours roughly looking at the output. I can do a more exact assessment. But this means the combined pipelines (rnaseq, qc, fusion) will likely run 14-20 hours.

[2016-12-05 16:17] adurbin2 commented on #18
Rob,
Good that we are checking then. What is the effect of this new information
on the V3 compendium process? Perhaps this is still under discussion.

If the failed files should be marked as QC-fail and excluded from V3 (as we
did for past CHOC samples that Holly assessed), then it will be helpful to
have a list of all the results, so I can bring the information back to the
Treehouse index.

~Ann

[2016-12-05 16:50] adurbin2 commented on #18
Thanks for checking in this Ann. The V3 inclusion question is one for me and Olena, not Rob, so let's discuss later.

Sent from my iPhone

[2016-12-05 21:47] cygao commented on #17
Toil appears to fail, not sure what is going on. Attached is log.

[log.txt](https://github.com/UCSC-Treehouse/operations/files/632358/log.txt)

[2016-12-05 22:05] cygao commented on #15
Currently running on treeshop with the corrected manifest.

[2016-12-06 01:04] rcurrie opened #19 "Process B-Cell Data"
Holly downloading

[2016-12-06 01:05] rcurrie opened #20 "Process Nantomics Data"
BAMs need conversion to fastq

[2016-12-06 01:06] rcurrie opened #21 "Sanford Cell Lines"

[2016-12-06 01:09] rcurrie commented on #16
Only need to run RNASeq + QC, no Fusion

[2016-12-06 01:10] rcurrie commented on #15
Only need to run RNASeq + QC, but if already running with Fusion leave as its to completion

[2016-12-06 01:10] rcurrie commented on #13
Only run RNASeq + QC, no fusion

[2016-12-06 04:34] klearned opened #22 "Repository - EGAD00001001098 Infant MLL-rearranged ALL"
Original Paper: [PMC4553269](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4553269/)
From: St. Jude (via EGA: [EGAD00001001098](https://www.ebi.ac.uk/ega/datasets/EGAD00001001098))
Detailed file spreadsheet: [EGAD00001001098 PCGP: infant MLL-rearranged ALL](https://docs.google.com/a/ucsc.edu/spreadsheets/d/1nCUctVIyqIbp9EGtT0Tz1KMfCchWU3-GJqepvxFjnpo/edit?usp=sharing)

**Task List:**
- [x] Request

[2016-12-06 04:52] klearned commented on #22
@hbeale
I am prepping the necessary information about the files in this dataset for Linh so that she can convert them from bam files to fastq files. However, I am a bit confused as to whether these are single-read or paired-end.

The info I downloaded about this data, it states "SINGLE" for each file under "LIBRARY LAYOUT", however, each individual has two files, a *1.bam and *2.bam. And, on top o

[2016-12-06 05:30] klearned commented on #22
@linhvoyo Could you please convert the 126 files listed in the attachment from bam to fastq?
[EGAD00001001098fileListForConversion.txt](https://github.com/UCSC-Treehouse/operations/files/633033/EGAD00001001098fileListForConversion.txt)

Please put the fastqs here:

`/pod/pstore/groups/treehouse/published-data/stjude/EGAD00001001666/fastq`

Let me know if you have any questions!!

[2016-12-06 14:31] rcurrie commented on #18
Good news is that so far of 32 processed 30 have PASSED, only 2 have FAILED (both prospective so may not have been a surprise). Pausing this while Olena picks a new batch and so we can process v3 samples which are higher priority.

[2016-12-06 14:45] rcurrie commented on #9
I remember moving them as per above such that they were all under the specified folders:

EGAR00001077871, EGAR00001077872, EGAR00001077873, EGAR00001077874, EGAR00001077875, EGAR00001077876 -> EGAD00001000281/bam & fastq

EGAZ00001000235 -> EGAD00001000158/bam & fastq

It looks like i moved them into respective folders under EGAD00001000158 and EGAD00001000281

But now there is only:

./ICGC_Sep2

[2016-12-06 14:46] rcurrie commented on #9
@hbeale any recollection of the renaming of these and/or moving them?

[2016-12-06 15:10] rcurrie commented on #13
@klearned the manifest attached only had 24 samples listed (24 fastq pairs). I'm going to start it running anyways and if you have a new one with just added samples I can run those after (ok to just add into a final manifest as treeshop will skip over ones it has already run as long as the names don't change). Also the format of these manifests isn't correct. They should be tsv files with a header

[2016-12-06 15:35] rcurrie commented on #13
These are now running on rob's treeshop

[2016-12-06 15:41] rcurrie commented on #18
For final run randomly sample from each of the following groups
ICGC_other_PA_clust, ICGC_Ped_GBM+PA, MB_Cluster and CBTTC-TCGA-Cluster.

for a total of 12.

[2016-12-06 15:56] adurbin2 commented on #18
Great news Rob!

On Tue, Dec 6, 2016 at 6:31 AM, Rob Currie <notifications@github.com> wrote:

--
*Ann Durbin*
Treehouse Data Coordinator
Genomics Institute, UCSC

[2016-12-06 16:03] adurbin2 commented on #13
@rcurrie There is a certain beauty in putting the input files and the output files into the same folder, and I think it's a valid possibility ... however that is generally not the way it has been done up to now.  We might also consider putting other types of data into the same folder (QC for example). Perhaps we can pause briefly for a review/overhaul of Pod storage principles, so that you and Hol

[2016-12-06 17:01] hbeale commented on #22
@klearned My best interpretation is that it is paired end data and the Library layout tag is incorrect. Fingers crossed.

[2016-12-06 17:26] hbeale commented on #9
I have no explicit recollection of this. My suggestion is to figure out what the actual fastq files were named (revisiting EGA if needed) and then search the pod treehouse directory on that name. I tried that for one sample (below) and didn't find any output. I conclude there is no output for this sample in /pod/pstore/groups/treehouse/.

cd /pod/pstore/groups/treehouse/
find . -iname "*EGAR000010

[2016-12-06 17:35] klearned commented on #22
@hbeale OK, thank you! It's crazy how each dataset has some weird mystery.

@linhvoyo So, please treat these as paired-end. Is whether or not these are single read or paired-end read something you need to know before doing the conversion? I thought it was, but I figured I better ask!

[2016-12-06 18:13] klearned commented on #13
@rcurrie Thanks for letting me know about some files being missing, and I am sorry about the incorrect manifest format. I missed some lines when copying the manifest I created on /pod into the .txt file (so I could attach the file to the ticket), I forgot we were going to add in the core headings, and I think the tabs became spaces when I copied the file into the .txt file. Next time, I'll just po

[2016-12-06 18:14] klearned commented on #18
This is great news! Thanks for all your work on this @rcurrie !

[2016-12-06 19:06] klearned commented on #14
This data failed QC and there doesn't seem to be any issues on our side. Original data files are very small at repository source, EGA. When I have time, might be worth contacting EGA or submitter to see if perhaps there was an issue with their data submission.

[2016-12-06 19:06] #14 closed

[2016-12-06 20:56] klearned opened #23 "Repository - EGAD00001002680 Adrenocortical carcinoma RNA-seq"
Original paper: [PMC4352712](http://europepmc.org/articles/PMC4352712)
From: St Jude (via EGA [EGAD00001002680](https://www.ebi.ac.uk/ega/datasets/EGAD00001002680) )
Detailed file spreadsheet: [EGAD00001002680 PCGP: Adrenocortical carcinoma RNA-seq](https://docs.google.com/a/ucsc.edu/spreadsheets/d/1ypbs6a-9JP30Qwt9zFlVIyWjOz45L_3hNxVFjx5cYjA/edit?usp=sharing)

19 individuals, but n= 21 samples
No

[2016-12-06 21:09] hbeale commented on #23
@klearned linh observes that these are paired end. we'll update you here.

[2016-12-06 21:18] klearned commented on #23
@hbeale OK, thank you for keeping me updated!
@linhvoyo Thank you for catching that!

Maybe I am misunderstanding what the EGA field "Library Layout" is OR they get it wrong often?

[2016-12-06 21:20] hbeale commented on #23
@klearned  I don't think you're misunderstanding. @linhvoyo  and I are working on a process where all bam files are converted the same way, and the ended-ness is detected from the data rather than EGA.

[2016-12-06 21:20] klearned commented on #23
@hbeale that is great since the EGA doesn't seem that reliable! Thanks Holly and @linhvoyo!

[2016-12-06 22:38] klearned commented on #23
@hbeale and @linhvoyo
I preparing to pass this on to Treeshop today, but I think I now need to wait until the fastq files can be re-done as paired-read samples (2 files per sample instead of just 1)? Is that right?

[2016-12-06 23:10] adurbin2 commented on #15
Hi @cygao, @rcurrie  I just now heard from @linhvoyo that the bam-to-fastq conversion of this dataset EGAD00001000356 was not done with the right procedure. Linh advises Cameron to stop this RNASeq run until she can re-do the file conversion.

[2016-12-06 23:11] adurbin2 commented on #16
Hi @cygao, @rcurrie  I just now heard from @linhvoyo that the bam-to-fastq conversion of this dataset EGAD00001000648 was not done with the right procedure. So, please don't start this till we get her re-done fastq files.

[2016-12-06 23:53] adurbin2 commented on #16
OK @cygao @linhvoyo says these are good to go (there was no error in processing after all)

[2016-12-06 23:54] adurbin2 commented on #15
@cygao OK No worries, @linhvoyo has looked into these and their process was correct after all. If they're underway, keep them going. Thanks - Ann

[2016-12-07 00:22] hbeale commented on #23
yes.

On Tue, Dec 6, 2016 at 2:38 PM, Katrina Learned <notifications@github.com>
wrote:

[2016-12-07 00:42] rcurrie commented on #13
4:39PM Update: 3 files complete and unfortunately they all failed:
./SRR1701090/qc/readDist.txt_FAIL_qc.txt
./SRR1701117/qc/readDist.txt_FAIL_qc.txt
./SRR1701102/qc/readDist.txt_FAIL_qc.txt

4 more are processing in parallel. Will let initial manifest run to completion and then run the updated manifest - treeshop will automatically just process the added ones. At this rate its likely going to take

[2016-12-07 00:45] rcurrie commented on #13
Wrt Katrina's questions:

The only fields treeshope uses are "Submitter Sample ID" and "File Path". You can have others in there as well and it will just ignore them. My thinking is we can start putting more of the data that the core will store in these though. That way we can down the road ingest them all into the new storage system including meta data.

My bad "should NOT end in a /", sorry for

[2016-12-07 04:14] klearned commented on #13
@rcurrie Thank you for the update.

@hbeale and @rcurrie
Honestly, I am freaking out a bit that so much data that I have been spending a gazillion hours on (to find, research terms of use, apply for permission, figure out how to download, download, convert into fastqs, and find clinical data for) is failing. It's more than a little frustrating at this point. Sorry for the rant, I know it's not any

[2016-12-07 04:49] klearned opened #24 "Repository - phs000709.v1.p1 fibrolamellar hepatocellular carcinoma"
Original paper: [PMC4286414](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4286414/)
From: dbGap [phs000709.v1.p1](http://www.ncbi.nlm.nih.gov/projects/gap/cgi-bin/study.cgi?study_id=phs000709.v1.p1)
Detailed file spreadsheet: [EGAD00001001666 LGG Epilepsy Cohort RNA-Seq](https://docs.google.com/a/ucsc.edu/spreadsheets/d/1osCWejRdOZ6hYgK7olC9qDSKHpTbBz7Q2lkL8hoiQeE/edit?usp=sharing)

Note, these da

[2016-12-07 15:23] rcurrie commented on #13
@hbeale it appears treeshop has processed 14 of these samples as of this morning but there is only 4 of them where a pass/fail file has been generated. For example under:

/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/phs000699.v1.p1_OSGenomics

SRR1701090 has all the qc output I'd expect (pdf, etc...) but SRR1701742 only has 4.

readDist.txt
rnaAligned.sortedByCoord.md.bam

[2016-12-07 18:07] hbeale commented on #13
@rcurrie
I've looked at the QC output. When there are only 4 files they are usually very small (like these below), and it's always been because the process failed. I looked into the methods.json but didn't see anything for troubleshooting. Do you have the error messages from the QC docker?

-rw-r--r-- 1 rcurrie pawg  303 Dec  7 03:44 rnaAligned.out.md.sorted.geneBodyCoverage.txt
drwxr-xr-x 2 rcurr

[2016-12-07 18:13] rcurrie commented on #13
methods just prints what was run and on what, no errors

Unfortunately I don’t have an error log partially because the output of the pipeline is mostly status bars:

[13.93.226.157] out: [===========================================================================>  ]
[13.93.226.157] out: [===========================================================================>  ]
[13.93.226.157] out: [========

[2016-12-07 18:34] hbeale commented on #13
Where would I find the bam that was generated by the RNA-Seq pipeline?

I don't see one here:
/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/phs000699.v1.p1_OSGenomics/SRR1701343

or here
/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/bams/phs000699

[2016-12-07 18:40] klearned commented on #13
These never had bam files. When I download them from dbGap/SRA, they come down as .sra files and then I converted them to fastq files. The .sra files are here:

`/pod/pstore/groups/treehouse/published-data/dbGap/phs000699.v1.p1/data/sra`

[2016-12-07 18:41] klearned commented on #13
oh, never mind!! I misread your comment! Ignore my last comment!

[2016-12-07 18:50] rcurrie commented on #13
Under the qc folder - the one rnaseq generates is deleted/not saved as we agreed that the one qc generates was the more useful one to archive.

[2016-12-07 20:03] hbeale commented on #13
I've looked at a ton of things and the only pattern I saw was the the samples where QC succeeded generally had smaller input.

inputR1name; inputR1bytes; qcGenerated 588392354 SRR1701117_1.fastq.gz succeeded
inputR1name; inputR1bytes; qcGenerated 1196309192 SRR1701090_1.fastq.gz succeeded
inputR1name; inputR1bytes; qcGenerated 2886460161 SRR1701307_1.fastq.gz succeeded
inputR1name; inputR1bytes; q

[2016-12-07 20:27] cygao commented on #15
@adurbin2 Samples are still running, currently in QC process. Since only RNASeq has timestamps, I can't provide an ETA.

[2016-12-07 20:48] rcurrie commented on #15
methods.json has start and end. You can look at some that already processed to forecast.

[2016-12-07 21:30] rcurrie commented on #13
As soon as the first set of this batch (the manifest originally only had part of the data), I'll pause and re-run one of those that failed using treeshop to both try and capture a log as well as rule out that its something about the treeshop wrapper. Hopefully we can then sort and then I'll finish up the balance of this batch (~15)

[2016-12-07 21:33] klearned commented on #13
Thanks @hbeale and @rcurrie for your careful work on this!

[2016-12-07 21:50] cygao commented on #15
Do you know if it uses UTC or local machine time? Current sample was started 5 this morning

[2016-12-07 22:03] rcurrie commented on #15
utc

[2016-12-07 22:09] hbeale commented on #13
@rcurrie sounds like a good plan. If it's easy to keep the bam output from the rna-seq-cgl pipeline, that would be great too so i don't have to restart troubleshooting at fastq

[2016-12-07 22:14] rcurrie commented on #13
I’ll turn that ‘prune’ off for the next run.

Rob

[2016-12-07 22:28] hbeale commented on #13
Thank you!

[2016-12-08 16:22] rcurrie commented on #13
First batch finished: 23 have rnaseq output. Of those 4 PASSED and 4 FAILED. The balance didn't generate a pass/fail from qc. I'm going to run one of those with logging to sort out what went wrong with holly, and once we have it sorted will start this treeshop back up to process the balance (35-23=12)

[2016-12-08 16:31] klearned commented on #13
@rcurrie Thank you for the update

[2016-12-08 21:09] rcurrie commented on #13
Started processing which failed to generate all the qc output. Unfortunately the initial run was pruning so I don't have the rnaseq bam so will have to run rnaseq first and then qc. I think I've sorted how to save the log (issues due to running parallel). Will notify when I a full log.

[2016-12-08 21:34] hbeale commented on #13
Thanks, Rob.

On Thu, Dec 8, 2016 at 1:09 PM, Rob Currie <notifications@github.com> wrote:

[2016-12-08 22:38] cygao commented on #15
QC has been stuck for 36 hours.

@rcurrie Should I kill and attempt restart?

[2016-12-08 23:12] cygao commented on #15
I'm putting this on hold and running #16 in the meantime. Roughly half the samples seem to have completed successfully, will investigate and report back.

[2016-12-08 23:22] rcurrie commented on #15
Sounds good - I’m working on a debug run for Holly as my run didn’t generate the PASS/FAIL file on most of the samples.

[2016-12-09 17:12] rcurrie commented on #13
TL;DR; Appears rnaseq is generating a zero size bam file, how rude!

Good news: Job ran on SRR1701812 (which failed in the first run to generate QC PASS/FAIL)
Bad news: Had a bug in the new prune option so QC didn't run
Good news: Exited before deleting so the SRR1701812.sorted.bam was still on the machine, and lo and behold its zero length!

@hbeale the log of the run is at:
/pod/pstore/groups/tr

[2016-12-09 18:37] hbeale commented on #13
In many of Jeltje's runs, the bam file had a EOF error. Although I don't
recall any being zero length, the EOF error was common. She had to rerun
the pipeline to get a fixed bam file.

I looked at the output from the samples that previously failed to run QC
and nothing seemed wrong or different in comparison to the ones that were
able to run QC. I'm afraid this is an engineering question. Science

[2016-12-09 19:11] rcurrie commented on #13
Sounds like there may be a bug somewhere in the rnaseq pipeline that's been there for a while but ignored as we didn't use the bam output. In the interest of keeping the train running as per isabelle @hbeale I'm going to crank back up this pipeline to process the rest of the samples in the batch (35-23=12) and will backhaul the bam so we can inspect all of them. Those plus the logs hopefully will

[2016-12-09 19:12] hbeale commented on #13
Sounds good

On Fri, Dec 9, 2016 at 11:11 AM, Rob Currie <notifications@github.com>
wrote:

[2016-12-09 22:56] cygao commented on #16
I'm currently running this in place of #15. Seems to be chugging along quite fine, if a bit slow.

[2016-12-10 17:27] rcurrie commented on #13
Of 35:
30 processed, 5 remaining
6 PASS, 4 FAIL,  20 no QC output (will examine log and bam from these running to sort)

@klearned @adurbin2 to get a PASS/FAIL count, from within the output directory of a treeshop run:

echo PASS && find . -name "*PASS*" | wc && echo FAIL && find . -name "*FAIL*" | wc                               PASS
6       6     246
FAIL
4       4     164

[2016-12-11 15:57] rcurrie commented on #13
All 35 samples have been processed:

rsem.genes.norm_counts.hugo.tab was generated for all of them and ~900k for each so it appears

PASS: 7 FAIL: 4 => 24 failed to generate qc pass fail

I backhauled the <samplename>.sorted.bam from this second batch of 12 - 3 of them had data and 9 were zero length:

   0 ./SRR1701137/SRR1701137.sorted.bam     0 ./SRR1701598/SRR1701598.sorted.bam
   0 ./SRR17012

[2016-12-12 00:32] hbeale commented on #13
Hi Rob --

I agree that the problem is malformed or unformed bams.

When non-zero sized bam files generated by the rna-seq-cgl pipeline cannot be analyzed, they usually have truncated input

For future ref, if you have access to samtools you can test whether the bam files with content are correctly formatted with this command:

`for i in *.bam ; do echo -n $i; samtools view -h $i | head -1 ; done

[2016-12-12 16:32] adurbin2 commented on #9
We've not been able to locate bam files or output folders for these six files (see notes above). @rcurrie Can we re-run their fastqs through RNASeq to generate bams & output folders? I have attached a manifest. Please save the bam and output files to a temporary folder, and advise when I can copy them to their destination on pod.

icgc/EGAR00001077871
icgc/EGAR00001077872
icgc/EGAR00001077873
icgc

[2016-12-12 19:37] rcurrie commented on #9
I can run these easily but the manifest isn't valid. See:

/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/phs000699.v1.p1_OSGenomics/phs000699RnaSeqManifest.tsv

for an example. Briefly:

- Header with "Submitter Sample ID" and "File Path"
- tsv format
- "Submitter Sample ID" can't have a slash (/) in the name as its used as a folder name (and also due to the following const

[2016-12-12 19:53] rcurrie commented on #13
Filed as:

https://github.com/BD2KGenomics/cgl-docker-lib/issues/215

[2016-12-12 20:46] adurbin2 commented on #9
Well, then, please advise how to generate a tsv. I'm attaching the document saved from Excel as a txt file in tab-separated format -
[batch84_redo_manifest_RNASeq2.txt](https://github.com/UCSC-Treehouse/operations/files/647168/batch84_redo_manifest_RNASeq2.txt)
let me know if that is not sufficient.

[2016-12-12 21:11] adurbin2 commented on #17
Reformatted the manifest
[TH_Issue17_manifest-redo.txt](https://github.com/UCSC-Treehouse/operations/files/647212/TH_Issue17_manifest-redo.txt)

[2016-12-12 21:27] rcurrie commented on #9
fastq's don't exists - folder referenced in each line is empty:
/pod/pstore/groups/treehouse/published-data/ICGC_Sep2016/EGAD00001000281

Wrt tsv its just a file ending in tsv with the fields separated by tabs

Excel exports a tsv but on the Mac apparently refuses to put the tsv ending. Also excel doesn't terminate lines correctly - if you look at the file you uploaded in the terminal or a text ed

[2016-12-12 21:35] adurbin2 commented on #9
Hm. I think I'll close the current issue and add the EGAD00001000281 repository back to @klearned Katrina's list, and we'll take this from the top.

[2016-12-12 21:35] #9 closed

[2016-12-12 21:36] cygao commented on #17
@adurbin2 The sample can't be processed by RNASeq due to unknown errors. In the log attached above, the most relevant error seems to be

I'm not sure how to fix alignment issues, somebody else needs to advices

[2016-12-12 21:51] cygao commented on #15
So taking into @rcurrie 's advice on tee, this batch is actually running, just incredibly slowly. I've only managed to process 5 files in 3 days. This suggests an ETA of ~10 days for the batch.

[2016-12-12 23:28] rcurrie commented on #13
Passing to @e-t-k : Please import TPM values for the 31 that did not fail into MedBook for addition to Compendium V3

[2016-12-13 00:09] klearned commented on #23
@linhvoyo Hmm, the ones that needed conversion to fastq were EGAD00001002680 (on this ticket) and EGAD00001001098. For EGAD00001001666, I hadn't finished downloading the data yet.

[2016-12-13 00:09] klearned commented on #22
@linhvoyo Did this data get converted to fastq yet? Thanks

[2016-12-13 01:14] klearned commented on #23
@rcurrie  I am prepping the manifest for this dataset, EGAD0000100268, and remembered that the way the .bam files were named by the download program gave each .bam file a leading underscore (first character of the filename is "_") and so the fastqs now have this name. It struck me as annoying at first, but I just realized it could be a problem. Is this going to be OK or do these need to have the l

[2016-12-13 01:24] klearned commented on #23
If the sample/filename leading underscore is OK (see comment above) then this dataset EGAD00001002680 is ready for Treeshop (RNA-seq + QC).
n=21 samples and all are paired-end (from 19 donors).

**Manifest**:
`/pod/pstore/groups/treehouse/published-data/stjude/EGAD00001002680/data/fastq/manifestRnaSeqEGAD00001002680`

[2016-12-13 01:28] klearned commented on #22
@linhvoyo I looked in the fastq destination file and do see the fastqs there:

`/pod/pstore/groups/treehouse/published-data/stjude/EGAD00001001666/fastq`

I am assuming these are ready, but please let me know for sure! Thanks

[2016-12-13 01:41] klearned commented on #22
@linhvoyo  Oh dear, this is my fault. I am sorry! In my original request for conversion from bam to fastq, I accidentally requested that the fastqs be put in the wrong directory, which is how this confusion started. Sorry about that! I will move them to the right directory:

from
`/pod/pstore/groups/treehouse/published-data/stjude/EGAD00001001666/fastq`

to
`/pod/pstore/groups/treehouse/published-

[2016-12-13 02:38] linhvoyo commented on #22
Thank you Katrina. Do you need anything else from me regarding this data
set?

On Mon, Dec 12, 2016 at 5:41 PM, Katrina Learned <notifications@github.com>
wrote:

[2016-12-13 06:15] klearned commented on #22
@linhvoyo Just one more thing, I couldn't transfer the following file because I didn't have permission. Could you give me permission for this file? Thanks!

`/pod/pstore/groups/treehouse/published-data/stjude/EGAD00001001666/fastq/log.save`

[2016-12-13 06:31] klearned commented on #22
Dataset **EGAD00001001098** is ready for Treeshop (RNA-seq + QC), as long as the sample/filename leading underscore is OK.
n=126 samples, all are paired-end (from 58 donors).

**Please put the output folders here:**
`/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/EGAD00001001098_infantMLL-rearrangedALL`

**Manifest**:
`/pod/pstore/groups/treehouse/published-data/stjude/EGAD0

[2016-12-13 06:42] klearned commented on #24
**Issues:**
I downloaded phs000709.v1.p1, Fibrolamellar Hepatocellular Carcinoma, using prefetch and all the .sra files validated fine with the vdb-validate tool. However, converting to fastqs using fast-dump has indicated a couple issues:

1) For each of the 29 files, fastq-dump gave multiple warnings about three columns not being found, LABEL, LABEL_START, and LABEL_LEN. Does this indicate an is

[2016-12-13 06:48] klearned commented on #24
When I sent in a question to the SRA helpdesk regarding the second issue described above (READLEN <1), SRA helpdesk replied with this:

Cameron ran one that had the READLEN <1 issue through treeshop, this one:

`SRR1267597      /scratch/klearned/dbGap/phs000709.v1.p1/data/fastq/SRR1267597_1.fastq.gz,/scratch/klearned/dbGap/phs000709.v1.p1/data/fastq/SRR1267597_2.fastq.gz`

...but it crashed Treesh

[2016-12-13 06:49] klearned commented on #24
Should we try to run them all through Treeshop, or just try to run those that didn't have any reads with READLEN <1 ?

[2016-12-13 09:04] klearned commented on #24
This  dataset **phs000709.v1.p1** is ready to run through just those samples that didn't have any READLEN <1 rejected issues through Treeshop (RNAseq + QC).
n=17 samples (from 6 patients)

**Please place output folders here:**
`/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/phs000709.v1.p1_fibrolamellarHepatocellularCarcinoma`

**Manifest**
`/pod/pstore/groups/treehouse/publ

[2016-12-13 17:47] rcurrie commented on #24
Running...

[2016-12-13 18:26] e-t-k opened #25 "Construct Compendium v2 TPM expression data file"
Per meeting yesterday, we're constructing a file consisting of the expression data for tumormap compendium v2, using the TPM unit of measurement instead of "norm counts". @hbeale my understanding is that you have this data already compiled and we just have to pin down the file formatting?

My 1 big question is whether to apply **log2(n+1)** scaling or not, since it is actually optional in MedBook.

[2016-12-13 19:09] hbeale commented on #25
Hi Ellen--

Thanks for the detail. For feature IDs it is really helpful for biological interpretation by a human when the Hugo ID is used, even though it's computationally imperfect. I assume that conversion should happen outside Medbook, but I could be convinced otherwise. What are your thoughts?

I can construct separate files as you request. I am selecting TCGA target samples based on the compe

[2016-12-13 19:18] e-t-k commented on #25
You're right & I've updated the original issue. I had thought translating to hugo would be prohibitively inconvenient but i had forgotten the discussion we had and that the mapping is easy to retrieve from any existing hugo output file.

Yes, it will. There should be 10,531 TCGA/TARGET samples in total.  Here's the 2 lists of sample IDs for double-checking purposes.

[compendium.v2.tcga_target.txt

[2016-12-13 20:51] e-t-k commented on #13
The following 4 samples will be excluded, based on the presence of readDist.txt_FAIL_qc.txt files in their /qc/ dir:

SRR1701090
SRR1701117
SRR1701102
SRR1701307

The remaining 31 samples, listed below, will be imported as follows:
* data is the TPM column from RSEM/rsem_genes.results
* the ensembl IDs from this file will be translated to Hugo gene names
* log2(x+1) normalization **will** be appli

[2016-12-13 22:30] klearned commented on #13
Paper: [PMID 25512523](http://www.ncbi.nlm.nih.gov/pubmed/25512523)

[2016-12-13 22:55] hbeale commented on #25
Thank you; I've reconciled the sample IDs.

Yes, log2(tpm+1) scaling should be applied. Do you want me to pre-scale the input data I'm preparing or no?

[2016-12-13 23:20] e-t-k commented on #25
Please pre-scale it, since I'm not importing it into MedBook in the immediate future.

Incidentally -- so we're using TPM for the V3 compendium -- do you know if Yulia is expecting this,  or if I'm also delivering a parallel norm_counts v3 compendium?

[2016-12-13 23:23] hbeale commented on #25
Olena and I discussed this and we're converting everything to TPM, so you will not need to deliver a parallel norm_counts v3 compendium.

[2016-12-14 04:38] hbeale commented on #25
@e-t-k , I realized that my process doesn't include the collapsing process that I believe medbook does (e.g. when the same gene name appears more than once, they are reported as a single gene with the averaged value). What do you think we should do about that?

[2016-12-14 06:29] hbeale opened #26 "TPM with Hugo IDs on future processed data"
We either need to add a conversion of ensembl ids to hugo ids to the rna-seq pipeline, or convert them separately.

For our future reference, the details of conversion are here:
https://www.synapse.org/#!Synapse:syn6041633/wiki/410931

[2016-12-14 14:41] rcurrie commented on #26
Should we stick with ensembl (or entrez) to retain isoform information for down the road? isoforms?  Suggest maybe post v3 we have a more general discussion about this - also suggest bringing this subject up today at cancercats with the xena team if relevant.

@e-t-k jvivian's conversion code uses python pandas and is here:

https://github.com/jvivian/docker_tools/blob/master/gencode_hugo_mapping/

[2016-12-14 19:17] e-t-k commented on #25
@hbeale I've update the original comment per our chat just now & separated it into your & my deliverables. Please let me know if I missed anything.

[2016-12-14 21:45] klearned opened #27 "Repository - EGAD00001001666 Low Grade Glioma Epilepsy RNA-seq"
Original paper: [PMID 26810070](https://www.ncbi.nlm.nih.gov/pubmed/26810070)
From: St Jude (via EGA [EGAD00001001666](https://www.ebi.ac.uk/ega/datasets/EGAD00001001666) )
Detailed file spreadsheet: [EGAD00001001666 PCPG: Low Grade Glioma Epilepsy RNA-seq](https://docs.google.com/a/ucsc.edu/spreadsheets/d/11wjD8_3p4CK1X58Qs0as_UbMPnZKEICWjbpWfwZPSds/edit?usp=sharing)

n= 63 samples from 33 patien

[2016-12-14 22:44] adurbin2 commented on #27
My notes indicate bam-to-fastq conversion is done (Linh email Dec 8).

[2016-12-14 22:49] cygao commented on #17
Under request of @adurbin2, I'm running this again on the (pre-Treeshop) pipeline. This will be the final run attempt.

[2016-12-14 23:15] klearned commented on #27
@adurbin2 Actually, they haven't been converted yet. I want to get that to Linh, but I went down the clinical data rabbit hole and am just getting out :) I am going to send these to Linh to convert asap.

[2016-12-14 23:21] adurbin2 commented on #27
Oh sorry, I must have misunderstood an earlier email... Thanks for sending access - I will start marking up the worksheet for this one too.

[2016-12-14 23:21] cygao commented on #17
Failed again, closing issues

[2016-12-14 23:21] #17 closed

[2016-12-15 00:13] klearned commented on #27
Ya, I accidentally had Linh put files from another dataset in the fastq file for this dataset. So, at one point it looked like these had been converted. You were really paying attention!

[2016-12-15 00:49] klearned commented on #27
@linhvoyo Please convert the 63 bam files listed in the following file into fastq files:
`/scratch/klearned/EgaDemoClient/EGAD00001001666/bamRna/fileListEGAD00001001666`

Please put the fastq files here:
`/pod/pstore/groups/treehouse/published-data/stjude/EGAD00001001666/fastq`

Let me know if you have any questions!

[2016-12-15 14:15] rcurrie commented on #24
14 of 17 complete, and ALL HAVE PASSED!

[2016-12-15 16:56] rcurrie commented on #24
All 17 complete:
@hbeale 14 PASSED, 3 generated a 0 length bam (03, 17, and 18)

@klearned Following protocol all 17 should be imported into MedBook for compendium, passing back to Katrina though for further routing (holly or ellen)

[2016-12-15 16:58] rcurrie commented on #23
Running...

[2016-12-15 17:30] klearned commented on #24
@rcurrie Great!! My best pass record yet! I'll take it to the next step.

@adurbin2 Have you imported these into your index yet?

On Dec 15, 2016 8:56 AM, "Rob Currie" <notifications@github.com> wrote:

Assigned #24 <https://github.com/UCSC-Treehouse/operations/issues/24> to
@klearned <https://github.com/klearned>.

—
You are receiving this because you were mentioned.
Reply to this email directly,

[2016-12-15 17:38] klearned commented on #24
@e-t-k  Please import TPM values for all 17 samples into MedBook for addition to Compendium V3. Thanks!

`/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/phs000709.v1.p1_fibrolamellarHepatocellularCarcinoma`

Please let me know if you need additional information.

[2016-12-15 18:00] adurbin2 commented on #24
Will do - need to grab the output folders & bams paths to the worksheet, then I will bring in everything at once. Way to go!

[2016-12-15 18:18] adurbin2 commented on #24
I'm confused about the status of bam files. Holly mentioned just now that we want to save the QC-putput bams and not the RNA-seq process bams; but she also mentioned that Rob had set bams (not sure which) to not be saved. And that it's different for prospective samples vs repository samples.... This is not something I had heard before. @rc if bams are required, is it too late for us to grab whatev

[2016-12-15 18:30] klearned commented on #24
Actually, @adurbin2 and @e-t-k , which go into medbook? All or just the tumor samples. There are some normals included in this dataset so I am wondering if those go into medbook because I know they don't go into V3.

[2016-12-15 18:34] e-t-k commented on #24
@klearned MedBook is for samples that are going to be used in further downstream analysis. So the question to ask is "What are we going to use these normal samples for?" -- and I don't know the answer to this.

In any case, the normals -- if they are going to MedBook at all -- should be in a different Data Set from the tumor samples.

How can I determine which samples are tumor and which are norma

[2016-12-15 18:48] klearned commented on #24
Thanks @e-t-k , I am keeping all the info about the data in this [spreadsheet](https://docs.google.com/a/ucsc.edu/spreadsheets/d/1osCWejRdOZ6hYgK7olC9qDSKHpTbBz7Q2lkL8hoiQeE/edit?usp=sharing) (I am trying to provide the link to my spreadsheet in the ticket description) these samples are the normals:
SRR1267605
SRR1267607
SRR1267614
SRR1267616
SRR1267618

The rest are tumor (subcategorized as mets,

[2016-12-15 18:50] klearned commented on #24
Actually, @e-t-k , what information about the data gets ported into medbook and where do you usually pull it from?

[2016-12-15 18:56] e-t-k commented on #24
The bare minimum I need to import samples into MedBook is
* what to name the data set and study
* the list of  RNA-Seq output file locations for the samples to import.
Then, the sample files contain the sample IDs and expression values.

If the samples IDs should be  different from what is in the output files, I need a mapping of "correct IDs" to "IDs in the files".

Next, optionally, we might hav

[2016-12-15 19:01] klearned commented on #24
@e-t-k  OK, thanks for this info!

[2016-12-15 20:23] adurbin2 commented on #24
So, when we do push the button to create v3, I expect to provide one worksheet containing the metadata (disease, stage, grade, age, gender... all of the essential fields, matched by sample id) to match all the samples on the Medbook list that Ellen will produce. That's one reason why we need a unique ID for each incoming RNASeq sample, and why I collect the clinical metadata from the papers, along

[2016-12-15 20:33] rcurrie commented on #23
@klearned files have to be R1/R2, capitals, sorry!

https://github.com/BD2KGenomics/toil-rnaseq

Samples consisting of tarballs with fastq files inside must follow the file name convention of ending in an R1/R2 or _1/_2 followed by .fastq.gz, .fastq, .fq.gz or .fq..

[2016-12-15 20:51] klearned commented on #23
@rcurrie OK, thank you for this info

@linhvoyo  Could you make the changes Rob describes above to these samples in this dataset and these other EGA datasets:

EGAD00001002680 #23 (this ticket)
EGAD00001001098 #22
EGAD00001001666 #27 (ready for conversion)

[2016-12-16 00:04] e-t-k commented on #26
For the short term, I've set up some scripts for manual conversion, using the empirical mapping file that @hbeale generated:

https://github.com/UCSC-MedBook/data-wrangling-scripts/tree/master/TPM_import

[2016-12-16 00:19] e-t-k commented on #13
The 31 samples [listed above](https://github.com/UCSC-Treehouse/operations/issues/13#issuecomment-266858155) have been imported to MedBook **under the TPM normalization, not norm_counts**.

The 4 "Fail" samples remain un-imported.

[2016-12-16 00:21] hbeale commented on #26
Good call @e-t-k . Thank you!

[2016-12-16 00:41] e-t-k commented on #26
Next I plan to update my scripts to place the TPM samples in the RSEM/Hugo output directories as if they were there all along.

Filename will be : `$samplename/rnaseq/RSEM/Hugo/rsem.genes.tpm.hugo.tab`

@rcurrie , it would be convenient if you could set up your umask so these output directories will be g+w by default; alternatively, I'll just mount them in a Docker and chmod them myself when neces

[2016-12-16 16:46] rcurrie commented on #22
These are also all r1/r2 vs. R1/R2

[2016-12-16 18:31] linhvoyo commented on #23
Hi all.
I fixed EGAD00001002680 and EGAD00001001098.

@klearned Will make changes to EGAD00001001666 once I'm done processing them.

[2016-12-16 21:27] klearned commented on #23
Thank you!

[2016-12-16 22:01] e-t-k commented on #26
TPM samples can now be placed in the Hugo output directories. See Step 5 of the [TPM readme](
https://github.com/UCSC-MedBook/data-wrangling-scripts/blob/master/TPM_import/README.md#how-to-transform-tpm-data-using-these-scripts) for usage.

[2016-12-16 22:01] #26 closed

[2016-12-16 22:38] e-t-k commented on #24
- TPM files rsem.genes.tpm.hugo.tab created for each of these 17 samples and placed in the Hugo dir.

@adurbin2  Please let me know which of these samples should be uploaded to MedBook and  whether they need to go into multiple data sets.

[2016-12-16 23:28] e-t-k commented on #12
These 40 samples **with TPM normalization** now also present in MedBook, and their TPM output files present in the RSEM/Hugo output directory. Data sets are "Monje phs000900.v1.p1 - Human Tumor (TPM)" and "Monje phs000900.v1.p1 - Normal/Cell Line (TPM)".

[2016-12-18 01:06] rcurrie commented on #23
I'm going to see about coding up something in treeshop to handle this as the other one is 100+ samples, so standby on finishing up EGAD00001001666 @linhvoyo

[2016-12-18 01:17] rcurrie commented on #16
Is this still running?

[2016-12-18 01:20] rcurrie commented on #22
I've added code to treeshop to deal with r1/r2 vs. R1/R2, but as this is a giant batch and will take at least 10 days going to pause and try and get the other one freed up. The Core may be able to process this very soon in the new year en. mass.

[2016-12-18 01:32] rcurrie commented on #23
Running...

[2016-12-18 02:27] cygao commented on #15
Samples have been processed and placed at /pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/bams/EGAD00001000356

@adurbin2 the following outputs seem to be smaller than the rest. Can you check if they have been processed correctly?

590M    ./EGAR00001076556_tumor_4125240
140M    ./EGAR00001092805_tumor_4175837
135M    ./EGAR00001092803_tumor_4142267
135M    ./EGAR00001076557_

[2016-12-18 02:28] cygao commented on #16
I'm currently running

[2016-12-18 05:31] rcurrie commented on #23
Ruh Roh:
[104.40.71.126] out: 552d3d7e8438: 2016-12-18 04:40:30,083 WARNING: toil.leader: y/l/jobhPDQvL: cutadapt: error: Re
ads are improperly paired. Read name 'HWUSI-EAS1714_17:6:100:16651:9081' in file 1 does not match 'HWUSI-EAS1714_17
:6:100:1665:19081' in file 2.

Files:
/pod/pstore/groups/treehouse/publisheddata/stjude/EGAD00001002680/data/fastq/_EGAR00001470655_SJACT001_D-638PHAAXX.6.R1.f

[2016-12-19 16:44] adurbin2 commented on #24
Of the 17 samples, twelve samples are from tumor and we expect to include them in the next compendium:
SRR1267601
SRR1267602
SRR1267603
SRR1267604
SRR1267606
SRR1267608
SRR1267609
SRR1267610
SRR1267613
SRR1267615
SRR1267617
SRR1267622

Five are from normal tissue (will not be used to build compendia, but may be useful to Treehouse in other ways):
SRR1267605
SRR1267607
SRR1267614
SRR1267616
SRR1267

[2016-12-19 16:46] adurbin2 commented on #15
@linhvoyo Can you check the files Cameron is asking about? see comment just above this one -

[2016-12-19 17:52] linhvoyo commented on #23
@rcurrie - something is up with the sorting. I'm currently looking into it

[2016-12-19 17:55] linhvoyo commented on #27
Hi Katrina.
I'm done. Everything is all there
/pod/pstore/groups/treehouse/published-data/stjude/EGAD00001001666/fastq

I changed the name to R1/R2 also.

[2016-12-19 17:57] klearned commented on #27
Great! Thank you @linhvoyo !

[2016-12-19 18:10] e-t-k commented on #24
### MedBook Import
17 samples will be imported to MedBook with TPM normalization.

#### Study
"phs000709.v1.p1 fibrolamellar hepatocellular carcinoma"
namespace: *phs000709/*

#### Data Sets
"phs000709.v1.p1 fibrolamellar hepatocellular carcinoma - TUMOR (TPM)"
"phs000709.v1.p1 fibrolamellar hepatocellular carcinoma - NORMAL (TPM)"

[2016-12-19 18:23] klearned commented on #22
@rcurrie OK, actually, @linhvoyo changed these to R1/R2. Sorry, I should have made that clear in this ticket (it's in a related ticket).

[2016-12-19 18:25] klearned commented on #27
@rcurrie The 63 samples are ready to be run through Treeshop. The manifest file is here:

`/pod/pstore/groups/treehouse/published-data/stjude/EGAD00001001666/fastq/manifestEGAD100001001666
`

[2016-12-19 18:29] klearned commented on #27
@adurbin2 I have all the clinical data that I could find in fields in the spreadsheet. I wanted to capture it all, so I didn't try to fit it into your fields. It's all in there if you want to fit it into your fields for the index when you're ready. Thanks!

[2016-12-19 19:07] e-t-k commented on #24
All samples imported to MedBook. [Normal dataset](https://medbook.io/manage/data-sets/9FhGzWr6vhu7AB9K6) [Tumor dataset](https://medbook.io/manage/data-sets/YfGNqqMqvcNqF4Zvz)

[2016-12-19 19:07] #24 closed

[2016-12-19 19:16] adurbin2 commented on #27
[401_2016_1539_MOESM1_ESM.pdf](https://github.com/UCSC-Treehouse/operations/files/661906/401_2016_1539_MOESM1_ESM.pdf)

I want to use this supplemental table to apply a more detailed diagnosis to the downloaded samples - will consult with Olena.

[2016-12-19 19:39] klearned commented on #27
@adurbin2 Here is info about the other diagnosis abbreviations from the paper:

[2016-12-19 19:47] adurbin2 commented on #27
Perfect, thank you. Now I will just work with Olena to make this fit the disease/histology/stage/grade/subcategory fields.

[2016-12-19 20:04] adurbin2 commented on #11
Opened to request that Ellen grab the TPM values for this dataset of eleven samples, for use in the V3 compandium.

[2016-12-19 20:06] klearned commented on #27
Great! Thank you Ann! Please let me know if you have any questions or need
me to do additional research/searching.

[2016-12-19 20:06] e-t-k commented on #11
11 TPM samples will be uploaded to MedBook.
Study:  **California Kids Cancer Comparison**
Data set: **Treehouse Prospectives 2016.10.14 (TPM)**

Samples:
TH03_0112_S01_RNASeq
TH03_0114_S01_RNASeq
TH03_0118_S01_RNASeq
TH03_0010_S02_RNASeq
TH03_0113_S01_RNASeq
TH03_0115_S01_RNASeq
TH03_0113_S02_RNASeq
TH03_0025_S02_RNASeq
TH03_0117_S01_RNASeq
TH03_0116_S01_RNASeq
TH03_0112_S02_RNASeq

[2016-12-19 21:00] adurbin2 commented on #7
Ellen, this may have been taken care of already, but just in case: These three samples need to be removed from the dataset for v3 (although they were a part of the v2 compendium). All 3 were QC fails due to low UMEND.

[2016-12-19 21:08] e-t-k commented on #7
These 3 samples (norm_counts metric) are currently in the "California Kids Cancer Comparison" data set:
ckcc/TH05_0109_S01_RNASeq
ckcc/TH05_0110_S01_RNASeq
ckcc/TH05_0111_S01_RNASeq

I will remove these from the v2 TPM compendium that @hbeale is constructing & track that change in that issue, #25  , instead of this issue.

[2016-12-19 21:08] #7 closed

[2016-12-19 21:24] e-t-k opened #28 "MedBook TPM Import - 7 human samples from Stanford PDX dataset (retroactive; missed in V2)"
The [Stanford Xenograft Study](https://medbook.io/manage/data-sets/fcfgpTQq6zSxQf4Xx) contains 7 samples that were erroneously marked pdx (patient-derived xenograft) and are in fact human.
They were erroneously excluded from Compendium V2 and are being added to Compendium V3.

Samples (norm_counts metric) are present under their stanford identifiers in the Stanford Xenograft Study data set, not th

[2016-12-19 21:35] linhvoyo commented on #15
@cygao  Cameron what specifically do you think looks funny?
I went into ./EGAR00001076556_tumor_4125240 and there are different folders in there. The only bam I saw was /pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/bams/EGAD00001000356/EGAR00001076556_tumor_4125240/qc/rnaAligned.sortedByCoord.md.bam and it's 1.4MB and not 590M. Is this the bam that you're concerned about ?

[2016-12-19 22:12] adurbin2 opened #29 "Prospective_RNASeq_TH-Stanford_20161219"
These are twelve newly arrived prospective samples from Alex at the Sweet-Cordero lab (our same Stanford partner). Please process through Treeshop with high urgency. A tab-separated manifest is attached as .txt (GitHub dislikes .tsv, but you can just change it to .tsv).
[Stanford_19Dec2016_manifest.txt](https://github.com/UCSC-Treehouse/operations/files/662280/Stanford_19Dec2016_manifest.txt)

Inp

[2016-12-19 22:38] rcurrie commented on #29
Running

[2016-12-20 00:05] e-t-k commented on #11
11 TPM samples now available in the [Treehouse Prospectives 2016.10.14 (TPM) data set.](https://medbook.io/manage/data-sets/rdEeHn2TYF5gXfdcJ), and re-imported back to the RSEM/Hugo output folders.

[2016-12-20 00:05] #11 closed

[2016-12-20 00:05] e-t-k commented on #28
7 TPM samples now available in the [Treehouse Prospectives 2016.10.14 (TPM) data set.](https://medbook.io/manage/data-sets/rdEeHn2TYF5gXfdcJ), and re-imported back to the RSEM/Hugo output folders.

[2016-12-20 00:05] #28 closed

[2016-12-20 00:35] rcurrie commented on #29
Seems to be running fine.

@adurbin2 file format perfect, I only made one tine tiny change, "Id" -> "ID" :-)

[2016-12-20 00:39] hbeale commented on #25
The compressed, tab delimited files

compendiumV2TPM.log2Plus1.Hugo.noDupeRowOrCol.2016.12.16_15.40.26.Treehouse.txt.gz and
compendiumV2TPM.log2Plus1.Hugo.noDupeRowOrCol.2016.12.16_15.40.26.TCGA.TARGET.txt.gz

have been copied to /pod/pstore/groups/treehouse/backed_up/compendium/TPM/. They contain log2(tpm+1) data obtained from Xena and RNA-Seq output files. Gene IDs were converted to Hugo; the 50

[2016-12-20 01:13] e-t-k commented on #25
- [x] remove 3 samples from Treehouse compendium file: TH05_0109_S01_RNASeq, TH05_0110_S01_RNASeq, TH05_0111_S01_RNASeq
output: `compendiumV2TPM.log2Plus1.Hugo.noDupeRowOrCol.2016.12.16_15.40.26.Treehouse.removed3samples.txt`

- [ ] apply fully qualified study IDs to Treehouse compendium file
- [ ] apply fully qualified study IDs to TCGA/TARGET compendium file

[2016-12-20 02:04] cygao commented on #15
@linhvoyo I'm just making sure that everything is ok at a first glance. If looks acceptable to you, then it should be good to go.

[2016-12-20 02:08] linhvoyo commented on #15
@cygao  The bam looks small to me too. I was just checking to see if I'm looking at the right one. I think it's missing another bam file or something. What was the input?

[2016-12-20 02:20] cygao commented on #15
Based off the manifest, the input is

[2016-12-20 02:22] e-t-k commented on #25
TPM Compendium 2 files have been created.
They both have full MedBook sample names.
3 samples listed above have been removed from the Treehouse compendium file.

Next step:

- [X] retrieve preliminary compendium v3 additional samples from MedBook
output: `compendiumV3TPM.fromMedbook.2016.12.19.txt`
- [ ] re-order genes from this file to match the order for files above (in a reproducible way)
- [ ]

[2016-12-20 05:15] rcurrie commented on #29
Output going into: /pod/pstore/groups/treehouse/Stanford1216

First 3 still running, some in Fusion. One failed so far: TH03_0138_S01

[2016-12-20 16:02] adurbin2 commented on #29
Failed how? We may be able to ask Alex to re-send a file, but that will have to be in the next day or so.

[2016-12-20 18:55] e-t-k commented on #25
Also, Add patient1 to the compendium. This needs to be done before the steps above.

- [ ] create hugo tpm file
- [ ] import to medbook
- [ ] create new v3 sample group including patient1
- [ ] export

[2016-12-20 19:06] rcurrie commented on #29
First three are still running, not sure why they are taking so long but to debug would have to kill processing so letting continue to run. Of these 1 passed QC, 1 failed, and 1 I 'think' is still running.

[2016-12-20 22:22] adurbin2 opened #30 "Prospective_CHOC/Nant_RNASeq_20Dec2016"
Analysis of the RNASeq samples provided by CHOC/Nant in November. The files are located at /pod/pstore/groups/treehouse/nantomics. (Not all the files in that directory have been characterized, and of the ones that are, not all are RNASeq.)

Step one is to convert the RNASeq bams to fastqs (thanks @linhvoyo !) See the 19 bam files for 17 RNASeq samples in the shared document for this CHOC/Nant batc

[2016-12-20 23:13] rcurrie commented on #29
Bug running fusion and overall this is going too slowly. So cranked up 4 openstack serves so upload/download will be faster and re-started. 2 files already processed saved under 'save' in case someone wants to start taking a look, otherwise hopefully with 4 machines this should complete in a day or two.

[2016-12-21 02:38] rcurrie commented on #29
Wow, much faster limiting to just openstack: 4 processed, 2 pass and 2 fail

[2016-12-21 16:15] rcurrie commented on #29
So far 5 PASSED, 2 FAILED

[2016-12-21 16:17] rcurrie commented on #29
@jpfeil fusion output in /pod/pstore/groups/treehouse/Stanford1216 for TH03_0142_S01, TH03_0141_S01, TH03_0139_S01, TH03_0138_S01

[2016-12-21 16:22] adurbin2 commented on #29
@rcurrie Do we need to ask Alex to re-send any failed samples?  If so, can we provide any reason why the samples fail? Please advise.

[2016-12-21 18:58] e-t-k commented on #25
### expression and variance filters.

The expression and variance filtering scripts were applied to the draft compendium 3.

#### Scripts
`python2.7 filter_out_genes_unexpressed_in_most_samples.py --in_file compendiumV3TPM.log2Plus1.Hugo.noDupeRowOrCol.FullMBHeader.2016.12.20.FULL.txt --proportion_unexpressed 0.8 --out_file full.v3.expressionfiltered.12.21.tsv`
`python2.7 filter_out_lowest_varying

[2016-12-21 19:40] adurbin2 commented on #15
@hbeale in case you can shed some light?

[2016-12-21 19:54] hbeale commented on #25
@e-t-k works for me. Thanks for the detail!

[2016-12-21 19:56] hbeale commented on #15
It's fine @cygao @linhvoyo @adurbin2

[2016-12-21 21:21] adurbin2 commented on #15
Woo hoo, 17 more samples for the (next) compendium! Ellen @e-t-k please add these samples to Medbook from the EGAD00001000356 B-lymphoma dataset. I have added an icgc/ prefix to the Index filenames.

icgc/EGAR00001076555_tumor_4119027
icgc/EGAR00001076556_tumor_4125240
icgc/EGAR00001076557_tumor_4182393
icgc/EGAR00001076558_tumor_4190495
icgc/EGAR00001092797_tumor_4101316
icgc/EGAR00001092798_tumo

[2016-12-21 22:20] adurbin2 commented on #23
@linhvoyo @rcurrie do we have any new information on this dataset? thank you --

[2016-12-21 22:21] rcurrie commented on #29
11 processed: 8 PASS, 3 FAIL
Last one plus it looks like fusion on a two of the others in process now so should all be done by end of day I suspect.

[2016-12-21 22:22] adurbin2 commented on #22
@rcurrie is this one running, or maybe waiting for core?

[2016-12-21 22:47] rcurrie commented on #22
Not running yet until prospectives are done. But once they are will queue up the next one - just let me know which that should be by putting it at the top of the 'READY' in Waffle

[2016-12-21 22:48] rcurrie commented on #29
My bad, was counting the prior failed runs outputs: 6 PASS, 2 FAIL

$ more ./TH03_0138_S01/qc/readDist.txt_FAIL_qc.txt
input   uniqMappedNonDupeReadCount      estExonicUniqMappedNonDupeReadCount     qc
/data/readDist.txt      964328.5        756750.15       FAIL
rcurrie at bazaar in /pod/pstore/groups/treehouse/Stanford1216
$ more ./TH03_0145_S01/qc/readDist.txt_FAIL_qc.txt
input   uniqMappedNonDu

[2016-12-21 23:50] linhvoyo commented on #23
@adurbin2

@rcurrie I've figured out what is wrong with that one. For now just process the rest of the batch, I will reconvert any files that failed later. Thanks

[2016-12-22 03:12] cygao commented on #16
Samples have been processed and outputs place in

[2016-12-22 05:31] rcurrie commented on #29
8 PASS, 3 FAIL, 1 remaining

[2016-12-22 20:54] adurbin2 commented on #16
Thanks @cygao! Pod's out of touch today, so this will have to wait - but I will collect them in 2017. Happy holidays!

[2016-12-22 21:29] e-t-k commented on #25
Note : For metadata compendium file, linux line endings (not dos) are required

[2016-12-23 06:08] klearned commented on #23
Thanks all!!

[2016-12-23 16:55] rcurrie commented on #29
Processing Complete: 9 PASS, 3 FAIL (TH03_0138_S01, TH03_0145_S01, TH03_0147_S01)

Results in /pod/pstore/groups/treehouse/Stanford1216

Off to @hbeale @jpfeil and @omorozova for analysis

Passing back to Anne for any storage

[2016-12-24 00:01] adurbin2 commented on #29
Hi @rcurrie I've copied the output folders of TH03_0138 through TH03_0149 to the archive in /pod/pstore/groups/treehouse/backed_up/archive/output. Please take a quick look to doublecheck my copy was OK and complete, before removing the /Stanford1216 directory.

[2017-01-03 23:46] rcurrie commented on #22
I'm going to work on getting these uploaded into core 2.0 for processing using RNASeq 3.0

[2017-01-04 04:05] rcurrie commented on #22
I've begun uploading to the core all the fastqs (252) via a manifest here:

https://docs.google.com/a/ucsc.edu/spreadsheets/d/1mRPyvxswdSGvLhiGeqI0FXih3k1GI_5VxSrpmqoMEx0/edit?usp=sharing

I used regex to extract a few of the columns.

[2017-01-04 17:59] klearned commented on #22
@rcurrie I was looking at your manifest and was wondering why the Submitter Specimen Id's have "SP" appended to the beginning? Have we been doing that with the specimens run through Treeshop?

[2017-01-04 18:29] hbeale commented on #22
@klearned I believe we do that because the core requested that the specimen
ID be different from the sample (?) ID for filtering purposes...

On Wed, Jan 4, 2017 at 9:59 AM, Katrina Learned <notifications@github.com>
wrote:

[2017-01-04 18:48] klearned commented on #22
@hbeale OK, makes sense. Thanks!

[2017-01-04 20:36] rcurrie commented on #22
Actually its my error - I thought that the UUID's were generated from only the sample id field but they are aggregate. So, Program/Project define a name space and we just need to make sure, for example, Donor ID is unique within a given Program/Project. Ditto for Sample ID...so I'm going to switch this back (as its not uploading yet, Brian debugging) to using '1' for the Sample ID (ie from .1)

[2017-01-05 01:34] rcurrie commented on #22
Uploading first 10 as a test.

I revised the IDs:
https://docs.google.com/spreadsheets/d/1mRPyvxswdSGvLhiGeqI0FXih3k1GI_5VxSrpmqoMEx0/edit#gid=0

Chose to make Sample ID and Specimen ID the same as we don't really differentiate in treehouse. Made the donor id match what is in the detail report for this dataset. For this first set of uploads this shouldn't all matter too much as this is replacing u

[2017-01-05 19:09] adurbin2 commented on #22
Just checking in - great to see we can start to send large sets to the Core.

It would also be great to be able to include details from Katrina's original worksheet, derived from the repository --
https://docs.google.com/spreadsheets/d/1nCUctVIyqIbp9EGtT0Tz1KMfCchWU3-GJqepvxFjnpo/edit#gid=0

-- specifically data relating to disease, relapse, original diagnosis, anatomical location. In the future,

[2017-01-06 19:57] adurbin2 commented on #29
@e-t-k Hi Ellen - Can you please upload these twelve RNASeq outputs to Medbook, and take the usual steps to initiate processing? These are assumed to be prospective samples, and they completed RNASeq via Treeshop just before break. We have not yet received diagnosis or other clinical data, and we don't know if any of these are related to prior samples, or to each other (they may be). The Stanford

[2017-01-06 20:03] rcurrie commented on #29
@adurbin2 we're not using MedBook going forward for analysis, Ellen is working on a Juypter notebook that Olena/Lynh will use to access these for analysis. This is short term - later we'll be either accessing the output directly from the core's storage or xena. Will sort that in February.

[2017-01-06 20:04] adurbin2 commented on #29
OK good to know. Is this process underway then?

[2017-01-06 20:05] e-t-k commented on #29
Thanks, @rcurrie , that was fast.

@adurbin2 , I will apply the TPM transformation to these samples but not immediately import them into MedBook.

@hbeale These are the prospective samples in question that you recently did outlier manually on, correct?

[2017-01-06 20:22] hbeale commented on #29
Hi Folks--

My understanding is that we're using compendium v3 for these samples.

Regarding the stanford sample analysis, who is handling the Tumor Map
handoff? (Olena? Is Tumor Map v3 ready? We can re-assign it if we know
what's involved (e.g. send them data X).

Ellen, I have not done outlier analysis on these; that was the monjee
samples. Can you do the outlier analysis for pan cancer and pan

[2017-01-06 20:38] omorozova commented on #29
Hi All,

Teresa will handle the tumor map placement against v3 compendium. Yesterday
Rob suggested that Ellen handles the hand off to tumor map as the placement
reports will be used to guide pan-disease outlier analysis. Ellen, is this
OK with you?

Thanks
Olena

On Fri, Jan 6, 2017 at 12:22 PM, hbeale <notifications@github.com> wrote:

[2017-01-06 20:42] adurbin2 commented on #29
Just chiming in: @omorozova Olena, in an email before break, we had discussed you taking one more data grab from TCGA/TARGET, to get one file with all the rows (all samples) and all of the columns (all essential fields, including race and ethnicity) we need. Would that be possible? I will need to do some harmonization of terms, capitalization, and format, before we get the final polished data file

[2017-01-06 21:08] adurbin2 commented on #30
OK, Linh and Holly took a closer look and tend to agree that the first and last samples are represented by two fastq file pairs (all the rest by just one pair). I've noted this in the manifest.

[2017-01-06 21:12] adurbin2 commented on #30
@rcurrie Hi Rob, Please process these 17 prospective CHOC/Nant samples via Treeshop's RNASeq. The manifest is here (see second tab):
https://docs.google.com/spreadsheets/d/1uqBdEN6tWVHcO5gz_ub9narcdHe_b0b66KjHHeiW0uw/edit#gid=59683238

Please place the outputs into a temporary directory on pod, and let me know where / when they are completed. Thank you!

[2017-01-06 21:13] e-t-k commented on #29
@hbeale Thanks for the clarification. I can do pancan outlier analysis for these. For pan-disease, I will need to work with Linh/Olena to clarify which diseases for each of them are appropriate since I know they often like to do more diseases than, eg just straight LUAD for an LUAD sample.

@omorozova I can do this -- I'll ask Linh what the handoff involves.

[2017-01-06 21:50] rcurrie commented on #30
Spinning up an openstack cluster, will process over weekend

[2017-01-06 21:50] adurbin2 commented on #13
Hi Rob @rcurrie Just for the record, what version of RNASeq was this batch run on?

[2017-01-06 21:52] adurbin2 commented on #30
Great, thank you!

[2017-01-06 21:52] rcurrie commented on #13
2.0.8

In each result is a methods.json which specifies the versions of each of the components.

[2017-01-06 21:59] adurbin2 commented on #13
Good to know - thanks!

[2017-01-06 22:05] e-t-k commented on #29
Update -- I WILL importing these (as TPM) into MedBook for convenience re: tumormap handoff.
Outlier Analysis will be performed, however, in Jupyter.

Study: California Kids Cancer Comparison (ckcc)
Data Set: Prospective_Stanford_20161219_TPM

[2017-01-06 22:16] rcurrie commented on #30
@hbeale @linhvoyo the manifest has two sample id's with 2 pairs each. Assuming these should be run as 4 separate runs as the pipeline only takes a single pair at a time?

[2017-01-06 22:28] rcurrie commented on #30
@hbeale @linhvoyo that must be the case looking at the other tab, I'll process these and put into _A and _B folders respectivelly

[2017-01-06 22:30] adurbin2 commented on #30
I think in the past, multi-pair fastq sets sent by CHOC were processed in RNASeq as single samples (although I couldn't say how). Is that a possibility now?

[2017-01-06 22:33] rcurrie commented on #30
Nope - they would need to be concatenated I believe in the past. They are two pairs, each of which is from a separate BAM so it seems like this is really 4 separate samples. @adurbin2 Please verify.

I've created and edited manifest here:

https://docs.google.com/a/ucsc.edu/spreadsheets/d/1oXf9bVCJXc6gaTRyoxXGLo1_noTJQv0mOdZR5qAKsRM/edit?usp=sharing

You can't merge cells in a table as then its no

[2017-01-06 22:39] adurbin2 commented on #30
I am guessing Jeltje used to concatenate the multiple samples into one; at any rate there was only a single output for each set of multiple paired inputs. She may well have done it manually. Can we do that prior to RNASeq processing? If not, we'll be puzzled how to deal with multiple outputs - we have not had that before.

[2017-01-06 22:40] adurbin2 commented on #30
And when I say "we" , of course I really mean "you" since I don't know how to concatenate fastqs... thanks!

[2017-01-06 22:42] rcurrie commented on #30
Core and Treeshop are a factory: If we want to change what they take in the future thats cool but we can't do it by dint of merging cells in a spreadsheet. Its not clear to me that concatenating is appropriate and I"ve never done it. Please verify with Linh/Holly and re-submit. If I don't hear anything I'll go ahead and process all but those so we have something.

[2017-01-06 22:58] adurbin2 commented on #30
We will concatenate & re-send the manifest; please stand by --

[2017-01-06 23:31] adurbin2 commented on #16
@e-t-k Outputs for these 28 repository samples EGAD00001000648 are completely processed by RNASeq, and can be included in Jupyter/Medbook for use in the next compendium.
At this location: /pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/bams/EGAD00001000648

[2017-01-07 00:17] adurbin2 commented on #30
Concatenated; see manifest tab at
https://docs.google.com/spreadsheets/d/1uqBdEN6tWVHcO5gz_ub9narcdHe_b0b66KjHHeiW0uw/edit#gid=59683238

Thanks!

[2017-01-07 04:26] rcurrie commented on #30
Treeshop run started excluding TH01_0119_S01 & TH01_0135_S01 as they are still concatenating and gzipping. I'll run them after the rest complete.

[2017-01-07 04:53] rcurrie commented on #30
Row 5 of Manifest files missing
TH01_0121_S01
/pod/pstore/groups/treehouse/choc_nant_nov2016/dccceb4c-2464-4351-9db9-79f00e1d47ae.R1.fq.gz,
/pod/pstore/groups/treehouse/choc_nant_nov2016/dccceb4c-2464-4351-9db9-79f00e1d47ae.R2.fq.gz

Going to skip as well, will add to the above two after the rest run so no big rush to sort this.

[2017-01-08 18:57] rcurrie commented on #30
4 processed so far, all have PASSED! (4 more in the oven)

[2017-01-09 16:22] adurbin2 commented on #30
Hi Rob,
 looked in the directory and I see
/pod/pstore/groups/treehouse/choc_nant_nov2016/dccceb4c-
2464-4351-9db9-79f00e1d47ae.R1.fq
/pod/pstore/groups/treehouse/choc_nant_nov2016/dccceb4c-
2464-4351-9db9-79f00e1d47ae.R2.fq

- they are present, just not zipped. I'll ask Linh to gzip them (I tried
and did not have permission).

~Ann

On Fri, Jan 6, 2017 at 8:53 PM, Rob Currie <notifications@github

[2017-01-09 18:26] rcurrie commented on #30
8 processed and PASSED so far (!)

[2017-01-09 18:40] linhvoyo commented on #30
@rcurrie I've zipped /pod/pstore/groups/treehouse/choc_nant_nov2016/dccceb4c-
2464-4351-9db9-79f00e1d47ae.R1.fq , /pod/pstore/groups/treehouse/choc_nant_nov2016/dccceb4c-
2464-4351-9db9-79f00e1d47ae.R2.fq files.

[2017-01-09 18:52] rcurrie commented on #30
Thanks! After this current batch is finished will run another with these and the other two.

[2017-01-09 21:36] e-t-k commented on #29
-[x] TPM file written to rnaseq/RSEM/Hugo/rsem.genes.tpm.hugo.tab for each sample.
-[x] 12 samples uploaded as TPM to MedBook in Prospective_Stanford_20161219_TPM
-[ ] download samples from MedBook and send to tumormap for placement vs tpm compendium v3
-[ ] perform pancancer outlier analysis in jupyter vs tpm compendium v3 (need to finish jupyter code first!)

[2017-01-09 21:58] adurbin2 commented on #29
Hi all,
Once we get clinical data & identifiers from Stanford for these 12 samples,
it's possible their identifiers (TH IDs) may change... how much trouble
will that cause?

The reason for the change would be to recognize any repeat samples of prior
individuals, or multiple samples among this group. (In a perfect world we
would get all that with the sequence files but alas...)

On Mon, Jan 9, 2017

[2017-01-09 22:33] omorozova commented on #29
Hi All,

Once the pan-cancer outlier analysis results are ready, could we send them
to Alex? He asked us for them already and I know that Ann is on that email
thread. Ann, would you be able to send these results to Alex once Ellen
generates them?

Thank you very much!
Olena

On Mon, Jan 9, 2017 at 1:58 PM, adurbin2 <notifications@github.com> wrote:

[2017-01-10 00:52] e-t-k commented on #29
@adurbin2 "how much trouble
will [changing identifiers] cause?"

Why do you ask? Is there a certain threshold of "trouble" that will mean we don't change them? (Because in that case, it's clearly optional to change identifiers so we might as well not bother even if it's actually easy.)
In any case, it is "possible but inconvenient and time-consuming". They would need to be changed on the rna-seq o

[2017-01-10 01:18] omorozova commented on #29
Thank you!

On Mon, Jan 9, 2017 at 4:52 PM, e-t-k <notifications@github.com> wrote:

[2017-01-10 16:17] adurbin2 commented on #29
Hi Ellen,
(Adding Isabel)
Your point is well taken. I would argue that we should make any changes as
early as possible, and definitely before we send any data to Alex. If there
are no repeat or multiple individuals in this batch of 12, there won't be
any need for identifier name changes. We expect the clinical data within a
day or two.

Ann

On Mon, Jan 9, 2017 at 4:52 PM, e-t-k <notifications@git

[2017-01-10 22:45] rcurrie commented on #30
12 processed, all passing, not sure why these all seem to be running slower then the last stanford batch.

[2017-01-10 22:55] adurbin2 commented on #30
These are CHOC/Nant samples, and may be data-denser. Alex noted some of the
Stanford samples in the most recent batch were low-reads.

On Tue, Jan 10, 2017 at 2:45 PM, Rob Currie <notifications@github.com>
wrote:

--
*Ann Durbin*
Treehouse Data Coordinator
Genomics Institute, UCSC

[2017-01-11 17:32] rcurrie commented on #30
13 processed, all passing, slow!

[2017-01-11 20:38] adurbin2 opened #31 "Repository__THR09"
These six samples were re-downloaded so that they can be re-analyzed by RNASeq for their TMP output values, to use in future compendia. May need to adjust permissions to allow certain actions.

One is decrypted:
/scratch/adurbin/_EGA____RNA.bam.cip

- [x] Katrina decrypt five files in /scratch/klearned/EgaDemoClient/EGA__:
_EGA__38_RNA.bam.cip
_EGA__50_RNA.bam.cip
_EGA__70_RNA.bam.cip
_EGA__39_RNA

[2017-01-11 21:48] klearned commented on #31
@adurbin2
I decrypted the 5 files I had downloaded. But actually, it has been our process to wait to move the bams until later because the conversion to fastqs needs to be done on /scratch anyway (it's faster and can take more of a load). So, I bumped up the conversion step in your checklist above.  Also, could you move the one .bam you downloaded to /scratch/klearned/EgaDemoClient/EGAD00001000281

[2017-01-11 21:49] adurbin2 commented on #31
All good ideas - will do.

On Wed, Jan 11, 2017 at 1:48 PM, Katrina Learned <notifications@github.com>
wrote:

--
*Ann Durbin*
Treehouse Data Coordinator
Genomics Institute, UCSC

[2017-01-11 21:53] adurbin2 commented on #31
Oooh, I got "permission denied". Can you chmod the directory to let me drop
my file in? thanks --

On Wed, Jan 11, 2017 at 1:48 PM, Ann Durbin <adurbin@ucsc.edu> wrote:

--
*Ann Durbin*
Treehouse Data Coordinator
Genomics Institute, UCSC

[2017-01-11 21:55] adurbin2 commented on #31
Here is what I tried to do: let me know if I need to ask differently

mv -vi /scratch/adurbin/_EGAR00001077876_RNA-Seq_tumor_4194218_RNA.bam
/scratch/klearned/EgaDemoClient/EGAD00001000281/_EGAR00001077876_RNA-Seq_tumor_4194218_RNA.bam

‘/scratch/adurbin/_EGAR00001077876_RNA-Seq_tumor_4194218_RNA.bam’ ->
‘/scratch/klearned/EgaDemoClient/EGAD00001000281/_EGAR00001077876_RNA-Seq_tumor_4194218_RNA.ba

[2017-01-11 22:05] klearned commented on #31
Hi @adurbin2 you want to do:

`mv /scratch/adurbin/_EGAR00001077876_RNA-Seq_tumor_4194218_RNA.bam /scratch/klearned/EgaDemoClient/EGAD00001000281/`

[2017-01-11 22:07] klearned commented on #31
@adurbin2 ...and i just changed the permissions for the directory, so you should be able to do the mv

[2017-01-11 22:14] adurbin2 commented on #31
Failed...

(screen) [adurbin@stacker /scratch/adurbin]$ mv
/scratch/adurbin/_EGAR00001077876_RNA-Seq_tumor_4194218_RNA.bam
/scratch/klearned/EgaDemoClient/EGAD00001000281/

mv: cannot stat
‘/scratch/adurbin/_EGAR00001077876_RNA-Seq_tumor_4194218_RNA.bam’: No such
file or directory

On Wed, Jan 11, 2017 at 2:07 PM, Katrina Learned <notifications@github.com>
wrote:

--
*Ann Durbin*
Treehouse Data Co

[2017-01-11 22:18] klearned commented on #31
@adurbin2  Did you try twice? Because it is there already :) So the second time you did it (and it failed) was because it already was moved.

[2017-01-11 22:27] adurbin2 commented on #31
Right I was just finding that out ; ) and asking Linh about bam-to-fastqs
too, because I know she is busy. She mentioned that she's made a dockerized
process for that so that you (or maybe even I) would I be able to run with
simple commands. Do you know how to do that?

It's not urgent, just another loose end before the next compendium --

On Wed, Jan 11, 2017 at 2:18 PM, Katrina Learned <notifica

[2017-01-11 22:52] klearned commented on #31
@adurbin2 Rob was just explaining docker to me the other day. It's not
something I've used before, but it I think one of us could do it with some
guidance from Linh. I am happy to give it a try whenever Linh can get let
me know what i need to do!

[2017-01-11 23:27] adurbin2 commented on #16
Done, thanks to all

[2017-01-11 23:31] adurbin2 commented on #15
Hi @e-t-k Ellen, just checking to see whether we can close this issue? I have all the info I need from it.

[2017-01-11 23:32] e-t-k commented on #16
@adurbin2 Re-opening as I haven't put these samples on to jupyter/medBook yet :-)

[2017-01-11 23:33] e-t-k commented on #15
@adurbin2 My understanding was that issues would remain open until I'd taken final custody of samples -- but that may be changing with new Jupyter paradigm. Can we discuss tomorrow?

[2017-01-11 23:35] adurbin2 commented on #15
Sorry, I thought I was holding things up - feel free to keep open as needed -

[2017-01-12 17:39] rcurrie commented on #30
First 14 complete, all passed, will assemble manifest for remaining and start.

@hbeale @linhvoyo @jpfeil these folders are finished, any others will be 'in process':
TH01_0122_S01  TH01_0124_S01  TH01_0126_S01  TH01_0128_S01  TH01_0130_S01  TH01_0132_S01 TH01_0134_S01 TH01_0120_S01     TH01_0123_S01  TH01_0125_S01  TH01_0127_S01 TH01_0129_S01  TH01_0131_S01  TH01_0133_S01

[2017-01-12 17:56] rcurrie commented on #30
@adurbin2 @linhvoyo The manifest lines for the remaining samples are not valid:

/pod/pstore/groups/treehouse/choc_nant_nov2016/71662b95-1978-4d45-9461-72c3309c6702.R1.fq.gz for TH01_0119_S01_B does not exist
/pod/pstore/groups/treehouse/choc_nant_nov2016/0a20dca8-7c90-4277-baf2-a5e7f27f2eed.R1.fq.gz for TH01_0119_S01_A does not exist                                              /pod/pstore/groups

[2017-01-12 18:32] adurbin2 commented on #30
@rcurrie Linh tells me she's zipped the files, so that the manifest ought to be correct now.

[2017-01-12 19:27] rcurrie commented on #30
@adurbin2 Thanks! Now running remaining 5

[2017-01-12 23:33] e-t-k commented on #29
Pan-cancer results from outlier analysis are now available on Jupyter. I'll send them to you @omorozova  and @adurbin2  momentarily to pass on to Alex. Note that they are identified with our THIDs; I don't know what naming scheme Alex would prefer.

[2017-01-13 00:09] adurbin2 commented on #29
Hi Ellen @e-t-k  - Now that we have the clinical data for this batch, it appears we need to globally rename two of the samples, as soon as possible so as not to propagate the incorrect names. The two samples are:
TH03_0142_S01 (Please rename to TH03_0004_S04)
TH03_0147_S01 (Please rename to TH03_0118_S02)
And, as we agreed, the numbers 0142 and 0147 will be retired to avoid confusion.

[2017-01-13 00:14] e-t-k commented on #29
@adurbin2  Sample info will be renamed in:
- [ ] RNA-Seq Output
- [ ] MedBook
- [ ] Jupyter

... anywhere I'm forgetting?

[2017-01-13 00:16] adurbin2 commented on #29
Well... I'm taking care of my side. Can you post change logs to the ticket
perhaps?

On Thu, Jan 12, 2017 at 4:14 PM, e-t-k <notifications@github.com> wrote:

--
*Ann Durbin*
Treehouse Data Coordinator
Genomics Institute, UCSC

[2017-01-13 00:18] e-t-k commented on #29
@adurbin2 Yes, will update the ticket as locations are changed.

[2017-01-13 01:03] e-t-k commented on #29
@adurbin2 @rcurrie @hbeale
Regarding renaming these two samples on POD:
I propose to rename only the rnaseq/ output results with the new sample ID, and leave the fusion/ ,  methods.json, and qc/ directories untouched.
Since we're not loading them (I believe) into any sort of automated downstream analysis it doesn't seem time-effective for me to determine what needs changing; and since the 0142 and

[2017-01-15 17:37] rcurrie commented on #30
19 complete, all passed.

@jpfeil @hbeale @linhvoyo all results under:
/pod/pstore/groups/treehouse/choc_nant_nov2016_outputs

[2017-01-15 17:38] rcurrie commented on #30
@adurbin2 @e-t-k
Note that output names within RSEM in this batch (and likely all future batches with the core) will NOT match the sample id.

[2017-01-15 18:33] rcurrie commented on #12
Running fusion 1.0.2 on these 40. Outputs will show up:
/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/phs000900.v1.p1MonjeDIPGFusion

@linhvoyo please verify that the 'monje' samples that olena wants fusion are the ones you analyzed under:

/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/phs000900.v1.p1MonjeDIPG

(There's 40 in there so I'm just runnin

[2017-01-15 18:34] rcurrie commented on #23
@cygao we should run these through the core instead of Treeshop

[2017-01-16 00:43] cygao commented on #23
@rcurrie does this mean we should wait until the test batch is verified?

On Jan 15, 2017 10:34 AM, "Rob Currie" <notifications@github.com> wrote:

[2017-01-16 01:35] rcurrie commented on #12
These are all complete - took very little time so I'm concerned maybe it didn't process correctly.

@jpfeil please take a look when you get a chance to see if it appears they processed correctly.

[2017-01-16 01:36] rcurrie commented on #23
Yes, you can get the manifest all ready but let's wait to upload until we get the word that EGAD1098 worked, at least for the first set of 4.

[2017-01-16 02:01] cygao commented on #22
Posting here to keep updates. As requested by @rcurrie, I tested the first 4 fastqs (first sample) on the legacy 2.0.8 pipeline0, where it likewise failed with multiple "cutadapt: error: Reads are improperly paired."

[2017-01-16 22:21] rcurrie commented on #22
These have all failed cutadapt (part of RNASeq pipeline):

Error messages: "cutadapt: error: Reads are improperly paired"

I asked the core to keep them up there for now while we sort what the issue is. Passing to @hbeale

[2017-01-16 22:32] linhvoyo commented on #12
Hi @rcurrie,
I actually don't know if these are the samples olena wants analyzed. I just got the monje expression data from Holly. So maybe @adurbin2  can double check for you when she's back?

[2017-01-17 16:53] adurbin2 commented on #12
Hi folks,
I'm attaching a breakout of the Monje samples based on Katrina's metadata to show which are tumor, which are normal, and which are cell lines.

[monjesamplelist.txt](https://github.com/UCSC-Treehouse/operations/files/711731/monjesamplelist.txt)

[2017-01-17 17:14] rcurrie commented on #30
TH01_0119_S01_A + TH01_0119_S01_B
and
TH01_0135_S01_A + TH01_0135_S01_B
are apparently one sample with two pairs so the output at this point should be ignored.

@adurbin2 please verify that this is the case
@hbeale @linhvoyo treeshop and fusion only take a single pair. Can I just unzip, concat R1's and R2's and re-gz?

[2017-01-17 17:25] adurbin2 commented on #30
@rcurrie Confirmed as a working hypothesis (unless/until CHOC tells us otherwise). Agree ignore A, B output, but it's OK with me if you leave it there.

[2017-01-17 18:49] klearned commented on #22
Thanks you guys for the update. @hbeale, let me know if you have any
questions for me about this data.

[2017-01-17 19:13] hbeale commented on #22
Hi folks--

I've performed basic troubleshooting on a pair of files in /pod/pstore/groups/treehouse/published-data/stjude/EGAD00001001666/fastq/: _EGAR00001373306_SJLGG011285_D1-C4BCBACXX.2.R1.fq.gz and _EGAR00001373306_SJLGG011285_D1-C4BCBACXX.2.R2.fq.gz.

They contain the same number of lines; the first two read ids in each file are identical, as are the last two read ids. Details below.

The ne

[2017-01-17 21:36] hbeale commented on #30
@rcurrie: yes
cc: @linhvoyo

[2017-01-18 00:01] cygao commented on #22
@hbeale I've implemented your solutions and am rerunning the samples

[2017-01-18 00:25] cygao commented on #22
4 fastqs have failed again with changes

[2017-01-18 00:55] hbeale commented on #22
Thanks, Cameron. The same error, I assume?

On Tue, Jan 17, 2017 at 4:25 PM, cygao <notifications@github.com> wrote:

[2017-01-18 01:45] cygao commented on #22
That's correct, its the cutadapt error

On Jan 17, 2017 4:55 PM, "hbeale" <notifications@github.com> wrote:

[2017-01-18 18:44] adurbin2 commented on #29
Agree.
TH03_0142_S01 is retired (replaced by TH03_0004_S04).
TH03_0147_S01 is retired (replaced by TH03_0118_S02).
Please also note that these three samples failed QC:
TH03_0138_S01, TH03_0145_S01, and TH03_0118_S02.

[2017-01-18 20:33] klearned commented on #22
@hbeale, yes, those were submitted (sorry for being late to this thread).

[2017-01-18 20:41] hbeale commented on #29
@e-t-k fine by me

On Wed, Jan 18, 2017 at 10:44 AM, adurbin2 <notifications@github.com> wrote:

[2017-01-19 18:09] e-t-k commented on #29
I've renamed the retired samples on MedBook & Jupyter. Renaming on pod has been delegated to @mokolodi1 .

[2017-01-19 18:57] hbeale commented on #22
walt sent me some detail on the error from when he ran these samples.

Input files:
/data/_EGAR00001270198_SJINF019_D-H8RMRADXX.1.R1.fq.gz /data/_EGAR00001270198_SJINF019_D-H8RMRADXX.1.R2.fq.gz
This is cutadapt 1.9 with Python 2.7.6
Command line parameters: -a AGATCGGAAGAG -m 35 -A AGATCGGAAGAG -o /data/R1_cutadapt.fastq -p /data/R2_cutadapt.fastq /data/_EGAR00001270198_SJINF019_D-H8RMRADXX.1.R1.f

[2017-01-19 19:02] hbeale commented on #22
i spoke with @linhvoyo who confirmed that these files were converted from bam to fastq before a potential bug that causes this problem was resolved. The bam to bam conversion will have to be repeated. Let's start with _EGAR00001270198_SJINF019_D-H8RMRADXX.1.R1.fq.gz to confirm that this will solve the problem. To test whether the problem is solved, run this code on the new and old R1 and R2 fastq

[2017-01-19 21:42] adurbin2 commented on #30
@rcurrie Hi Rob, Where did we leave off with this - with Linh out, can you unzip/concatenate/re-zip as Holly approves?

[2017-01-19 21:53] e-t-k commented on #30
@rcurrie @adurbin2 Other than TH01_0119_S01 and  TH01_0135_S01 A & B respectively, are the other samples ready for tumormap & pancancer outlier analysis?

And thanks @rcurrie  for the notes on output names, although I spot-checked rsem.genes.norm_counts.tab and the output name did in fact match the sample_id for all samples.

In general, if there is a conflict I will use the name of the folder con

[2017-01-19 22:14] rcurrie commented on #30
Yes, for Treeshop the folder name is the sample_id

TH01_0119_S01 and TH01_0135_S01 running right now in treeshop, hopefully out of the oven tonight or tomorrow.

[2017-01-19 23:06] rcurrie commented on #30
@e-t-k @hbeale RNASeq has completed for TH01_0119_S01 and TH01_0135_S01:

/pod/pstore/groups/treehouse/choc_nant_nov2016_outputs/TH01_0119_S01/rnaseq/
/pod/pstore/groups/treehouse/choc_nant_nov2016_outputs/TH01_0135_S01/rnaseq/

Treehouse is now onto QC and Fusion. But given the new higher priority you could go ahead and import the expression - the other 19 passed QC so no reason to think these wo

[2017-01-19 23:59] adurbin2 commented on #30
@rcurrie Great, thank you! Would you please copy (or move) the 17 output folders to this directory:
/pod/pstore/groups/treehouse/backed_up/archive/output

[2017-01-20 00:28] hbeale commented on #30
@rcurrie I've reviewed the output without QC, and nothing jumps out at me as wrong. i need to see the RNA-Seq QC though.

also, I do not use cat a.fastq.gz b.fastq.gz >c.fastq.gz.

per the internet, there are some special snowflake bioinformatics programs that fall over with input generated that way. I worry that they will fail in interesting ways that are not immediately detectable.

[2017-01-20 18:31] rcurrie commented on #30
TH01_0119_S01 has passed QC so 16 out of 17 have passed, TH01_0135_S01 running QC right now.

All samples have finished RNASeq

I've deleted the _A and _B

[2017-01-20 23:15] e-t-k commented on #30
Pancancer outlier analysis is done; pan-disease is blocked by needing disease list via tumormap results.

- [X] convert to TPM+Hugo
- [ ] Store TPM+Hugo results in RNASeq output dir
- [X] Requested TumorMap placement
- [X] pan-cancer outlier analysis
  - Results: Medbook Jupyterhub, readonly/e-t-k/outlier-data/results/THOPS30_17.CHOCNant.prosp_2016.12.20
- [ ] placed on tumormap
- [ ] pan-disease

[2017-01-21 15:49] rcurrie commented on #30
All files have completed processing and all 17 have passed.

@adurbin2 I have moved as requests all the folders to: /pod/pstore/groups/treehouse/backed_up/archive/output

[2017-01-23 18:54] adurbin2 commented on #30
Excellent, thank you Rob!

I tried to do this (but lacked directory permissions) - could you please?
mv /pod/pstore/groups/treehouse/choc_nant_nov2016/*.fq.* /pod/pstore/groups/treehouse/backed_up/archive/input/fastq/

The bam files can stay where they are, but it would be good to get the fastqs into the archive.

[2017-01-23 19:01] adurbin2 commented on #30
Looks like GitHub turned my star-fq-star asterisks into italics - but I think you will know what to do. Thanks Rob! @rcurrie

[2017-01-24 08:00] klearned commented on #31
I converted the last six files to fastqs and placed them here for now (we can move them to the regular fastq directory when we're done):
/pod/pstore/groups/treehouse/published-data/ICGC_Sep2016/EGAD00001000356/fastqLastsix

@rcurrie we will prepare a manifest, but need to know which manifest to create. Will these be run in Treeshop or by The Core? (background...these are 6 samples that were in v2

[2017-01-24 14:56] rcurrie commented on #31
@cygao suggest you create the manifest and upload the core for processing. This sill be a good test case as the 63 failing cutadapt are stalled. We can also use these as a test case for accessing the results.

[2017-01-24 17:19] adurbin2 commented on #27
@rcurrie @cygao Hi guys - can we get an update on RNASeq for this set of samples?

[2017-01-25 00:00] cygao commented on #31
@rcurrie I need write permission (to create manifest) in the folder /pod/pstore/groups/treehouse/published-data/ICGC_Sep2016/EGAD00001000356/fastqLastsix

[2017-01-25 00:03] e-t-k commented on #31
@cygao Write permission granted.

[2017-01-25 17:38] klearned commented on #22
Oops, totally did not mean to close this!

[2017-01-25 18:56] klearned commented on #22
Yes, sorry for the late reply. I can take this on. I will use the docker that Linh showed me how to use last week to re-do the bam to fastq conversion. I will do your file first, and then do the comparison you provided between the old and new fastq and report back here before I move onto the rest.

[2017-01-25 21:19] klearned commented on #22
@hbeale I re-ran the conversion on the .bam file you suggested: _EGAR00001270198_SJINF019_D-H8RMRADXX.1.bam. I then tried the test you suggested:

However, the command isn't providing any input on either the old or new R1 or R2 files. Should `samtools` should be used instead of `cat`?

[2017-01-25 21:23] klearned commented on #22
@hbeale hmm, I see samtools isn't applicable here because it's not for use with fastq files. Maybe I need to uncompress it first?

[2017-01-25 21:30] klearned commented on #22
@hbeale OK, sorry for so many comments! I think I figured it out, it looks like I just need to use zcat instead of cat.

[2017-01-25 21:45] klearned commented on #22
@hbeale Reconverting the bams to fastqs does solve this problem! As you can see from below, the new fastqs have the ID on the same line and the old fastqs have the ID on two different lines (see below for details)

I'll go ahead and delete the old fastqs and then re-convert all the bams to fastqs again.
__________
New fastqs - ID was found on line 504865 in both R1 and R2:
[code]
Old fastqs - ID w

[2017-01-25 22:29] hbeale commented on #22
Terrific. Yes, my instructions were for the uncompressed version of the
files, but zcat is the best solution when the files are generated already
compressed (which I didn't realize).

On Wed, Jan 25, 2017 at 1:45 PM, Katrina Learned <notifications@github.com>
wrote:

[2017-01-25 23:04] klearned commented on #22
I've kicked off the conversion of the rest of the 125 bam files to fastqs.

[2017-01-26 01:13] klearned commented on #13
@adurbin2 @rcurrie @e-t-k
This dataset has been added to the V3 Compendium and imported to Medbook, and possibly had fusion run on it to (see [this comment above](https://github.com/UCSC-Treehouse/operations/issues/13#issuecomment-271020255)). Is this waiting for another step or should we close this one?

[2017-01-26 01:15] e-t-k commented on #13
@adurbin2 I'm fine with closing as long as we don't need to do anything with the 4 QC failed samples. Thank you!

[2017-01-26 01:26] klearned commented on #13
Good point! Maybe we should take another look at the failed files?

[2017-01-26 18:12] klearned commented on #31
@cygao Were these uploaded to the Core? Walt let us know that everything he just ran failed with the cutadapt error.

[2017-01-26 23:55] cygao commented on #31
I'm having difficulty uploading: Script recognizes the metadata entries correctly, but upload still failing.

[2017-01-27 05:57] klearned commented on #31
@cygao Thanks for the update. Let us know when you know they're uploaded and ready to process. Thanks!

[2017-01-27 06:25] klearned commented on #22
The new fastq files are now ready and shouldn't have the cutadapt error. The fastqs are located here:
`/pod/pstore/groups/treehouse/published-data/stjude/EGAD00001001098/fastqV2`

@rcurrie should we have @cygao upload the new fastqs to the Core? Per Walt's email today, if nothing has changed (no file name or metadata changes) then we can upload the new fastqs and the old fastqs will be overwritten

[2017-01-27 07:41] klearned commented on #27
@linhvoyo The fastqs for this dataset was converted between 12/14 and 12/19...do you think these had the unpaired reads bug? Do you think these need to be re-converted from bam to fastq like EGAD00001001098 (#22), which were also converted in early December?

[2017-01-27 20:49] cygao commented on #31
@e-t-k Could you redo a recursive write permission grant?

[2017-01-27 21:13] klearned commented on #31
@cygao and @e-t-k  I think I just did this.
What should our default permssions be for files like bam and fastq that others in the group need access to?

[2017-01-30 18:19] e-t-k commented on #31
@klearned In general for file permissions I go with rw-rw-r--  . BAMs and FASTQs are not executable so x is not going to be necessary.

[2017-01-30 19:00] e-t-k commented on #29
I've renamed TH03_0118_S02 and TH03_0004_S04 samples on pod.
They are now renamed everywhere that I am aware of.

[2017-01-30 23:46] adurbin2 commented on #31
Here's a manifest in case it's needed to revive this issue for the Core or for treeshop:
https://docs.google.com/spreadsheets/d/1OTeeXZ03KUrqFc--hwpmqKzE0B_pTfL2wffEd2YDG-Y/edit#gid=0

[2017-01-31 00:32] e-t-k commented on #30
Pan-disease outlier analysis has been run on these samples. Results are on Jupyter in the following folder: 17.CHOCNant.THOPS30.new-format.2017-01-30

[2017-01-31 00:42] e-t-k commented on #29
Closing this issue -- Olena presented the tumor board on these samples today so I certainly hope it's "done".

[2017-01-31 00:42] #29 closed

[2017-01-31 19:42] klearned commented on #27
@linhvoyo wondering if you saw my note above about the fastq files? The fastqs for this dataset was converted between 12/14 and 12/19...do you think these had the unpaired reads bug? Do you think these need to be re-converted from bam to fastq like EGAD00001001098 (#22), which were also converted in early December?

[2017-01-31 20:07] linhvoyo commented on #27
@klearned sorry I missed your email. I think those might need to be re-converted. You can also just run them through and rerun those that failed. I think majority of them will pass

[2017-01-31 20:08] adurbin2 commented on #27
For QC purposes, it would be good to run all the samples through on the same version of the software.

[2017-01-31 22:04] klearned opened #32 "Repository - 12 fixed samples: phs000709.v1.p1 fibrolamellar hepatocellular carcinoma"
This ticket is to run the revised fastq files for the 12 samples from this dataset that were left out of the RNA-seq/QC run because they had READLEN issues. See #24 for more info on the entire dataset and the READLEN errors that these 12 samples had.
Samples:
SRR1267597
SRR1267598
SRR1267599
SRR1267600
SRR1267611
SRR1267612
SRR1267619
SRR1267620
SRR1267621
SRR1267623
SRR1267624
SRR1267625

This is

[2017-01-31 22:19] klearned commented on #24
See #32 for running of the 12 samples that were originally excluded due to READLEN errors.

[2017-01-31 22:22] adurbin2 commented on #32
Great, I have added these into the SamplesForCompendium worksheet - thanks for staying with this issue!

[2017-01-31 23:00] #12 closed

[2017-02-01 22:09] adurbin2 commented on #23
@linhvoyo @klearned Linh, Katrina is wondering if this batch will also need to be re-converted due to the the unpaired reads bug? Can you tell from the date? thanks

[2017-02-01 22:58] linhvoyo commented on #23
@klearned @adurbin2 I think so not too sure honestly. I think this is when I figured out that there was a bug in the old script.

[2017-02-01 22:59] linhvoyo commented on #23
@klearned @adurbin2 I can check the log. Can I the location to this dir

[2017-02-01 22:59] adurbin2 commented on #23
@klearned Maybe best to re-convert then - @linhvoyo Are we still using the v2 you trained us on?

[2017-02-01 23:00] linhvoyo commented on #23
@klearned  yes V2 is the one w/o the bug

[2017-02-01 23:55] klearned commented on #23
@linhvoyo <https://github.com/linhvoyo> The fastqs are here if you want to
check to see which version they were run on.

/pod/pstore/groups/treehouse/published-data/stjude/EGAD00001002680/fastq

Looking at the earlier comments in this tickets, it looks like maybe this
is one that you noticed the bug on? Maybe you can check to see what you
think?
https://github.com/UCSC-Treehouse/operations/issues/

[2017-02-01 23:59] klearned commented on #23
Also, I wonder if there is some sort of .txt file that the docker process could leave that lists the version that was run to convert the bams to fastq? Maybe it already does that?

[2017-02-02 06:51] klearned commented on #32
@rcurrie @cygao Here is the manifest for this subset of 12 samples from phs000709.v1.p1:

[phs000709.v1.p1 Subset 2 manifest](https://docs.google.com/a/ucsc.edu/spreadsheets/d/1lhufS3ZagjC87CaU_IKUfszGNLyiKbXESC_6p5nrZIg/edit?usp=sharing)

[2017-02-02 08:17] klearned commented on #27
reconverting the bams to fastqs because we think these were converted when there was a bug in the bam to fastq docker process.

[2017-02-02 17:34] linhvoyo commented on #23
@klearned These were processed with the version 2. I cat the log in /pod/pstore/groups/treehouse/published-data/stjude/EGAD00001002680/fastq directory.

I used this command line,
for i in *.fq;do   cat $i | perl scripts/mergelines.pl | sort --stable -t $'\t' --parallel=10 -T ./temp -S 10G | uniq | perl scripts/splitlines.pl > $i.perl; done, for conversion. Yep, this is the version two

[2017-02-02 17:35] linhvoyo commented on #23
@klearned That's a good idea. I can add something in the docker that prints out which version you're running.

[2017-02-02 18:31] klearned commented on #23
@linhvoyo OK, great! So, to clarify, these do **not** need to be reconverted from bam to fastq, correct?

[2017-02-02 18:49] linhvoyo commented on #23
@klearned affirmative

[2017-02-03 00:20] cygao commented on #22
@klearned I've resolved the redwood issues and am currently uploading the contents of fastqV2. Pod's been a bit slow this week, currently ~60/248 fastqs have been uploaded in ~18 hours. It may take a few days for the upload to complete and to begin processing.

[2017-02-03 22:31] cygao commented on #22
@klearned All samples have been uploaded, awaiting core to verify and process.

[2017-02-04 17:00] rcurrie commented on #21
Files received and saved/organized under /pod/pstore/groups/treehouse/sanford

Can process via Treeshop or Core (if we need faster) once we sort exactly what to process. If via Treeshop that will need samples with > 2 fastq's concatenated (core can handle multiple pairs per sample)

[2017-02-05 20:49] rcurrie commented on #22
Looks like 62 or 63 samples have been processed

[2017-02-06 18:08] rcurrie commented on #22
All 63 samples have been processed by the core.

@cygao please download 4 samples to wherever on pod @adurbin2 specifies

Then notify @hbeale or @linhvoyo to do a quick verification that the output appears correct

Then download the remaining samples and close

[2017-02-06 18:16] rcurrie commented on #31
@cygao suggest you use this as your next test of the core after EGAD1098 is downloaded and closed. Upload/process/download in parallel to a batch that @klearned will do post training.

[2017-02-06 18:18] rcurrie commented on #32
@klearned looks like this is next up top to bottom order in waffle. Suggest you upload this to core with @cygao training once we vefify EGAD1098 worked.

[2017-02-06 19:13] adurbin2 commented on #22
@rcurrie @cygao
This is a repository dataset, so it's up to Katrina. Here's the location she requested on December 12 (see above in ticket):

[2017-02-06 19:18] klearned commented on #22
Yes, please put the output in the folder Ann listed above. Thanks!

[2017-02-06 19:30] adurbin2 commented on #21
@rc Permissions please :^)

[2017-02-06 19:31] klearned commented on #32
Yes! I am excited to learn! @cygao I am on campus tomorrow. Are you on campus at all tomorrow so we could work on this in person. Maybe in the afternoon?

[2017-02-06 20:02] rcurrie commented on #21
@adurbin2 fixed! (I think)

[2017-02-06 21:23] adurbin2 commented on #21
Gunzipped; Concatenated as follows; Gzipping now. Manifest [here](https://docs.google.com/a/ucsc.edu/spreadsheets/d/1CBBUeSQXvy-YZ1MuTLpQpVgXaUsGw6hpA9jPPw0Fzl0/edit?usp=sharing)
cat J1-D6-H2_S11_L001_R1_001.fastq  J1-D6-H2_S11_L002_R1_001.fastq  J1-D6-H2_S11_L003_R1_001.fastq  J1-D6-H2_S11_L004_R1_001.fastq > J1-D6-H2_S11_concatenated.R1.fastq
cat J1-D6-H5_S5_L001_R1_001.fastq  J1-D6-H5_S5_L002_R

[2017-02-06 21:45] adurbin2 commented on #30
@rcurrie
Re-opened, since Jacob has been working on these and has run into difficulties.  In the directory sftp://stacker.pod/pod/pstore/groups/treehouse/choc_nant_nov2016

- there's a fastq missing (TH01_0135_S01.R1.fq is present but TH01_0135_S01.R2.fq is not).

I would like to ask for a copy of the TH01_0135_S01.R2.fq to be regenerated, or located. And then I'd like to request permission to the

[2017-02-06 21:58] cygao commented on #22
@rcurrie @adurbin2 Download is in process

[2017-02-06 22:02] cygao commented on #32
Hi Katrina. I am currently in the office and will be until I have class at
3:30ish. Any time until then is good for me.

On Mon, Feb 6, 2017 at 11:31 AM, Katrina Learned <notifications@github.com>
wrote:

--
Thanks,
Cameron

[2017-02-06 22:21] adurbin2 commented on #21
@rcurrie Up to you which route we take with these - the six fastq.gz files are zipped and ready to run either in treeshop or the Core. The manifest can go either way, I think.

[2017-02-06 22:28] adurbin2 commented on #30
Revision: I believe Jacob is handling the re-build of that one file from the component fastqs. So I will just need to request permissions. Thanks --

[2017-02-06 22:31] e-t-k commented on #30
@adurbin2 granted group write permissions to treehouse/choc_nant_nov2016 (but not files within), let me know if you meant something different.

[2017-02-06 23:20] cygao commented on #22
@klearned All files have been downloaded to @adurbin2 's directory

@hbeale @linhvoyo Could you please verify output?

[2017-02-07 00:45] klearned commented on #22
Thank you @cyago!

@adurbin2 @hbeale @linhvoyo  looking at a list subdirectories all named with UUIDs is a bit unnerving. I found it easier to see what was there using the "tree" command and piping that to less. Then I could scroll through and see what was really there. So

`tree | less`

...use the up and down arrows to scroll through the list and hit the "q" key when you're done to quit. (if any

[2017-02-07 01:11] hbeale commented on #22
I don't see any results in /pod/pstore/groups/treehouse/published-data/stjude/EGAD00001001098/fastqV2, just fastq files. Should I expect otherwise?

[2017-02-07 01:24] klearned commented on #22
Oops, Cameron posted the wrong path, they should be here:

`/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/EGAD00001001098_infantMLL-rearrangedALL`

...however, these are all fastq files also.

@cygao Perhaps you accidentally downloaded the original fastqs from the Core instead of the results? The files resulting from the RNA-Seq processing/QC should be 63 .bams files, 63 .t

[2017-02-07 04:49] klearned commented on #27
Here is the manifest:
[EGAD00001001666](https://docs.google.com/a/ucsc.edu/spreadsheets/d/1ncWEbj7aHtcrZqi8_Pb82lYSVRrbmwr-X9ONSwIF2jY/edit?usp=sharing)

@cygao I do have two questions (which we could wait to go over tomorrow, but I don't want to forget them!):
1) which Workflow versions are we using, spinnaker 1.0.2?
2) for file location, I have the current location on /pod in this column, but do

[2017-02-07 06:17] klearned commented on #23
@hbeale I am having an issue with the manifest on this one. I am describing my issue below so I don't forget it, but it would probably be easiest for me to explain in person tomorrow. Then we can make a determination on how to proceed. Thanks!

The first 3 samples are from the same patient, but I am not sure if they should be run as a "bundle" (i.e. combined):
_EGAR00001470655_SJACT001_D-638PHAAXX

[2017-02-07 07:32] cygao commented on #27
@klearned

1. Correct, we are currently using spinnaker 1.0.2
2. Correct, all file locations must be prepended with dcc/data/ (it is where the files are seen within the docker container). Rob's Google Sheets Manifests do this automatically, if you are using that as a template.

[2017-02-07 07:54] cygao commented on #22
@klearned My bad, I misinterpreted Walt's instructions and accidentally downloaded the fastqs. I am currently downloading the remaining outputs (bams, .gz and .bg) onto pod.

[2017-02-07 17:57] hbeale commented on #23
Hi Katrina--

In this case, I believe the metadata. D0AHNACXX.1 and 638PHAAXX.6 are flow
cell IDs, with 1 and 6 indicating the respective lanes on those flowcells
(For details, see the second table in the "Illumina sequence identifier"
section of  https://en.wikipedia.org/wiki/FASTQ_format. What's not included
there and is the key here is this: Illumina flowcell IDs nearly always end
in XX. In thi

[2017-02-07 19:33] cygao commented on #22
Redwood-download failed at 138/189 files (AWS error), currently consulting core for advice.

[2017-02-07 19:53] klearned commented on #27
@cyago great, thanks!

[2017-02-07 21:43] #15 closed

[2017-02-07 21:43] #16 closed

[2017-02-07 21:51] klearned commented on #23
@hbeale Thanks so much for this clear explanation! I am really relieved
there is a clear explanation. I'll shorten the id to remove the flowcell
IDs for these so the three will be able to run as a single bundle. Thanks
again!

[2017-02-07 22:04] klearned commented on #23
Here is the manifest for this one:
[EGAD00001002680 manifest](https://docs.google.com/a/ucsc.edu/spreadsheets/d/1o2nivDfwlAku9xfa28o5-IhVRxkjSMyvzs4ySalB2Cs/edit?usp=sharing)

[2017-02-07 22:25] klearned commented on #13
I looked at the 4 failed samples:
SRR1701090
SRR1701117
SRR1701102
SRR1701307
...and found that they all failed because there aren't enough uniquely mapping non-duplicate reads (uniqMappedNonDupeReadCount). To pass, they must have >10,000,000 and all of these fell under that threshold. At this point, I don't think there is anything more to do with these four. We threw around the idea of having a b

[2017-02-07 22:25] #13 closed

[2017-02-08 00:28] cygao commented on #22
As advised by Brian, I'm restarting a modified manifest with un-download-attempted outputs

[2017-02-08 18:01] klearned commented on #22
@cygao How is the download going after you restarted it? I'd like to ask @hbeale  to start looking at the data, but I want her to be able to know what files she's looking at. Can you place the doc that cross-references the UUIDs with the file names that Walt provided in the directory? Also, we may want to rename these as the human readable file names, what do you think @hbeale & @cygao?

[2017-02-08 18:11] hbeale commented on #22
@klearned I'm reluctant to rename files because of the potential for errors. What about creating soft links? Am I right in thinking that the UUID is only the directory name? if so we could create a soft link like this:

cd /dir/containing/uuid/folder/

ln -s [arbitrary uuid] TH03_0230_S01

then you can do

cd /dir/containing/uuid/folder/TH03_0230_S01

to see the contents of that uuid dir name. The

[2017-02-08 18:29] klearned commented on #22
@hbeale for the original fastq files that were downloaded, you are correct, just the directories are the UUID and the files are the original name. However, for the .sortedByCoord.md.bam and other results files, the directories AND the file names are UUIDs. I also share your concern with the renaming though. Renaming files is something I really don't like to do. Once the directories are sym linked,

[2017-02-08 18:47] hbeale commented on #22
let's re-visit this when we can view the output. Agreed that .wiggle.bg are not really something we need right now.

[2017-02-08 19:00] klearned commented on #22
@hbeale Do you mean, that we need @cygao  to give us permissions to unzip the .tar.gz files so that we can view the output? Or is there something else we're waiting for, too?

[2017-02-08 19:01] rcurrie commented on #22
Looks like the names of the folder's within the tar.gz have the sample id in them:

['_EGAR00001270204_SJINF060_R-H8RMVADXX/RSEM/rsem.genes.norm_counts.tab',
 '_EGAR00001270204_SJINF060_R-H8RMVADXX/RSEM/rsem.genes.raw_counts.tab',
 '_EGAR00001270204_SJINF060_R-H8RMVADXX/RSEM/rsem.isoform.norm_counts.tab',
 '_EGAR00001270204_SJINF060_R-H8RMVADXX/RSEM/rsem.isoform.raw_counts.tab',
 '_EGAR00001270204

[2017-02-08 21:02] cygao commented on #22
@klearned All outputs (except for the one with errors) have been downloaded. I can't upload tsv here, but I can email the UUID reference if needed.

[2017-02-08 21:06] cygao commented on #22
I've placed the provided UUID reference in the directory as manifest_with_sample_uuid.tsv

[2017-02-08 21:25] klearned commented on #22
@rcurrie oh that's good! @cygao could you please change the permissions so we can unzip the compressed files?

[2017-02-08 21:31] adurbin2 commented on #22
@klearned Would it be difficult for you to bring the output uuids (with path) back up into your original shared worksheet? Then I can scoop all the data by rows into my Index file for Treehouse samples...

[2017-02-08 21:33] rcurrie commented on #22
Short term this may make sense, but longer term we should really keep donorid and sampleid as the links between the clinical sheets and then downstream results.

[2017-02-08 22:09] adurbin2 commented on #22
Short term (actually, Today term) is what I had in mind... Once we have a new system in place, I will be happy to stop chasing outputs; but for the moment, I think I'm still tasked with compiling them, from my prospective batches and from Katrina's repository batches too. Please correct me if this is no longer the case --

[2017-02-08 22:32] klearned commented on #22
@adurbin2 I am not sure how/if I am going to go about importing it back to my spreadsheet at this time. I am currently still trying to sort out what is what.

It looks like the three output files that we downloaded form the Core for each sample submitted are in a directory named by the "Bundle UUID." The three output files within are named by the "Sample UUID." One of those output files, the .tar

[2017-02-08 22:36] cygao commented on #22
@klearned I'm getting permission denied when attempting to chmod

[2017-02-08 22:42] klearned commented on #22
@cygao Hmm, maybe because they were created by root, we need someone with root access to do the chmod?

[2017-02-08 22:44] cygao commented on #22
@klearned I think whoever created the encompassing folder (rearranged all)
can change the permissions

On Feb 8, 2017 2:42 PM, "Katrina Learned" <notifications@github.com> wrote:

[2017-02-08 22:49] e-t-k commented on #22
To unzip a file, you need read permission on the file, and then you need write permission to the directory you're trying to unzip it to.

I can look at it if you can share the paths to files / dir in question (it wasn't immediately obvious from the comments)

[2017-02-08 22:54] klearned commented on #22
@e-t-k Thanks, the main directory is

`/pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/EGAD00001001098_infantMLL-rearrangedALL`

...which contains a directory for each sample. In each of the subdirectories for each sample there is a tar.gz file that I'd like to extract files from...and the green grass grows all around all around....Hahha (anyone else remember that song?!) THa

[2017-02-08 23:13] e-t-k commented on #22
@klearned Ugh, everything's owned by root. I guess someone ran a docker on pod and the data was just all dumped out?

To fix this we need to both chown it back to somebody useful, and then chmod it.
Anyone with docker powers can do this, actually. So I'm gonna write up what I've done before and give you & Cameron a chance to try it yourselves. If you have any questions about what a step does, let

[2017-02-09 04:50] rcurrie commented on #22
Instead of having to futz with numbers I've been able to do a chmod -R ug+rw (from inside docker) and it seemed to work fine. Any reason why that won't work?

[2017-02-09 06:52] e-t-k commented on #22
@rcurrie

All the files and dirs are owned by root.

[2017-02-09 21:33] klearned commented on #22
@e-t-k Thanks Ellen! I am going to give this a try.

[2017-02-10 00:10] cygao commented on #22
As advised by @e-t-k I'm putting together a docker script to automatically change the group permissions. The long-term plan should be to integrate users into the redwood-download docker proper.

[2017-02-10 00:19] cygao commented on #22
@klearned I've changed the permissions of all files in EGAD00001001098_infantMLL-rearrangedALL to be in the treehouse group

[2017-02-10 07:00] klearned commented on #22
@cygao Ok, I just went through @e-t-k process again, assigned permission to myself + treehouse and then did a chmod to change add write permission for the group on the UUID subdirectories.

I also wrote/ran a little script (/pod/home/klearned/bin/tarExt) that runs through a list of directories and extracts files from any *.tar.gz files (which there is only one in each subdirectory) so we can start

[2017-02-10 18:47] hbeale commented on #22
I've sent a question to Walt and John to find out why the files aren't there. Is there an easy way to tell which directories contain input and which contain output?

[2017-02-10 18:58] klearned commented on #22
@hbeale I just use

`tree | less`

...and look for dirs with the results files rather than fastqs. Maybe we could delete all the dirs with just the original fastqs since we have the original copy elsewhere. Or, we could put all the dirs with the input fastqs under another sub-dir?

[2017-02-10 19:00] hbeale commented on #22
Thanks, @klearned. I think deleting the fastq in the output dir is a good idea.

[2017-02-10 19:44] hbeale commented on #22
@klearned, if you every want to generate a *readDist.txt_PASS_qc.txt (or FAIL) file from a readDist.txt file, download parseReadDist.R from https://github.com/UCSC-Treehouse/bam_qc and run it like this:
Rscript --vanilla parseReadDist.R  _EGAR00001270256_SJMLL009_D-HAM3AADXX.readDist.txt

[2017-02-10 21:13] klearned commented on #22
@hbeale I removed the directories containing fastqs. There are now 63 directories (one per sample), and each contains the output files for one of the samples. This should make the directory/sub-dirs easier to navigate!

Thanks for contacting the Core re the *readDist.txt_PASS_qc.txt (or FAIL) files. Aside from that, how is the output looking?

(note, the original fastqs are still here: `/pod/pstor

[2017-02-10 21:24] klearned commented on #22
Tracking Issues with this first Core run/processing (we can edit this comment to include all those we find and get them addressed):

**1.** Output files were placed in directories named as the "Data Bundle UUID" and so difficult to navigate for a human

**2.**  Root owns dirs/files downloaded from Core.

**3.  The readDist.txt_PASS_qc.txt, or readDist.txt_FAIL_qc.txt output files missing.**
     2

[2017-02-10 21:32] klearned commented on #22
@hbeale oh ya, and I am definitely going to download parseReadDist.R. Thanks!

[2017-02-10 22:37] rcurrie commented on #22
1. Short term should be easy to create a download script that will download and name by sample_id (or other manifest column)

2. Short term no easy way around this other then the docker hack. Medium term filed an issue:
https://github.com/BD2KGenomics/dcc-redwood-client/issues/7

Longer term the plan is to pull from redwood directly in the analysis scripts avoiding the download to disk. That's not

[2017-02-11 00:01] rcurrie commented on #30
@jpfeil @adurbin2 I found: TH01_0135_S01.R1.fq.gz and TH01_0135_S01.R2.fq.gz in the scratch folder!!!

I've moved them into /pod/pstore/groups/treehouse/backed_up/archive

[2017-02-11 00:01] hbeale commented on #22
I generated PASS/FAIL files for this dataset in /pod/pstore/groups/treehouse/backed_up/archive/output/externalSamples/EGAD00001001098_infantMLL-rearrangedALL/PassFailInfo. Because I couldn't create files inside the expanded results directory, I created an alternate version of parseReadDist.R called parseReadDist_Feb10.R ,available at https://github.com/UCSC-Treehouse/bam_qc/blob/master/parseReadDi

[2017-02-11 00:45] adurbin2 commented on #30
Excellent, thank you Rob! I'll let Jacob know -- @jpfeil

[2017-02-11 01:05] hbeale commented on #22
@klearned I've looked at this dataset. The output files (except  readDist.txt_PASS_qc.txt or readDist.txt_FAIL_qc.txt) are present. I compared the distributions of TPM, expected counts, and UMEND reads to ~85 Treehouse samples. The distributions of data two groups differ (details below). The next step is to confirm/test that this 3.0.2 pipeline generates the same output as 2.x. @rcurrie  and I are

[2017-02-11 01:31] rcurrie commented on #22
I'm going to run SJINF012, SJINF015, SJINF053 and SJINF062 through RNASeq 2.0.8 via Treeshop this weekend so we can compare the outputs. Will chime back in when done.

[2017-02-13 06:56] klearned commented on #22
Thanks @hbeale and @rcurrie for working on checking this data!

*Katrina Learned*
Treehouse Data Coordinator
UC Santa Cruz Genomics Institute
klearned@ucsc.edu
831-588-8891

On Fri, Feb 10, 2017 at 5:31 PM, Rob Currie <notifications@github.com>
wrote:

[2017-02-14 20:40] meesavag commented on #21
Uploaded 6 samples with the manifest-Sanford_cell_lines_manifest_06Feb2017- to the Core for processing on Feb 13, 2017.

[2017-02-14 20:52] klearned commented on #21
@meesavag Can you please link to the manifest (if a google doc) or attach it (if it is another type of spreadsheet). Thanks!

[2017-02-14 20:58] meesavag commented on #21
Here is the manifest for these samples

https://docs.google.com/spreadsheets/d/1CBBUeSQXvy-YZ1MuTLpQpVgXaUsGw6hpA9jPPw0Fzl0/edit?ts=589cbc38#gid=0

[2017-02-14 21:27] #30 closed

[2017-02-14 21:28] adurbin2 commented on #20
We think this is a duplicate ticket - see issue#30

[2017-02-14 21:29] #20 closed

[2017-02-14 21:31] adurbin2 commented on #25
@hbeale @e-t-k is this issue completed? OK to close the ticket if it's over --

[2017-02-14 21:31] adurbin2 commented on #19
@hbeale

[2017-02-14 21:44] #25 closed

[2017-02-14 22:37] klearned commented on #21
Thanks @meesavag. As I mentioned, we're also currently not uploading anything else to the Core for now while Holly and Rob evaluate the output of the EGAD00001001098 data. So, if your upload didn't work yet, let's just hold off for now. In the meantime, let's get the manifest ready. Your manifest _may_ work, but I _know_ the manifest will definitely work if you include all the fields Rob has in th

[2017-02-14 22:46] meesavag opened #33 "5 PDX samples from Alex"
We have received 5 Incoming PDX samples from Alex at Stanford.

Here are the files:

https://cgl-inbox-ckcc-stanford.s3.amazonaws.com/O7.tar
https://cgl-inbox-ckcc-stanford.s3.amazonaws.com/O7.tar.md5
https://cgl-inbox-ckcc-stanford.s3.amazonaws.com/O8.tar
https://cgl-inbox-ckcc-stanford.s3.amazonaws.com/O8.tar.md5
https://cgl-inbox-ckcc-stanford.s3.amazonaws.com/P10.tar
https://cgl-inbox-ckcc-sta

[2017-02-14 22:58] meesavag commented on #33
Ann asked Jeltje to decrypt/download them to pod:
sftp://stacker.pod/pod/pstore/groups/treehouse/backed_up/Stanford/RNA-Seq/fastq

[2017-02-15 00:04] meesavag commented on #21
Thanks @klearned. Sounds like a plan.

FYI:
Here is the command that I used for the spinnaker upload:
 docker run --rm -e ACCESS_TOKEN=7a8eb801-5dbb-457b-b364-f196c9366b7a -e REDWOOD_ENDPOINT=storage.ucsc-cgl.org -v `pwd`:/dcc/data quay.io/ucsc_cgl/core-client:1.0.1 spinnaker-upload /dcc/data/Sanford_cell_lines_manifest_06Feb2017.tsv

[2017-02-15 19:02] meesavag commented on #33
Here is the manifest for these samples:

https://docs.google.com/spreadsheets/d/1dFx3lyB_j7cR9XZbAiQM_wR40ywdfnOb7qEcTtRlHcI/edit#gid=0

@rcurrie Please run these samples in Treeshop.

[2017-02-15 19:21] rcurrie commented on #33
Running on Treeshop, outputs will appear under:
/pod/pstore/groups/treehouse/backed_up/Stanford/alex_pdx

[2017-02-16 06:00] rcurrie commented on #33
RNASeq finished and output available, bam qc running

[2017-02-16 07:35] klearned commented on #22
@rcurrie How did the run of SJINF012, SJINF015, SJINF053 and SJINF062 through RNASeq 2.0.8 via Treeshop go? Did it finish?

[2017-02-16 13:51] rcurrie commented on #22
Yes, its being analyzed/discussed by jvivian and @hbeale now and we should soon know if 2.0.8 and 3.x.x is concordant.

[2017-02-16 13:57] rcurrie commented on #33
@hbeale All 5 have passed bam qc, and finished fusion, some results still copying:

/pod/pstore/groups/treehouse/backed_up/Stanford/alex_pdx

[2017-02-16 15:24] klearned commented on #22
Great, thank you for the update!

[2017-02-16 17:56] e-t-k commented on #33
I've corrected TH03_0156__S02 (note double underscore) to TH03_0156_S02 in the containing dir name and all the rnaseq output files.

[2017-02-16 18:49] meesavag commented on #33
@e-t-k @adurbin2 Outputs have been copied to:
/pod/pstore/groups/treehouse/backed_up/archive/output/TH03_0006_S04
/pod/pstore/groups/treehouse/backed_up/archive/output/TH03_0156_S01
/pod/pstore/groups/treehouse/backed_up/archive/output/TH03_0156_S02
/pod/pstore/groups/treehouse/backed_up/archive/output/TH03_0157_S01
/pod/pstore/groups/treehouse/backed_up/archive/output/TH03_0157_S02

[2017-02-16 18:54] meesavag commented on #33
Note:
Of these 5 samples, only TH03_0156_S01 and TH03_0157_S01 are human tumor samples suitable for the V4 Compendium.

[2017-02-17 19:03] meesavag opened #34 "4 Samples from Alex_17Feb2017"

[2017-02-17 19:17] adurbin2 commented on #34
I'm hoping to hear from Alex about clinical data (and relationship with any samples we've already received) so we can assign the right Treehouse numbers. Let's touch base on this before you finalize a manifest.

[2017-02-17 23:57] meesavag commented on #34
Sounds good to me, Ann. Please let me know when you find out.

[2017-02-21 19:36] meesavag commented on #21
File upload to the core was unsuccessful. These samples have not been processed.

[2017-02-21 19:48] meesavag commented on #21
Working on re-formatting the manifest.

[2017-02-21 22:34] meesavag commented on #34
Katrina has asked Alex to re-upload the samples to a new amazon S3 bucket.

[2017-02-22 22:07] klearned commented on #21
@meesavag Thanks for your work on this. In the weekly Treehouse meeting we talked about expediting these small, non-compendium datasets. So, we need to actually have Rob run this through Treeshop. Make a comment in this ticket for Rob noting that this is ready and needs to be run through Treeshop since we're not uploading to the Core right now, linking to the manifest (Ann's original Treeshop mani

[2017-02-22 22:14] meesavag commented on #21
Here is the reformatted manifest for these samples:
https://docs.google.com/a/ucsc.edu/spreadsheets/d/1CBBUeSQXvy-YZ1MuTLpQpVgXaUsGw6hpA9jPPw0Fzl0/edit?usp=sharing

@rcurrie Can you please run these samples in Treeshop? Can you please put the output files here?
/pod/pstore/groups/treehouse/backed_up/Sanford

Thanks!

[2017-02-22 23:01] e-t-k opened #35 "Compendium v4"
In anticipation of compiling tumormap compendium v4, a checklist / location to collect thoughts.
Some of these steps are idiosyncratic to the v3->v4 transition ; others are general to compendia.

Will be updated as more thoughts are collected.

#### TCGA/TARGET v3 bad "zero" values
* see #25.  v3 expression from xena was re-de-normalized and values that should be 0 aren't. Need to re-re-de-normali

[2017-02-22 23:01] rcurrie commented on #21
Will run starting tomorrow after a batch for concordance is done. Should be finished by Friday.

[2017-02-22 23:13] meesavag commented on #21
Thank you, Rob!

[2017-02-23 00:06] meesavag commented on #34
We told Alex to stick with the original S3 bucket for now.
Here is the location for these files on /pod:

http://stacker.pod/backed_up/archive/input/fastq/TH03_0158_S01_RNASeq_R2.fastq.gz
http://stacker.pod/backed_up/archive/input/fastq/TH03_0158_S01_RNASeq_R1.fastq.gz
http://stacker.pod/backed_up/archive/input/fastq/TH03_0159_S01_RNASeq_R2.fastq.gz
http://stacker.pod/backed_up/archive/input/fastq

[2017-02-23 00:10] adurbin2 commented on #34
Sorry, I only grabbed the partial path - full path would be this: /pod/pstore/groups/treehouse/backed_up/archive/input/fastq/TH03_0161_S01_RNASeq_R2.fastq.gz

and so on

[2017-02-23 00:18] meesavag commented on #34
Here is the manifest for these samples:
https://docs.google.com/a/ucsc.edu/spreadsheets/d/1Mu8o9zN0xISOFbXIaIO_L77Nx9xOo9gN8PfjgoaP_Zw/edit?usp=sharing

[2017-02-23 00:24] adurbin2 commented on #34
Hi Meghan - May we go back to using the Treehouse IDs? The Stanford tarred samples under their original U names are in the Stanford folder; but we'd probably like to list these fastqs in the manifest:

sftp://stacker.pod/pod/pstore/groups/treehouse/backed_up/archive/input/fastq/TH03_0161_S01_RNASeq_R2.fastq.gz
sftp://stacker.pod/pod/pstore/groups/treehouse/backed_up/archive/input/fastq/TH03_0161_S

[2017-02-23 00:38] meesavag commented on #34
Here is the link for the manifest for these samples:
https://docs.google.com/a/ucsc.edu/spreadsheets/d/1Mu8o9zN0xISOFbXIaIO_L77Nx9xOo9gN8PfjgoaP_Zw/edit?usp=sharing

[2017-02-23 00:59] meesavag commented on #34
@rcurrie Can you please run these samples in Treeshop too? Thanks again!

[2017-02-23 18:54] adurbin2 commented on #34
@rcurrie @meesavag Ready to go --

[2017-02-23 23:36] adurbin2 commented on #34
From our partner: "Seems that the libraries were prepped in Mexico City and not of great quality, just an FYI." But this affects only sample TH03_0158_S01.

[2017-02-23 23:46] adurbin2 commented on #35
As a for-instance, could you enact the following name change? The EGAZ names are not ideal.

[Rename_EGAD00001000648.txt](https://github.com/UCSC-Treehouse/operations/files/798014/Rename_EGAD00001000648.txt)

[2017-02-23 23:49] e-t-k commented on #35
@adurbin2 Added "Rename_EGAD00001000648.txt" to checklist.

[2017-02-24 00:16] adurbin2 commented on #35
Oh - it was more of a hypothetical question, a "can you" not yet a "would you".

[2017-02-24 06:26] rcurrie commented on #34
Running

[2017-02-24 20:13] rcurrie commented on #34
2 complete with PASS so far:
/pod/pstore/groups/treehouse/treeshop/34/TH03_0159_S02/qc/readDist.txt_PASS_qc.txt
/pod/pstore/groups/treehouse/treeshop/34/TH03_0160_S01/qc/readDist.txt_PASS_qc.txt

[2017-02-25 07:49] rcurrie commented on #34
Processing complete:
PASS: TH03_0159_S02, TH03_0160_S01, TH03_0159_S01
FAIL: TH03_0158_S01
Output in: /pod/pstore/groups/treehouse/treeshop/34

[2017-02-25 17:46] rcurrie commented on #21
Unfortunately Treeshop isn't setup to run single ended files. I could go in and modify it, but as we're (hopefully) close to concordance on the core's 3.X.Y,  these are not super time sensitive, and rnaseq will go away from treeshop once we're up on the core I suggest we wait.

In the mean time I have run them through Kallisto in a Jupyter Notebook with very rough analysis:

https://jupyter.medboo

[2017-02-27 17:30] meesavag commented on #34
Output folders copied to the archive @adurbin2  @e-t-k
Output files in: /pod/pstore/groups/treehouse/backed_up/archive/output

[2017-02-27 17:41] e-t-k commented on #34
@meesavag @adurbin2  What's the status of this? Are they ready for tertiary processing? Should all of them be processed or just the PASS samples?

[2017-02-27 17:43] adurbin2 commented on #34
@e-t-k I believe we need to process all 4. The 0158 sample that didn't pass QC won't be able to go into v4 compendium though.
Confirmed archived; fastq and output pathnames retrieved.
@rcurrie OK to delete from treeshop workspace --

[2017-02-27 17:55] klearned commented on #21
@rcurrie I think these actually may be pretty time sensitive, @linhvoyo do you have a sense of how time sensitive these are?

@rcurrie when do you think we'll know about concordance?

[2017-02-27 19:59] linhvoyo commented on #21
@klearned I don't know how time sensitive they are. @hbeale might. @hbeale can you comment

[2017-02-27 21:14] hbeale commented on #21
Olena said they can wait and that the pnoc data Linh is working on next are
higher priority.

On Mon, Feb 27, 2017 at 12:12 PM linhvoyo <notifications@github.com> wrote:

[2017-02-27 23:22] e-t-k commented on #34
Automated tertiary analysis complete through pathway png generation for these samples. Results have been shared via email. They're also available on jupyter in the following batch: "thops_34.4alex.2017-02-27"

[2017-02-28 15:39] hbeale commented on #34
thank you!

On Mon, Feb 27, 2017 at 3:22 PM, e-t-k <notifications@github.com> wrote:

[2017-02-28 22:10] adurbin2 commented on #21
I've modified the [manifest](https://docs.google.com/spreadsheets/d/1CBBUeSQXvy-YZ1MuTLpQpVgXaUsGw6hpA9jPPw0Fzl0/edit#gid=0) to supply the original 4 single-end files for each of six samples (not the concatenated ones). @klearned @meesavag Meghan or Katrina, could you please upload this for the Core to process?

[2017-02-28 22:13] klearned commented on #21
thanks @adurbin2 ! We'll get these uploaded to the Core once it's been blessed.

[2017-02-28 22:16] klearned commented on #21
Actually, we need to go to the Core manifest style.

[2017-02-28 22:17] klearned commented on #21
Meghan, if you have a chance, can you use Ann's manifest with all 24 fils to update the Core style manifest you already made?

[2017-02-28 22:17] meesavag commented on #21
Yes! I will do that!

[2017-03-01 16:24] adurbin2 commented on #35
Thinking about collecting metadata from repository datasets, as discussed yesterday's lunch meeting. In many cases, an individual dataset will have specific detailed data on one interesting feature that won't be reported for any other datasets/samples in the Compendium. I want to know whether we distinguish a "No" value from a blank or "we-don't know" value. Should we try to have a default value f

[2017-03-01 16:34] adurbin2 commented on #35
I'm also planning to add a new field "pediatric_AYA" to contain the text values yes, no, or unknown. That way when age value is blank but the sample is known to be pediatric, we can report it as such without bollixing the numerical value in age_at_dx. (Age_at_dx will go back to being blank, for a pediatric sample without a specific number value.)

I will do this in REDCap, and in TreehouseIndex fo

[2017-03-01 17:05] e-t-k commented on #35
@adurbin2

This already exists. Tumormap accepts empty attribute values and grays out those samples. So what we need to do is affirmatively mark "no" when it is known to be no, and leave blank if it is unknown or unavailable.

re: pediatric_AYA:
 - fully in favor of adding this to allow us to normalize age_at_dx
 - what does "AYA" stand for ? I'd prefer spelling it out, eg pediatric_any_year_appro

[2017-03-01 17:12] adurbin2 commented on #35
Sorry - AYA means adolescent or young adult, and indicates age up to but not including 30 years. Ped_AYA is what Isabel would need to report, for example; it's often used in discussing/reporting peds cancer.

About the "unknown" value: When I search in ICGC for a specific sample, and find a value of "unknown", to me that needs to be brought back to the Index - if only so I don't find myself search

[2017-03-01 17:20] e-t-k commented on #35
Thanks.
re: ped_aya --  if it's a commonly understood term, that's fine.

re: unknown - ah, you're getting Rumsfeld on us.  A value of "unknown" will in fact be treated differently in tumormap than a blank value -- it will show up as a color, etc. (Tumormap doesn't treat the word "unknown" specially.)

So for a binary attribute X, what we're really distinguishing is --
- Yes : our source claims Sa

[2017-03-01 17:59] klearned commented on #35
This sound good for attributes that only require these four options: Yes,
No, Unkown, blank? However, I am assuming that there will also be other
types of fields that can take a range of options, e.g. Stage, Age,
cancer-type, etc, in addition to blank or unknown. Is that correct?

[2017-03-01 18:04] adurbin2 commented on #35
True. ICGC often has a Grade=Unknown or Stage=Unknown for our samples on file there.

It's  something we may want TumorMap to distinguish, possibly in shades of gray. Alternatively, I can keep the value of Unknown in my files, and we would simply obliterate any values of "unknown" as we grab annotation data for TumorMap (so that in fact it becomes a blank value). It's functionally important for me

[2017-03-01 18:08] e-t-k commented on #35
@klearned Yes, hence I specified "binary" attributes :-)  Other attributes which take a range of options (eg disease) can still display that entire range in addition to Unknown and (blank).

@adurbin2 Collapsing (blank) and "Unknown" as I process the files for Tumormap is something I can do if we decide that it's the correct action.
Mapping "Unknown" specifically to grey is more difficult; I under

[2017-03-01 18:25] klearned commented on #35
@e-t-k Got it 👍  thanks for clarifying!

[2017-03-01 18:59] e-t-k commented on #33
Tertiary analysis run on Jupyter for these samples, as well as 0006 S01 through 03, as of 02/17.  Batch "TH03.8addl.2017-02-17"; email thread "Fwd: outlier analysis of Pdx".

Sample ids:
TH03_0006_S01  TH03_0006_S02  TH03_0006_S03  TH03_0006_S04  TH03_0156_S01  TH03_0156_S02  TH03_0157_S01  TH03_0157_S02

[2017-03-01 22:52] adurbin2 commented on #35
With regard to ugly THIDs: The only Treehouse one I found was TH03_0113_S02_RNASeq (an artifact of the previous Pipeline RNASeq method). Yes, it can be renamed to drop off the _RNASeq. Let me know what's involved with that, so we work in tandem.

Non-THID uglies: There are some terrible-looking filenames we utilized back in October (before Katrina got involved, and extracted more suitable sample i

[2017-03-01 22:56] e-t-k commented on #35
@adurbin2 The following THIDs have an RNASeq appendage in compendium v3.
Note in particular TH01_0062_RNASeq and TH01_0063_RNASeq , which are missing their S0x, which is presumably but not certainly S01.

Haven't worked out the details of how to coordinate this yet.

TH01_0051_S01_RNASeq
TH01_0053_S01_RNASeq
TH01_0054_S01_RNASeq
TH01_0055_S01_RNASeq
TH01_0061_S01_RNASeq
TH01_0062_RNASeq
TH01_0063_

[2017-03-01 23:15] adurbin2 commented on #35
Clearly I was not looking in the right place! (those must be the output folder names). Shall I prepare a list of ugly vs acceptable filenames, as a start? Would the output pathnames be useful for this as well?

[2017-03-01 23:18] e-t-k commented on #35
@adurbin2 Yes! it  would be very helpful for me to have a table containing the following 3 columns:

| sample ID to be changed | correct sample ID | path on pod to rna-seq output |
|----|----|----|

[2017-03-02 22:32] meesavag commented on #21
@klearned @adurbin2
How is this for a re-formatted manifest? I replaced the Submitter Specimen ID and the Submitter Sample ID with Treehouse IDs and updated the manifest with the 24 files and their file paths.

https://docs.google.com/a/ucsc.edu/spreadsheets/d/11uNeBymxea29qIVyaqZp2JR6S58kXmonQU_YvD-hqUg/edit?usp=sharing

[2017-03-02 22:46] meesavag commented on #21
@klearned @adurbin2  Looking at the manifest I just posted above a second time. I guess we would need to rename the directories/file paths in addition to just changing the Submitter Specimen ID and the Submitter Sample ID to Treehouse IDs, since the file paths also contain information that we might not want to include on the manifest that will be visible on the File Browser...

[2017-03-03 07:11] klearned commented on #21
@meesavag yes, that is looking good. Did he Treehouse Ids for the Submitter Specimen ID and the Submitter Sample IDs already exist, or did Ann generate them for you? Just trying to follow along here and make sure I understand the process! good point about the path. However, it seems that the file path listed in the manifest doesn't actually be uploaded or recorded, but we should check with Brian o

[2017-03-03 07:17] klearned commented on #21
@meesavag @adurbin2 I spoke with Isabel this evening on the phone briefly, and one thing she also expressed is that we don't differentiate between "Compendium" and "Prospective" samples in the manifests. So, we need to think of a new project, maybe just "Expression Analysis" that we'll mark everything as?

[2017-03-03 08:41] klearned commented on #21
A few more things!

- We can't have center name = actual institution we received the data because with enough files in File Browser, someone could deduce the first part of the TH## numbering system. I think we need to just parse the Treehouse ID.
So, for

**Submitter Sample ID**: TH07_0155_S01
then
**Center Name**: TH07
**Donor ID**: 0155 (currently we have Exp1_JurkatVector_H2shRNAtarget, but it

[2017-03-03 19:09] meesavag commented on #21
I think these are all great ideas. I like the idea of parsing apart the Treehouse IDs. I definitely support having an entirely different name altogether for the Project. Great input. Thanks for this Katrina.

[2017-03-03 19:15] meesavag commented on #21
@klearned  The Submitter Specimen ID and the Submitter Sample IDs were taken from Ann's TreehouseIndex. She had assigned Treehouse IDs to each sample before I made the manifest. I pulled the IDs directly from the Index and filled them in accordingly.

[2017-03-03 23:04] meesavag commented on #21
Regarding the file paths...I heard from Carlos that the file paths on the upload manifest are only used to locate the files. They are not saved anywhere else. That being said, it is probably less important to make sure that the file paths do not contain any patient identifiers, but if we can avoid having any sensitive/protected information on the manifest, we should probably aim for that.

[2017-03-04 02:50] rcurrie commented on #21
Paths are not saved, but filenames are. I mentioned to core/brian the possibility of not storing the filename either which would make just identifiers need to be cleaned.

[2017-03-04 09:06] klearned commented on #21
@meesavag Looking at the updates you made to the manifest. The Donor Id column is displaying the donor ID, 0155, as, 155. Could you please format that column (column D) as plain text so we don't loose those leading zeros? Thanks! Way back when, @rcurrie mentioned these leading zeros may be a problem. We may want to check check with the Core. If these leading zeros pose a significant problem, then

[2017-03-04 16:56] rcurrie commented on #21
Leading zeros will be a huge problem, someone may dump it into excel separately even if we format it correctly as it may pass through tsv. Strongly suggest with make it a pure number, no leading zeros (display software can format and put leading zeros if we want), or pre-pend a letter to prevent the conversion.

[2017-03-04 17:14] e-t-k commented on #21
@rcurrie @meesavag @klearned
Hi Folks,
Per a meeting @rcurrie and I had with Brian on Dec 22, the donor IDs should be qualified with the treehouse identifier.

So:
*Center Name:* TH07
*Donor ID:* TH07_0155
*Sample ID:* TH07_0155_S01

Essentially, the Redwood query system groups identical IDs together. So if we had two samples TH01_0155_S01 and TH02_0155_S01, and they each had donor ID 0155, a quer

[2017-03-04 21:05] klearned commented on #21
Thanks @rcurrie and @e-t-k

@adurbin2 please correct me if I am wrong, but our current Donor IDs, e.g. 0155 in the example of TH07_0155_S01, are actually unique across all of the TH## ids. So, we don't repeat the same Donor ID unless it is the same person, so generally, TH01_0155_S01 and TH02_0155_S01 could not both exist. If they both did exist, it would actually be the same patient's samples fro

[2017-03-04 21:27] adurbin2 commented on #21
@klearned you are correct, there is only one instance of each donor ID in our current naming system  (so there wouldn't be a TH01_0158 and a TH02_0158).
The fact is we rarely get solid information about the specimen at the time we receive the specimen, so using a P number to precisely distinguish what tissue each specimen comes from is probably not workable, until we're working in a more rigorous

[2017-03-04 22:25] klearned commented on #21
Thank you all so much for your thoughts on this! I I've talked with a spokesperson from all the stake-holding Treehouse sub-groups and I am working on summarizing a proposal of a plan that incorporates all that I've learned and discussed with everyone. I hope to get this out to you all for review by Monday.

[2017-03-04 22:29] meesavag commented on #21
Thank you all for your comments.  Looking forward to seeing the review.

[2017-03-06 22:00] adurbin2 commented on #35
Well, we may decide not to do this small stuff while we have much bigger
issues to sort out... but here's a list to start with. I left the
repository files out of this - we'll deal with that elsewhere.

Thanks,
Ann

On Wed, Mar 1, 2017 at 3:18 PM, e-t-k <notifications@github.com> wrote:

--
*Ann Durbin*
Treehouse Data Coordinator
Genomics Institute, UCSC

[2017-03-06 23:56] klearned commented on #22
Hi Ann, Here is the updated manifest (with extra new column). It is ready for the Treehouse ID assignments.

[2017-03-08 07:13] klearned commented on #22
Ann has assigned the Treehouse Ids and put them in the manifest. I finalized the manifest and with Ellen's guidance, created the hard links to the files, which are here:
/pod/pstore/groups/treehouse/for_core
The recently added column, "Submitter Donor Primary Site," must be a Brenda Ontology term, so I am using, BTO:0000042, which is for "animal" (since we're "masking" all the real info).

I kicke

[2017-03-08 18:04] klearned commented on #22
Upload Update: Started 11 hours ago, and 144/252 files are uploaded so far. You can see them in the [Core File Browser](http://ucsc-cgl.org/file_browser/). They're listed as Center: THR08.

[2017-03-08 18:49] e-t-k opened #36 "custom outlier analysis for brain samples for presentation"
Keeping track of my own tasks here.

## [DONE] Run expression-variance filters on Lauren's pan brain + cell line cohort
- [X] filters run, output delivered to Lauren
- Cohort is provided on pod.
- 60499 genes vs 958 samples, ensembl, TPM but NOT log2 normalized.
- Fine to run expression variance filters on non-normalized as expression is unchanged and variance ranking is unchanged.
- [x] : does th

[2017-03-08 19:27] klearned commented on #21
[New manifest](https://docs.google.com/a/ucsc.edu/spreadsheets/d/11uNeBymxea29qIVyaqZp2JR6S58kXmonQU_YvD-hqUg/edit?usp=sharing) is ready (old was relegated to another sheet in the workbook). I created the hard links, which are here:
/pod/pstore/groups/treehouse/for_core
Since these are cell lines, for Submitter Donor Primary Site
I used, BTO:0000214 = cell culture (which is still a very vague & hi

[2017-03-08 19:50] klearned commented on #31
@adurbin2  this one is ready for Treehouse Ids: [manifest](https://docs.google.com/a/ucsc.edu/spreadsheets/d/1OTeeXZ03KUrqFc--hwpmqKzE0B_pTfL2wffEd2YDG-Y/edit?usp=sharing), thanks!!

[2017-03-08 20:21] klearned commented on #32
@adurbin2, this [manifest](https://docs.google.com/spreadsheets/d/1lhufS3ZagjC87CaU_IKUfszGNLyiKbXESC_6p5nrZIg/edit#gid=1815526255) is ready for Treehouse Ids. Note, this set is really a subset of the entire dataset, most of which were previously run, Detailed file spreadsheet: [EGAD00001001666 LGG Epilepsy Cohort RNA-Seq](https://docs.google.com/a/ucsc.edu/spreadsheets/d/1osCWejRdOZ6hYgK7olC9qDSK

[2017-03-08 20:23] adurbin2 commented on #32
Just need to discuss what THR ID these will get - the sample IDs are easy to sort out but did we arrive at a solution for the "partner"  dataset numbering?

[2017-03-08 20:26] klearned commented on #32
@adurbin2 I think we decided to do next available number in line, so THR09?

[2017-03-08 20:27] klearned commented on #32
or THR9, either works

[2017-03-08 20:39] adurbin2 commented on #32
Yes, we'll go sequentially. But we had discussed using the THR number to identify a "partner" as it does for our clinical partners - so that St Jude, or EGA, or ICGC, each would have their own THR numbers.
The alternative is to give every dataset its own THR number.
We already identify the specific dataset by using a field called "dataset" that means we can always search for a given dataset, or hi

[2017-03-08 20:42] e-t-k commented on #32
@adurbin2 @klearned I have no preference on granularity of THR numbers; whatever you two conclude is fine with me.

[2017-03-08 20:50] klearned commented on #32
@adurbin2 I'd like to go with a THR# per dataset.

[2017-03-08 21:08] klearned commented on #27
@adurbin2 this [manifest](https://docs.google.com/spreadsheets/d/1ncWEbj7aHtcrZqi8_Pb82lYSVRrbmwr-X9ONSwIF2jY/edit#gid=217189623) is also now ready for Treehouse Ids. Thank you!

[2017-03-08 21:12] klearned commented on #23
@adurbin2 OK, the [manifest](https://docs.google.com/spreadsheets/d/1o2nivDfwlAku9xfa28o5-IhVRxkjSMyvzs4ySalB2Cs/edit#gid=1977288675) for this dataset is also now ready for Treehouse IDs. Thank you!!

[2017-03-08 22:06] adurbin2 commented on #32
OK I have added the THR identifiers - still with the leading zeroes for the moment - to the [manifest](https://docs.google.com/spreadsheets/d/1OTeeXZ03KUrqFc--hwpmqKzE0B_pTfL2wffEd2YDG-Y/edit#gid=2115017075). Sending back to you for review and possibly hard links

[2017-03-08 23:33] adurbin2 commented on #27
done! Needs hard links?

[2017-03-08 23:36] adurbin2 commented on #23
Done! And I think Holly's prior comment (I just read it) actually answers my question about the first patient - it's just one sample with six fastqs. So I have removed the colors and resolved my comment.

[2017-03-09 03:37] klearned commented on #21
Just started uploading these to the Core.

[2017-03-09 05:10] klearned commented on #31
Ann assigned Treehouse Ids, I created hard links, /pod/pstore/groups/treehouse/for_core/THR09, and added them to the manifest. This is ready to upload as soon as the last one is done.

[2017-03-09 05:20] klearned commented on #32
Thanks @adurbin2. Here is the link to the [manifest](https://docs.google.com/spreadsheets/d/1lhufS3ZagjC87CaU_IKUfszGNLyiKbXESC_6p5nrZIg/edit#gid=181552625). I think you accidentally missed this one, the manifest you link to above is a different dataset. Please assign the Treehouse Ids for this one. Thank you!!

[2017-03-09 06:01] klearned commented on #27
@adurbin2 Thanks! OK, I created the hard links:
/pod/pstore/groups/treehouse/for_core/THR11
So, these are ready to upload, too! I'll start the upload when the datasets queued up in front of it are done.

[2017-03-09 06:24] klearned commented on #23
OK, the manifest is ready.
I asked Linh to give group write permissions on the files, then I can create the hard links, which will be here: /pod/pstore/groups/treehouse/for_core/THR10

[2017-03-09 06:29] klearned commented on #23
files needing permission change are here:
/pod/pstore/groups/treehouse/published-data/stjude/EGAD00001002680/fastq

[2017-03-09 06:31] e-t-k commented on #23
@klearned I changed the perms, let me know if it didn't work (not sure if you need folder perms or just the files.)

`chmod g+w *.gz`